Repository percona/percona-server-mongodb-operator, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, ci-cd, dockerfile, olm, dependencies

.github/labeler.yml:

documentation:
  - changed-files:
    - any-glob-to-any-file:
      - 'README*'
      - 'CONTRIBUTING*'
      - 'code-of-conduct*'

tests:
  - changed-files:
    - any-glob-to-any-file:
      - 'e2e-tests/**'
      - 'Jenkinsfile*'

ci-cd:
  - changed-files:
     - any-glob-to-any-file: '.github/workflows/**'

dockerfile:
  - changed-files:
    - any-glob-to-any-file: 'build/Dockerfile'

olm:
  - changed-files:
    - any-glob-to-any-file: 'installers/olm/**'

dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'go.mod'
      - 'go.sum'

K8SPSMDB-1290: Bump PBM to v2.9.0 (#1828)
  e2e-tests/balancer/conf/some-name-rs0.yml
  e2e-tests/balancer/data.js
  e2e-tests/balancer/run
  e2e-tests/functions
  go.mod
  go.sum
  pkg/controller/perconaservermongodb/connections.go
  pkg/controller/perconaservermongodb/mgo.go
  pkg/controller/perconaservermongodb/secrets.go
  pkg/controller/perconaservermongodbrestore/perconaservermongodbrestore_controller.go
  pkg/psmdb/client.go
  pkg/psmdb/connections.go
  pkg/psmdb/credentials.go
Labels: tests, dependencies

handle 1.20 uri
  pkg/psmdb/statefulset.go
Labels: none

add chenges into Jenkinsfile for tests
  Jenkinsfile
Labels: tests

remove Jenkinsfile
  Jenkinsfile
Labels: tests

more tests
  .github/workflows/labeler.yml
  Jenkinsfile
Labels: tests, ci-cd

remove changes from Jenkinsfile
  Jenkinsfile
Labels: tests
