Repository percona/percona-server-mongodb-operator, pull requests merged in 2020-08, with the labels that each got.

#392 K8SPSMDB-242: Ignore network error after doing step down
  pkg/psmdb/mongo/mongo.go
Labels: size/S

#393 K8SPSMDB-244: Add missed unlock in reconcile loop
  pkg/controller/perconaservermongodb/psmdb_controller.go
Labels: size/S

#391 K8SPSMDB-229 mention secret keys are base64 encoded
  source/backups.rst
Labels: size/XS

#395 K8SPSMDB-243: Set defaults after getting updated CR.
  pkg/controller/perconaservermongodb/version.go
Labels: size/XS

#397 CLOUD-566: Fix issue with cached version service URL
  pkg/controller/perconaservermongodb/psmdb_controller.go
  pkg/controller/perconaservermongodb/version.go
  pkg/controller/perconaservermongodb/vs.go
Labels: size/S

#399 Change log message if current version is empty
  pkg/controller/perconaservermongodb/version.go
Labels: size/S

#386 CLOUD-560 - don't mention master term
  source/index.rst
Labels: docs, size/XS

#403 Fix compare_mongo_user for generic PSMDB docker images
  e2e-tests/functions
Labels: size/XS

#405 Fix one-pod test - PBM doesn't release a lock soon enough after backup
  e2e-tests/one-pod/run
Labels: size/XS

#402 CLOUD-565 Add VMWare Tanzu to the list of platforms
  source/System-Requirements.rst
Labels: size/XS

#406 Fix upgrade test to allow using images from percona-server-mongodb repo
  e2e-tests/upgrade/run
Labels: size/XS

#404 K8SPSMDB-233 New users check
  Jenkinsfile
  e2e-tests/arbiter/compare/statefulset_arbiter-clusterip-rs0-arbiter-oc.yml
  e2e-tests/arbiter/compare/statefulset_arbiter-clusterip-rs0-arbiter.yml
  e2e-tests/arbiter/compare/statefulset_arbiter-rs0-arbiter-oc.yml
  e2e-tests/arbiter/compare/statefulset_arbiter-rs0-arbiter.yml
  e2e-tests/demand-backup/compare/statefulset_some-name-rs0-oc.yml
  e2e-tests/demand-backup/compare/statefulset_some-name-rs0.yml
  e2e-tests/functions
  e2e-tests/init-deploy/compare/statefulset_another-name-rs0-oc.yml
  e2e-tests/init-deploy/compare/statefulset_another-name-rs0.yml
  e2e-tests/init-deploy/compare/statefulset_some-name-rs0-oc.yml
  e2e-tests/init-deploy/compare/statefulset_some-name-rs0.yml
  e2e-tests/limits/compare/statefulset_no-limits-rs0-increased-oc.yml
  e2e-tests/limits/compare/statefulset_no-limits-rs0-increased.yml
  e2e-tests/limits/compare/statefulset_no-limits-rs0-oc.yml
  e2e-tests/limits/compare/statefulset_no-limits-rs0.yml
  e2e-tests/limits/compare/statefulset_no-requests-no-limits-rs0-increased-oc.yml
  e2e-tests/limits/compare/statefulset_no-requests-no-limits-rs0-increased.yml
  e2e-tests/limits/compare/statefulset_no-requests-no-limits-rs0-oc.yml
  e2e-tests/limits/compare/statefulset_no-requests-no-limits-rs0.yml
  e2e-tests/limits/compare/statefulset_no-requests-rs0-increased-oc.yml
  e2e-tests/limits/compare/statefulset_no-requests-rs0-increased.yml
  e2e-tests/limits/compare/statefulset_no-requests-rs0-oc.yml
  e2e-tests/limits/compare/statefulset_no-requests-rs0.yml
  e2e-tests/liveness/compare/statefulset_liveness-rs0-changed-oc.yml
  e2e-tests/liveness/compare/statefulset_liveness-rs0-changed.yml
  e2e-tests/liveness/compare/statefulset_liveness-rs0-oc.yml
  e2e-tests/liveness/compare/statefulset_liveness-rs0.yml
  e2e-tests/monitoring-2-0/compare/statefulset_monitoring-rs0-oc.yml
  e2e-tests/monitoring-2-0/compare/statefulset_monitoring-rs0.yml
  e2e-tests/monitoring/compare/statefulset_monitoring-rs0-oc.yml
  e2e-tests/monitoring/compare/statefulset_monitoring-rs0.yml
  e2e-tests/one-pod/compare/statefulset_one-pod-rs0-oc.yml
  e2e-tests/one-pod/compare/statefulset_one-pod-rs0.yml
  e2e-tests/scheduled-backup/compare/statefulset_some-name-rs0-oc.yml
  e2e-tests/scheduled-backup/compare/statefulset_some-name-rs0.yml
  e2e-tests/security-context/compare/statefulset_sec-context-rs0-changed.yml
  e2e-tests/security-context/compare/statefulset_sec-context-rs0.yml
  e2e-tests/service-per-pod/compare/statefulset_cluster-ip-rs0-oc.yml
  e2e-tests/service-per-pod/compare/statefulset_cluster-ip-rs0.yml
  e2e-tests/service-per-pod/compare/statefulset_local-balancer-rs0-oc.yml
  e2e-tests/service-per-pod/compare/statefulset_local-balancer-rs0.yml
  e2e-tests/storage/compare/statefulset_emptydir-rs0-oc.yml
  e2e-tests/storage/compare/statefulset_emptydir-rs0.yml
  e2e-tests/storage/compare/statefulset_hostpath-rs0-oc.yml
  e2e-tests/storage/compare/statefulset_hostpath-rs0.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-rs0-150-oc.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-rs0-150.yml
  e2e-tests/users/conf/secrets.yml
  e2e-tests/users/run
  pkg/controller/perconaservermongodb/mgo.go
  pkg/controller/perconaservermongodb/psmdb_controller.go
  pkg/controller/perconaservermongodb/smart.go
  pkg/controller/perconaservermongodb/users.go
  pkg/controller/perconaservermongodb/version.go
  pkg/psmdb/backup/agent.go
  pkg/psmdb/backup/pbm.go
  pkg/psmdb/container.go
  pkg/psmdb/mongo/models.go
  pkg/psmdb/mongo/mongo.go
Labels: size/XL

#411 K8SPSMDB-234 GKE version upgrade
  source/System-Requirements.rst
Labels: docs, size/XS

#409 K8SPSMDB-226 document the helm chart
  source/helm.rst
  source/index.rst
Labels: docs, size/M

#396 K8SPSMDB-239 update the upgrade page
  source/update.rst
Labels: docs, size/L

#412 K8SPSMDB-234 limits test should not wait for cluster readyness
  e2e-tests/limits/run
Labels: size/XS
