Repository percona/percona-server-mongodb-operator, pull requests merged in 2020-11, with the labels that each got.

#439 K8SPSMDB-121: Sharding
  build/ps-entry.sh
  deploy/cr.yaml
  go.mod
  go.sum
  pkg/apis/psmdb/v1/psmdb_defaults.go
  pkg/apis/psmdb/v1/psmdb_types.go
  pkg/apis/psmdb/v1/zz_generated.deepcopy.go
  pkg/controller/perconaservermongodb/mgo.go
  pkg/controller/perconaservermongodb/psmdb_controller.go
  pkg/controller/perconaservermongodb/status.go
  pkg/psmdb/const.go
  pkg/psmdb/mongo/models.go
  pkg/psmdb/mongo/mongo.go
  pkg/psmdb/mongos.go
  pkg/psmdb/service.go
  pkg/psmdb/statefulset.go
  vendor/github.com/google/go-cmp/cmp/compare.go
  vendor/github.com/google/go-cmp/cmp/export_panic.go
  vendor/github.com/google/go-cmp/cmp/export_unsafe.go
  vendor/github.com/google/go-cmp/cmp/internal/diff/diff.go
  vendor/github.com/google/go-cmp/cmp/internal/value/name.go
  vendor/github.com/google/go-cmp/cmp/internal/value/pointer_purego.go
  vendor/github.com/google/go-cmp/cmp/internal/value/pointer_unsafe.go
  vendor/github.com/google/go-cmp/cmp/path.go
  vendor/github.com/google/go-cmp/cmp/report.go
  vendor/github.com/google/go-cmp/cmp/report_compare.go
  vendor/github.com/google/go-cmp/cmp/report_references.go
  vendor/github.com/google/go-cmp/cmp/report_reflect.go
  vendor/github.com/google/go-cmp/cmp/report_slices.go
  vendor/github.com/google/go-cmp/cmp/report_text.go
  vendor/golang.org/x/crypto/blake2b/blake2b.go
  vendor/golang.org/x/crypto/ssh/terminal/terminal.go
  vendor/golang.org/x/net/http2/transport.go
  vendor/golang.org/x/net/publicsuffix/table.go
  vendor/golang.org/x/sync/semaphore/semaphore.go
  vendor/modules.txt
  vendor/sigs.k8s.io/controller-runtime/pkg/runtime/scheme/scheme.go
Labels: size/XXL

#448 Remove unused pending state
  pkg/apis/psmdb/v1/psmdb_types.go
Labels: size/XS

#446 K8SPSMDB-211 minor formatting improvement
  source/TLS.rst
Labels: size/XS

#447 K8SPSMDB-293: Use same version of init image as cr version
  pkg/controller/perconaservermongodb/psmdb_controller.go
  pkg/psmdb/mongos.go
Labels: size/S

#442 CLOUD-579 - Fix upgrade test
  e2e-tests/upgrade/compare/statefulset_upgrade-rs0-oc.yml
  e2e-tests/upgrade/compare/statefulset_upgrade-rs0.yml
  e2e-tests/upgrade/conf/upgrade-rs0.yml
  e2e-tests/upgrade/run
Labels: size/L, tests

#452 Fix upgrade-consistency and version-service test
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-rs0-160-oc.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-rs0-160.yml
  e2e-tests/version-service/conf/version-service-exact-rs0.yml
  e2e-tests/version-service/conf/version-service-latest-rs0.yml
  e2e-tests/version-service/conf/version-service-recommended-rs0.yml
  e2e-tests/version-service/conf/version-service-unreachable-rs0.yml
  e2e-tests/version-service/run
Labels: size/S, tests

#453 K8SPSMDB-296 fix sfs annotations
  pkg/controller/perconaservermongodb/psmdb_controller.go
Labels: size/XS

#454 K8SPSMDB-121 - Add antiAffinityTopologyKey for mongos and fix indentation for auditLog
  deploy/cr.yaml
Labels: size/M

#457 K8SPSMDB-312 - comment antiAffinity for mongos
  deploy/cr.yaml
Labels: size/XS

#461 K8SPSMDB-311: Remove 'operationProfiling' section from deploy/cr.yaml for mongos
  deploy/cr.yaml
Labels: size/XS

#463 Fix wait_backup_agent function for parsing new PBM logs
  e2e-tests/functions
Labels: size/XS

#455 Demand backup sharded
  Jenkinsfile
  e2e-tests/demand-backup-sharded/compare/find-2nd.json
  e2e-tests/demand-backup-sharded/compare/find.json
  e2e-tests/demand-backup-sharded/compare/statefulset_some-name-cfg.yml
  e2e-tests/demand-backup-sharded/compare/statefulset_some-name-rs0-oc.yml
  e2e-tests/demand-backup-sharded/compare/statefulset_some-name-rs0.yml
  e2e-tests/demand-backup-sharded/conf/backup-aws-s3.yml
  e2e-tests/demand-backup-sharded/conf/backup-gcp-cs.yml
  e2e-tests/demand-backup-sharded/conf/backup-minio.yml
  e2e-tests/demand-backup-sharded/conf/restore.yml
  e2e-tests/demand-backup-sharded/conf/some-name-rs0.yml
  e2e-tests/demand-backup-sharded/run
  e2e-tests/functions
  e2e-tests/run
  pkg/controller/perconaservermongodb/status.go
  pkg/psmdb/backup/agent.go
Labels: size/XXL, tests

#460 K8SPSMDB-218 update resource options
  source/operator.rst
Labels: docs, size/L

#458 K8SPSMDB-309: Fix ClusterIP
  deploy/cr.yaml
  pkg/controller/perconaservermongodb/psmdb_controller.go
  pkg/psmdb/mongos.go
Labels: size/M

#459 K8SPSMDB-312: Fix antiAffinity for mongos
  e2e-tests/arbiter/compare/statefulset_arbiter-rs0-arbiter-oc.yml
  e2e-tests/arbiter/compare/statefulset_arbiter-rs0-arbiter.yml
  e2e-tests/demand-backup-sharded/compare/statefulset_some-name-cfg.yml
  e2e-tests/limits/compare/statefulset_no-limits-rs0-increased-oc.yml
  e2e-tests/limits/compare/statefulset_no-limits-rs0-increased.yml
  e2e-tests/limits/compare/statefulset_no-limits-rs0-oc.yml
  e2e-tests/limits/compare/statefulset_no-limits-rs0.yml
  e2e-tests/limits/compare/statefulset_no-requests-no-limits-rs0-increased-oc.yml
  e2e-tests/limits/compare/statefulset_no-requests-no-limits-rs0-increased.yml
  e2e-tests/limits/compare/statefulset_no-requests-no-limits-rs0-oc.yml
  e2e-tests/limits/compare/statefulset_no-requests-no-limits-rs0.yml
  e2e-tests/limits/compare/statefulset_no-requests-rs0-increased-oc.yml
  e2e-tests/limits/compare/statefulset_no-requests-rs0-increased.yml
  e2e-tests/limits/compare/statefulset_no-requests-rs0-oc.yml
  e2e-tests/limits/compare/statefulset_no-requests-rs0.yml
  e2e-tests/one-pod/compare/statefulset_one-pod-rs0-oc.yml
  e2e-tests/one-pod/compare/statefulset_one-pod-rs0.yml
  pkg/apis/psmdb/v1/psmdb_defaults.go
  pkg/controller/perconaservermongodb/psmdb_controller.go
  pkg/psmdb/mongos.go
  pkg/psmdb/statefulset.go
Labels: size/M

#466 K8SPSMDB-317: Disable arbiter for config replset
  pkg/apis/psmdb/v1/psmdb_defaults.go
Labels: size/XS

#465 K8SPSMDB-316: Fix config service removing
  pkg/controller/perconaservermongodb/external_service.go
  pkg/controller/perconaservermongodb/psmdb_controller.go
Labels: size/S

#462 K8SPSMDB-303 Manage users with sharded cluster
  pkg/controller/perconaservermongodb/psmdb_controller.go
  pkg/controller/perconaservermongodb/smart.go
  pkg/controller/perconaservermongodb/users.go
Labels: size/L

#468 K8SPSMDB-314: Fix pause for mongos
  deploy/cr.yaml
  pkg/apis/psmdb/v1/psmdb_defaults.go
Labels: size/XS

#473 K8SPSMDB-324: Add disruption budget for mongos
  deploy/cr.yaml
  pkg/controller/perconaservermongodb/psmdb_controller.go
  pkg/psmdb/mongos.go
Labels: size/S

#469 K8SPSMDB-266 Use planetext secrets
  deploy/secrets.yaml
Labels: size/S
