Repository percona/percona-server-mongodb-operator, pull requests merged in 2020-09, with the labels that each got.

#414 CLOUD-526 remove tr in favor of sed to avoid error when url contains …
  source/api.rst
Labels: size/XS

#400 K8SPSMDB-233 update users doc with automated system users management...
  source/users.rst
Labels: docs, size/L

#415 K8SPSMDB-256 - Update for release 1.5.0
  deploy/bundle.yaml
  deploy/cr.yaml
  deploy/operator.yaml
Labels: size/S

#417 fix width of foldable sections
  source/api.rst
Labels: size/XS

#416 K8SPSMDB-234 Fix for backup test on minikube
  e2e-tests/demand-backup/run
Labels: size/XS

#418 mention the existence of the internal users secrets
  source/users.rst
Labels: size/XS

#420 Fix wait_backup_agent func in e2e-tests for PBM 1.3.x
  e2e-tests/functions
Labels: size/XS

#398 Rn 1.5.0
  source/RN/Kubernetes-Operator-for-PSMONGODB-RN1.5.0.rst
  source/RN/index.rst
  source/System-Requirements.rst
  source/conf.py
  source/custom-registry.rst
  source/debug.rst
  source/index.rst
Labels: docs, size/L

#421 K8SPSMDB-217 update image versions in installation and updgrade docs
  source/conf.py
  source/eks.rst
  source/gke.rst
  source/kubernetes.rst
  source/minikube.rst
  source/openshift.rst
  source/update.rst
  source/users.rst
Labels: size/S

#422 K8SPSMDB-218 update few lost custom resoucer options
  source/api.rst
  source/custom-registry.rst
  source/operator.rst
Labels: size/L

#423 K8SPSMDB-218 update helm chart doc
  source/helm.rst
Labels: size/S

#424 K8SPSMDB-218 make chart doc Helm 2.x compatible
  source/helm.rst
Labels: size/XS

#425 fix acronyms and pdf title
  source/RN/Kubernetes-Operator-for-PSMONGODB-RN1.5.0.rst
  source/conf.py
Labels: size/XS

#426 Fix wait_backup_agent func in e2e-tests for PBM 1.3.x
  e2e-tests/functions
Labels: size/XS

#427 K8SPSMDB-256 - Increment versions after 1.5.0 release
  deploy/crd.yaml
  e2e-tests/functions
  e2e-tests/upgrade-consistency/compare/service_some-name-rs0-160.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-rs0-160-oc.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-rs0-160.yml
  e2e-tests/upgrade-consistency/run
  version/version.go
Labels: size/L

#419 PSMDB-686 add psmdb v4.4 support to ps-entry.sh
  build/ps-entry.sh
Labels: size/XS

#429 K8SPXC-449 update minikube version
  source/System-Requirements.rst
  source/encryption.rst
Labels: size/XS

#428 K8SPSMDB-261 fix pause
  pkg/apis/psmdb/v1/psmdb_defaults.go
Labels: size/XS
