Repository percona/percona-server-mongodb-operator, pull requests merged in 2020-07, with the labels that each got.

#382 CLOUD-556 Remove extra fields in 1.17 k8s
  e2e-tests/functions
Labels: size/XS

#383 K8SPSMDB-198 Rename MongoStatus back to Status
  pkg/apis/psmdb/v1/psmdb_types.go
  pkg/controller/perconaservermongodb/status.go
  pkg/controller/perconaservermongodb/version.go
  pkg/controller/perconaservermongodbbackup/perconaservermongodbbackup_controller.go
Labels: size/S

#384 CLOUD-505 remove pmm from docs
  source/index.rst
  source/monitoring.rst
Labels: size/M
