Repository percona/percona-server-mongodb-operator, pull requests merged in 2020-10, with the labels that each got.

#433 K8SPSMDB-269: fix users e2e test
  e2e-tests/users/run
Labels: size/XS

#435 Fix linter warnings
  e2e-tests/users/run
  pkg/apis/psmdb/v1/psmdb_defaults.go
  pkg/apis/psmdb/v1/psmdb_types.go
  pkg/apis/psmdb/v1/register.go
  pkg/controller/perconaservermongodb/mgo.go
  pkg/controller/perconaservermongodb/psmdb_controller.go
  pkg/controller/perconaservermongodb/smart.go
  pkg/controller/perconaservermongodb/status.go
  pkg/controller/perconaservermongodb/users.go
  pkg/controller/perconaservermongodb/version.go
  pkg/controller/perconaservermongodbbackup/perconaservermongodbbackup_controller.go
  pkg/controller/perconaservermongodbrestore/perconaservermongodbrestore_controller.go
  pkg/psmdb/mongo/mongo.go
  version/server.go
Labels: size/L

#437 K8SPSMDB-271 fix manual generation of certificates
  source/TLS.rst
  source/backups.rst
  source/eks.rst
  source/gke.rst
  source/img/gke-quickstart-cluster-connect.png
  source/img/gke-quickstart-object-browser-details.png
  source/img/gke-quickstart-object-browser-error.png
  source/img/gke-quickstart-object-browser.png
Labels: size/M

#436 enable reproducible-builds
  Jenkinsfile
  e2e-tests/build
Labels: size/S

#438 K8SPSMDB-268 update cert-manager version
  source/TLS.rst
Labels: size/XS

#434 K8SPSMDB-268: TLS fix
  deploy/rbac.yaml
  e2e-tests/functions
  e2e-tests/init-deploy/run
  e2e-tests/users/run
  pkg/controller/perconaservermongodb/mgo.go
  pkg/controller/perconaservermongodb/smart.go
  pkg/controller/perconaservermongodb/ssl.go
  pkg/controller/perconaservermongodb/users.go
  pkg/controller/perconaservermongodb/version.go
  pkg/psmdb/mongo/mongo.go
  pkg/psmdb/tls/tls.go
Labels: size/L

#390 K8SPSMDB-232: Add smart-update test
  Jenkinsfile
  deploy/cr.yaml
  e2e-tests/functions
  e2e-tests/run
  e2e-tests/smart-update/compare/statefulset_smart-update-rs0.yml
  e2e-tests/smart-update/conf/smart-update-rs0.yml
  e2e-tests/smart-update/run
  e2e-tests/version-service/compare/statefulset_version-service-exact-rs0.yml
  e2e-tests/version-service/compare/statefulset_version-service-latest-rs0.yml
  e2e-tests/version-service/compare/statefulset_version-service-recommended-rs0.yml
  e2e-tests/version-service/compare/statefulset_version-service-unreachable-rs0.yml
  e2e-tests/version-service/conf/crd.yaml
  e2e-tests/version-service/conf/operator.9.9.9.psmdb-operator.dep.json
  e2e-tests/version-service/conf/operator.9.9.9.psmdb-operator.json
  e2e-tests/version-service/conf/version-service-exact-rs0.yml
  e2e-tests/version-service/conf/version-service-latest-rs0.yml
  e2e-tests/version-service/conf/version-service-recommended-rs0.yml
  e2e-tests/version-service/conf/version-service-unreachable-rs0.yml
  e2e-tests/version-service/conf/vs.yml
  e2e-tests/version-service/run
  pkg/controller/perconaservermongodb/vs.go
Labels: size/XXL, tests

#444 K8SPSMDB-289 - make it possible to specify custom init image
  pkg/apis/psmdb/v1/psmdb_types.go
  pkg/controller/perconaservermongodb/psmdb_controller.go
Labels: size/XS

#441 K8SPSMDB-258 MongoDB 4.4 version integration
  e2e-tests/functions
  e2e-tests/init-deploy/compare/backup-44.json
  e2e-tests/init-deploy/compare/clusterAdmin-44.json
  e2e-tests/init-deploy/compare/clusterMonitor-44.json
  e2e-tests/init-deploy/compare/userAdmin-44.json
  e2e-tests/upgrade/compare/statefulset_upgrade-rs0-oc.yml
  e2e-tests/upgrade/compare/statefulset_upgrade-rs0.yml
  e2e-tests/upgrade/run
  pkg/psmdb/mongo/mongo.go
Labels: size/XXL, tests
