Repository percona/percona-server-mongodb-operator, pull requests merged in 2020-06, with the labels that each got.

#371 CLOUD-543 hide vendor changes in PRs
  .gitattributes
Labels: size/XS

#372 K8SPSMDB-207: add generic ps-entry.sh
  build/ps-entry.sh
Labels: size/M

#373 Fix ps-entry
  build/ps-entry.sh
  go.sum
  pkg/psmdb/container.go
Labels: size/XS

#374 CLOUD-546 Switching to HELM v3
  Jenkinsfile
  e2e-tests/demand-backup/run
  e2e-tests/functions
  e2e-tests/liveness/run
  e2e-tests/monitoring-2-0/run
  e2e-tests/monitoring/run
  e2e-tests/one-pod/run
  e2e-tests/scheduled-backup/run
  e2e-tests/security-context/run
  e2e-tests/upgrade/run
Labels: size/M

#376 K8SPSMDB-213 use v symbol in version tag
  source/kubernetes.rst
  source/minikube.rst
  source/openshift.rst
Labels: size/XS

#377 K8SPSMDB-69 Enable pbm for test
  e2e-tests/self-healing/run
Labels: size/XS

#378 CLOUD-403 update pmm installation instructions
  source/monitoring.rst
Labels: size/M

#379 K8SPXC-320 improve link to options; try using a single-option link
  source/operator.rst
  source/scaling.rst
Labels: size/XS

#381 CLOUD-537 improve the operator options page
  source/operator.rst
Labels: size/XL
