Repository percona/percona-server-mongodb-operator, pull requests merged in 2020-12, with the labels that each got.

#475 K8SPSMDB-319: Add connection endpoint to cr output
  deploy/cr.yaml
  deploy/crd.yaml
  pkg/apis/psmdb/v1/psmdb_types.go
  pkg/controller/perconaservermongodb/status.go
Labels: size/M

#467 K8SPSMDB-305: Make possible to configure storage for each Replica Set
  deploy/cr.yaml
  e2e-tests/run
  pkg/apis/psmdb/v1/psmdb_defaults.go
  pkg/apis/psmdb/v1/psmdb_types.go
  pkg/psmdb/container.go
Labels: size/L

#477 K8SPSMDB-325: Do not reconcile cluster if Paused
  pkg/controller/perconaservermongodb/mgo.go
  pkg/controller/perconaservermongodb/smart.go
Labels: size/S

#451 K8SPSMDB-286 create FAQ - initial version
  source/faq.rst
  source/index.rst
Labels: docs, size/M

#450 K8SPSMDB-298 make separate doc for image hashes
  source/custom-registry.rst
  source/images.rst
  source/index.rst
Labels: docs, size/L

#476 CLOUD-538-add-pictures-to-backups-doc
  source/assets/images/backup-s3.png
  source/assets/images/sources/backups.odg
  source/backups.rst
Labels: docs

#470 K8SPSMDB-266 Doc update for secret update
  source/kubernetes.rst
  source/openshift.rst
  source/users.rst
Labels: docs, size/M

#472 K8SPSMDB-292: Fix smart update scheduling for multiple clusters
  pkg/controller/perconaservermongodb/psmdb_controller.go
  pkg/controller/perconaservermongodb/version.go
Labels: size/M

#478 K8SPSMDB-326: Fix balancer false start
  pkg/controller/perconaservermongodb/psmdb_controller.go
  pkg/controller/perconaservermongodb/smart.go
Labels: size/M

#474 K8SPSMDB-277 Add Licenses from packages
  build/Dockerfile
Labels: size/S

#483 Fix setting MONGO_VER from different images in smart-update test
  e2e-tests/smart-update/run
Labels: size/XS, tests

#443 K8SPSMDB-282 integrate pmm into PSMDBO
  Jenkinsfile
  deploy/cr.yaml
  deploy/secrets.yaml
  e2e-tests/functions
  e2e-tests/monitoring-2-0/compare/statefulset_monitoring-rs0-oc.yml
  e2e-tests/monitoring-2-0/compare/statefulset_monitoring-rs0.yml
  e2e-tests/monitoring-2-0/run
  pkg/controller/perconaservermongodb/psmdb_controller.go
  pkg/psmdb/pmm.go
Labels: size/L

#486 K8SPSMDB-312 - add antiAffinity, podDistruptionBudget and resources for config reprica set
  deploy/cr.yaml
Labels: size/M

#489 K8SPSMDB-322: Add mongos status
  go.mod
  go.sum
  pkg/apis/psmdb/v1/psmdb_types.go
  pkg/controller/perconaservermongodb/status.go
Labels: size/L

#490 K8SPSMDB-315 add check of mongo config and mongos metrics
  e2e-tests/monitoring-2-0/run
Labels: size/XS

#485 K8SPSMDB-327: Add mongos and cfg server sans to certificates
  deploy/ssl-secrets.yaml
  pkg/controller/perconaservermongodb/ssl.go
Labels: size/M

#491 K8SPSMDB-328 add custom params for pmm-admin
  deploy/cr.yaml
  e2e-tests/monitoring-2-0/compare/deployment_monitoring-mongos.yml
  e2e-tests/monitoring-2-0/compare/statefulset_monitoring-cfg.yml
  e2e-tests/monitoring-2-0/compare/statefulset_monitoring-rs0.yml
  e2e-tests/monitoring-2-0/conf/monitoring-rs0.yml
  pkg/apis/psmdb/v1/psmdb_types.go
  pkg/controller/perconaservermongodb/psmdb_controller.go
  pkg/psmdb/pmm.go
Labels: size/M

#492 K8SPSMDB-334: Fix migration from replica set to sharding
  pkg/controller/perconaservermongodb/smart.go
Labels: size/S

#493 K8SPSMDB-315 Update annotation message
  e2e-tests/monitoring-2-0/compare/deployment_monitoring-mongos.yml
  e2e-tests/monitoring-2-0/compare/statefulset_monitoring-cfg.yml
  e2e-tests/monitoring-2-0/compare/statefulset_monitoring-rs0.yml
  pkg/psmdb/pmm.go
Labels: size/S

#494 K8SPSMDB-336: Take mongos status to account
  pkg/controller/perconaservermongodb/status.go
Labels: size/XS

#495 K8SPSMDB-337: Set default expose type
  pkg/apis/psmdb/v1/psmdb_defaults.go
Labels: size/XS

#499 Update monitoring-2-0 test to work with PSMDB 3.6
  e2e-tests/monitoring-2-0/compare/statefulset_monitoring-cfg.yml
  e2e-tests/monitoring-2-0/compare/statefulset_monitoring-rs0-oc.yml
  e2e-tests/monitoring-2-0/compare/statefulset_monitoring-rs0.yml
  e2e-tests/monitoring-2-0/conf/monitoring-rs0.yml
Labels: size/M

#500 Update for 1.6.0 release
  deploy/bundle.yaml
  deploy/cr.yaml
  deploy/operator.yaml
Labels: size/S

#498 Add sed in e2e-tests to set SmartUpdate apply to Never
  e2e-tests/functions
Labels: size/XS

#502 Fix version-service test to not use psmdb_spinup
  e2e-tests/version-service/run
Labels: size/S

#504 K8SPSMDB-266 fix password change command in doc
  source/users.rst
Labels: docs, size/XS

#503 Rename psmdb-recovery to psmdb-restore in e2e-tests functions
  e2e-tests/functions
Labels: size/XS

#506 Fix compare mongos deployment on GKE 1.15
  e2e-tests/demand-backup-sharded/run
  e2e-tests/functions
Labels: size/XS

#505 K8SPSMDB-338 PMM2.0 for openshift
  e2e-tests/functions
  e2e-tests/monitoring-2-0/compare/deployment_monitoring-mongos-oc.yml
  e2e-tests/monitoring-2-0/compare/statefulset_monitoring-cfg-oc.yml
  e2e-tests/monitoring-2-0/conf/monitoring-2-0.yml
  e2e-tests/monitoring-2-0/run
  e2e-tests/monitoring/compare/service_monitoring-rs0.yml
  e2e-tests/monitoring/compare/statefulset_monitoring-rs0.yml
  e2e-tests/monitoring/conf/monitoring-rs0.yml
  e2e-tests/monitoring/run
  e2e-tests/security-context/run
Labels: size/XL

#507 K8SPSMDB-340: add sleep to certmanager install
  e2e-tests/functions
  pkg/controller/perconaservermongodb/ssl.go
Labels: size/XS

#508 K8SPSMDB-341 Fix typo for openshift
  e2e-tests/arbiter/compare/statefulset_arbiter-clusterip-rs0-arbiter-oc.yml
  e2e-tests/arbiter/compare/statefulset_arbiter-rs0-arbiter-oc.yml
  e2e-tests/demand-backup-sharded/compare/statefulset_some-name-rs0-oc.yml
  e2e-tests/demand-backup/compare/statefulset_some-name-rs0-oc.yml
  e2e-tests/init-deploy/compare/statefulset_another-name-rs0-oc.yml
  e2e-tests/init-deploy/compare/statefulset_some-name-rs0-oc.yml
  e2e-tests/limits/compare/statefulset_no-limits-rs0-increased-oc.yml
  e2e-tests/limits/compare/statefulset_no-limits-rs0-oc.yml
  e2e-tests/limits/compare/statefulset_no-requests-no-limits-rs0-increased-oc.yml
  e2e-tests/limits/compare/statefulset_no-requests-no-limits-rs0-oc.yml
  e2e-tests/limits/compare/statefulset_no-requests-rs0-increased-oc.yml
  e2e-tests/limits/compare/statefulset_no-requests-rs0-oc.yml
  e2e-tests/liveness/compare/statefulset_liveness-rs0-changed-oc.yml
  e2e-tests/liveness/compare/statefulset_liveness-rs0-oc.yml
  e2e-tests/one-pod/compare/statefulset_one-pod-rs0-oc.yml
  e2e-tests/scheduled-backup/compare/statefulset_some-name-rs0-oc.yml
  e2e-tests/service-per-pod/compare/statefulset_cluster-ip-rs0-oc.yml
  e2e-tests/service-per-pod/compare/statefulset_local-balancer-rs0-oc.yml
  e2e-tests/storage/compare/statefulset_emptydir-rs0-oc.yml
  e2e-tests/storage/compare/statefulset_hostpath-rs0-oc.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-rs0-100-oc.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-rs0-110-oc.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-rs0-120-oc.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-rs0-130-oc.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-rs0-140-oc.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-rs0-150-oc.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-rs0-160-oc.yml
  e2e-tests/upgrade-sharded/compare/statefulset_upgrade-sharded-cfg-oc.yml
  e2e-tests/upgrade-sharded/compare/statefulset_upgrade-sharded-rs0-oc.yml
  e2e-tests/upgrade/compare/statefulset_upgrade-rs0-oc.yml
Labels: size/M

#497 K8SPSMDB-333 Test migration from RS to shards
  Jenkinsfile
  e2e-tests/rs-shard-migration/compare/find.json
  e2e-tests/rs-shard-migration/compare/statefulset_some-name-rs0-oc.yml
  e2e-tests/rs-shard-migration/compare/statefulset_some-name-rs0.yml
  e2e-tests/rs-shard-migration/run
  e2e-tests/run
Labels: size/L, tests

#464 K8PSMDB-121 document sharding
  source/assets/images/mongod_espose.png
  source/assets/images/mongos_espose.png
  source/assets/images/sources/sharding.odp
  source/expose.rst
  source/index.rst
  source/operator.rst
  source/sharding.rst
Labels: docs, size/XL

#487 K8SPSMDB-261-document-pause-resume
  source/index.rst
  source/operator.rst
  source/pause.rst
Labels: docs, size/S

#484 K8SPXC-299 clarify unsafe configurations
  source/System-Requirements.rst
  source/arbiter.rst
  source/operator.rst
Labels: docs, size/XS

#511 update images hashes in doc for 1.6.0 release
  source/images.rst
Labels: docs, size/S

#501 K8SPSMDB-282 document PMM support
  source/conf.py
  source/index.rst
  source/monitoring.rst
  source/operator.rst
  source/update.rst
Labels: docs, size/L

#482 RN 1.6.0
  source/RN/Kubernetes-Operator-for-PSMONGODB-RN1.6.0.rst
  source/RN/index.rst
  source/System-Requirements.rst
  source/conf.py
  source/update.rst
Labels: docs, size/M

#512 K8SPSMDB-341 Fixing some tests
  e2e-tests/service-per-pod/run
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-rs0-100-oc.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-rs0-110-oc.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-rs0-120-oc.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-rs0-130-oc.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-rs0-140-oc.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-rs0-150-oc.yml
  e2e-tests/upgrade/compare/statefulset_upgrade-rs0-oc.yml
Labels: size/S

#513 K8SPSMDB-345: Reset cluster role if sharding disabled
  pkg/apis/psmdb/v1/psmdb_defaults.go
Labels: size/XS

#514 K8SPSMDB-344: CfgRS status clean
  pkg/controller/perconaservermongodb/status.go
Labels: size/XS

#516 K8PSMDB-341 CRD version settings breaks test execution on 3.11
  e2e-tests/version-service/conf/crd.yaml
Labels: size/XS

#517 K8SPSMDB-341 Minor tests fixes
  e2e-tests/monitoring-2-0/compare/deployment_monitoring-mongos-oc.yml
  e2e-tests/rs-shard-migration/run
Labels: size/S

#518 follow-up fixes for the release
  source/RN/Kubernetes-Operator-for-PSMONGODB-RN1.6.0.rst
  source/conf.py
  source/images.rst
  source/operator.rst
  source/sharding.rst
  source/update.rst
  stylesheets/timeline-setter.css
  timeline.html
Labels: docs, size/S

#520 K8SPSMDB-341 - Increment versions after 1.6.0 release
  deploy/crd.yaml
  e2e-tests/functions
  e2e-tests/upgrade-consistency/compare/service_some-name-rs0-170.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-rs0-170-oc.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-rs0-170.yml
  e2e-tests/upgrade-consistency/run
  e2e-tests/upgrade-sharded/run
  e2e-tests/version-service/conf/crd.yaml
  version/version.go
Labels: size/L, tests

#515 Fix filtering PBM logs in wait_backup_agent e2e function
  e2e-tests/functions
Labels: size/XS, tests

#521 Rn 1.6 follow up fix
  source/RN/Kubernetes-Operator-for-PSMONGODB-RN1.4.0.rst
  source/RN/Kubernetes-Operator-for-PSMONGODB-RN1.5.0.rst
  source/System-Requirements.rst
  source/TLS.rst
  source/api.rst
  source/architecture.rst
  source/backups.rst
  source/conf.py
  source/custom-registry.rst
  source/eks.rst
  source/expose.rst
  source/gke.rst
  source/kubernetes.rst
  source/minikube.rst
  source/monitoring.rst
  source/openshift.rst
  source/operator.rst
  source/sharding.rst
  source/update.rst
Labels: docs, size/L

#523 K8SPSMDB-341 - fix upgrade test after 1.6.0 release
  e2e-tests/upgrade/compare/statefulset_upgrade-rs0-oc.yml
  e2e-tests/upgrade/compare/statefulset_upgrade-rs0.yml
  e2e-tests/upgrade/run
Labels: size/S

#509 K8SPSMDB-342: make healthcheck to use certificates
  cmd/mongodb-healthcheck/main.go
  e2e-tests/arbiter/compare/statefulset_arbiter-rs0-arbiter.yml
  e2e-tests/demand-backup-sharded/compare/deployment_some-name-mongos.yml
  e2e-tests/demand-backup-sharded/compare/statefulset_some-name-cfg.yml
  e2e-tests/demand-backup-sharded/compare/statefulset_some-name-rs0.yml
  e2e-tests/demand-backup/compare/statefulset_some-name-rs0.yml
  e2e-tests/init-deploy/compare/statefulset_another-name-rs0.yml
  e2e-tests/init-deploy/compare/statefulset_some-name-rs0.yml
  e2e-tests/limits/compare/statefulset_no-limits-rs0-increased.yml
  e2e-tests/limits/compare/statefulset_no-limits-rs0.yml
  e2e-tests/limits/compare/statefulset_no-requests-no-limits-rs0-increased.yml
  e2e-tests/limits/compare/statefulset_no-requests-no-limits-rs0.yml
  e2e-tests/limits/compare/statefulset_no-requests-rs0-increased.yml
  e2e-tests/limits/compare/statefulset_no-requests-rs0.yml
  e2e-tests/liveness/compare/statefulset_liveness-rs0-changed.yml
  e2e-tests/liveness/compare/statefulset_liveness-rs0.yml
  e2e-tests/monitoring-2-0/compare/deployment_monitoring-mongos-oc.yml
  e2e-tests/monitoring-2-0/compare/deployment_monitoring-mongos.yml
  e2e-tests/monitoring-2-0/compare/statefulset_monitoring-cfg-oc.yml
  e2e-tests/monitoring-2-0/compare/statefulset_monitoring-cfg.yml
  e2e-tests/monitoring-2-0/compare/statefulset_monitoring-rs0-oc.yml
  e2e-tests/monitoring-2-0/compare/statefulset_monitoring-rs0.yml
  e2e-tests/one-pod/compare/statefulset_one-pod-rs0.yml
  e2e-tests/rs-shard-migration/compare/statefulset_some-name-rs0-oc.yml
  e2e-tests/rs-shard-migration/compare/statefulset_some-name-rs0.yml
  e2e-tests/scheduled-backup/compare/statefulset_some-name-rs0.yml
  e2e-tests/security-context/compare/statefulset_sec-context-rs0-changed.yml
  e2e-tests/security-context/compare/statefulset_sec-context-rs0.yml
  e2e-tests/service-per-pod/compare/statefulset_cluster-ip-rs0.yml
  e2e-tests/service-per-pod/compare/statefulset_local-balancer-rs0.yml
  e2e-tests/smart-update/compare/statefulset_smart-update-rs0.yml
  e2e-tests/storage/compare/statefulset_emptydir-rs0.yml
  e2e-tests/storage/compare/statefulset_hostpath-rs0.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-rs0-170-oc.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-rs0-170.yml
  e2e-tests/upgrade/compare/statefulset_upgrade-rs0-oc.yml
  e2e-tests/upgrade/compare/statefulset_upgrade-rs0.yml
  e2e-tests/version-service/compare/statefulset_version-service-exact-rs0.yml
  e2e-tests/version-service/compare/statefulset_version-service-latest-rs0.yml
  e2e-tests/version-service/compare/statefulset_version-service-recommended-rs0.yml
  e2e-tests/version-service/compare/statefulset_version-service-unreachable-rs0.yml
  healthcheck/tools/db/ssl.go
  pkg/apis/psmdb/v1/psmdb_defaults.go
Labels: size/L

#522 K8S-PSMDB-121: Shard remove logic
  pkg/controller/perconaservermongodb/connections.go
  pkg/controller/perconaservermongodb/getters.go
  pkg/controller/perconaservermongodb/mgo.go
  pkg/controller/perconaservermongodb/psmdb_controller.go
  pkg/controller/perconaservermongodb/smart.go
  pkg/controller/perconaservermongodb/status.go
  pkg/controller/perconaservermongodb/users.go
  pkg/controller/perconaservermongodb/version.go
  pkg/psmdb/backup/pbm.go
  pkg/psmdb/mongo/models.go
  pkg/psmdb/mongo/mongo.go
  pkg/psmdb/service.go
Labels: size/L
