Repository percona/percona-server-mongodb-operator, pull requests merged in 2021-11, with the labels that each got.

#801 K8SPSMDB-584 give PBM time to init the storage
  pkg/psmdb/backup/pbm.go
Labels: size/XS

#803 Make docker push optional in e2e-tests/build script
  e2e-tests/build
Labels: size/XS

#779 K8SPSMDB-574: Set certificate duration for external certificates to 100 years
  pkg/controller/perconaservermongodb/ssl.go
Labels: size/XS, community, hacktoberfest-accepted

#787 K8SPSMDB-388: control how often oplogs are uploaded to S3
  deploy/cr.yaml
  pkg/apis/psmdb/v1/psmdb_defaults.go
  pkg/apis/psmdb/v1/psmdb_types.go
  pkg/controller/perconaservermongodb/backup.go
  pkg/controller/perconaservermongodbbackup/backup.go
  pkg/controller/perconaservermongodbbackup/perconaservermongodbbackup_controller.go
  pkg/controller/perconaservermongodbrestore/perconaservermongodbrestore_controller.go
Labels: size/L, hacktoberfest-accepted

#794 K8SPSMDB-558: ignore annotations changes
  pkg/controller/perconaservermongodb/psmdb_controller.go
Labels: size/S, hacktoberfest-accepted

#802 K8SPSMDB-534: replace command in a mongos readiness probe
  healthcheck/readiness.go
Labels: size/XS

#808 CLOUD-651 fix: smartupdate starts after pod deletion
  pkg/controller/perconaservermongodb/smart.go
Labels: size/M

#782 K8SPSMDB-527: Allow tuning timeout parameters for probes
  deploy/cr-minimal.yaml
  deploy/cr.yaml
  e2e-tests/demand-backup-sharded/compare/statefulset_some-name-cfg-4-oc.yml
  e2e-tests/demand-backup-sharded/compare/statefulset_some-name-cfg-oc.yml
  e2e-tests/demand-backup-sharded/compare/statefulset_some-name-cfg.yml
  e2e-tests/monitoring-2-0/compare/statefulset_monitoring-cfg.yml
  e2e-tests/pitr-sharded/compare/statefulset_some-name-cfg-4-oc.yml
  e2e-tests/pitr-sharded/compare/statefulset_some-name-cfg-oc.yml
  e2e-tests/pitr-sharded/compare/statefulset_some-name-cfg.yml
  e2e-tests/upgrade-sharded/run
  e2e-tests/version-service/compare/statefulset_version-service-unreachable-rs0-oc.yml
  e2e-tests/version-service/compare/statefulset_version-service-unreachable-rs0.yml
  e2e-tests/version-service/conf/version-service-unreachable-rs0.yml
  pkg/apis/psmdb/v1/psmdb_defaults.go
Labels: size/XL, hacktoberfest-accepted

#800 K8SPSMDB-513 feature: Add support of Microsoft Azure Blob storage for the backups
  e2e-tests/README.md
  e2e-tests/demand-backup-sharded/conf/backup-azure-blob.yml
  e2e-tests/demand-backup-sharded/conf/some-name-rs0.yml
  e2e-tests/demand-backup-sharded/run
  e2e-tests/demand-backup/conf/backup-azure-blob.yml
  e2e-tests/demand-backup/conf/some-name-rs0.yml
  e2e-tests/demand-backup/run
  e2e-tests/functions
  e2e-tests/scheduled-backup/compare/cronjob_some-name-backup-every-min-azure-blob-oc.yml
  e2e-tests/scheduled-backup/compare/cronjob_some-name-backup-every-min-azure-blob.yml
  e2e-tests/scheduled-backup/conf/some-name-rs0-2.yml
  e2e-tests/scheduled-backup/conf/some-name-rs0.yml
  e2e-tests/scheduled-backup/run
  pkg/apis/psmdb/v1/perconaservermongodbbackup_types.go
  pkg/apis/psmdb/v1/perconaservermongodbrestore_types.go
  pkg/apis/psmdb/v1/psmdb_types.go
  pkg/apis/psmdb/v1/zz_generated.deepcopy.go
  pkg/controller/perconaservermongodbbackup/backup.go
  pkg/controller/perconaservermongodbrestore/perconaservermongodbrestore_controller.go
  pkg/psmdb/backup/pbm.go
Labels: size/L

#809 K8SPSMDB-594: fix `init-deploy` test
  e2e-tests/init-deploy/compare/clusterAdmin-44.json
Labels: size/XS

#806 [K8SPSMDB-463] Update backup status as error if it's not started
  pkg/controller/perconaservermongodbbackup/backup.go
Labels: size/S

#807 CLOUD-611 fix: remove deprecated packages
  cmd/manager/main.go
  vendor/modules.txt
  vendor/sigs.k8s.io/controller-runtime/pkg/runtime/log/log.go
  vendor/sigs.k8s.io/controller-runtime/pkg/runtime/signals/signal.go
Labels: size/XS

#811 CLOUD-656 - Add support for Kubernetes 1.22 in chaos-mesh tests
  e2e-tests/conf/chaos-network-loss.yml
  e2e-tests/conf/chaos-pod-failure.yml
  e2e-tests/conf/chaos-pod-kill.yml
  e2e-tests/functions
  e2e-tests/operator-self-healing-chaos/run
  e2e-tests/self-healing-chaos/run
Labels: size/M

#810 K8SPSMDB-422: Add annotations to backup cron jobs
  pkg/apis/psmdb/v1/psmdb_types.go
  pkg/apis/psmdb/v1/zz_generated.deepcopy.go
  pkg/psmdb/backup/job.go
Labels: size/S

#813 K8SPSMDB-422: add `backup.annotations` to `cr.yaml`
  deploy/cr.yaml
Labels: size/XS

#795 Revert "PBM-725 - Temp disable second shard in demand-backup-sharded test (#792)"
  e2e-tests/demand-backup-sharded/conf/some-name-rs0.yml
  e2e-tests/demand-backup-sharded/run
Labels: size/M

#815 [K8SPSMDB-568] allow to upgrade from 4.4 to 5.0
  pkg/controller/perconaservermongodb/version.go
Labels: size/XS

#812 K8SPSMDB-527 timeout should be less or equal than period
  e2e-tests/demand-backup-sharded/compare/deployment_some-name-mongos-4-oc.yml
  e2e-tests/demand-backup-sharded/compare/deployment_some-name-mongos-oc.yml
  e2e-tests/demand-backup-sharded/compare/deployment_some-name-mongos-secret.yml
  e2e-tests/demand-backup-sharded/compare/deployment_some-name-mongos.yml
  e2e-tests/functions
  e2e-tests/monitoring-2-0/compare/deployment_monitoring-mongos-oc.yml
  e2e-tests/monitoring-2-0/compare/deployment_monitoring-mongos.yml
  e2e-tests/pitr-sharded/compare/deployment_some-name-mongos-4-oc.yml
  e2e-tests/pitr-sharded/compare/deployment_some-name-mongos-oc.yml
  e2e-tests/pitr-sharded/compare/deployment_some-name-mongos.yml
  pkg/apis/psmdb/v1/psmdb_defaults.go
Labels: size/S
