Repository percona/percona-server-mongodb-operator, pull requests merged in 2021-06, with the labels that each got.

#678 K8SPSMDB-443: add examples to deploy/cr.yaml
  deploy/cr.yaml
Labels: size/S

#673 K8SPSMDB-181: Reduce complexity of the status handling
  pkg/apis/psmdb/v1/psmdb_types.go
  pkg/controller/perconaservermongodb/backup.go
  pkg/controller/perconaservermongodb/mgo.go
  pkg/controller/perconaservermongodb/psmdb_controller.go
  pkg/controller/perconaservermongodb/status.go
  pkg/controller/perconaservermongodb/status_test.go
Labels: size/L

#683 K8SPSMDB-425: Remove Expose.Enabled from mongos
  pkg/apis/psmdb/v1/psmdb_types.go
  pkg/apis/psmdb/v1/zz_generated.deepcopy.go
  pkg/controller/perconaservermongodb/status.go
Labels: size/M

#680 K8SPSMDB-423: Retain replset load balancers on pause
  pkg/controller/perconaservermongodb/external_service.go
  pkg/controller/perconaservermongodb/psmdb_controller.go
Labels: size/M

#681 K8SPSMDB-435: Pass custom labels to mongos
  pkg/psmdb/mongos.go
Labels: size/XS

#682 K8SPSMDB-421: Delete secrets if PVC finalizer enabled
  pkg/controller/perconaservermongodb/finalizers.go
  pkg/controller/perconaservermongodb/psmdb_controller.go
Labels: size/M

#669 CLOUD-625 - Create chaos-mesh e2e-tests
  Jenkinsfile
  e2e-tests/conf/chaos-network-loss.yml
  e2e-tests/conf/chaos-pod-failure.yml
  e2e-tests/conf/chaos-pod-kill.yml
  e2e-tests/demand-backup-sharded/run
  e2e-tests/functions
  e2e-tests/init-deploy/run
  e2e-tests/operator-self-healing-chaos/run
  e2e-tests/operator-self-healing/run
  e2e-tests/run
  e2e-tests/self-healing-chaos/compare/find-2nd.json
  e2e-tests/self-healing-chaos/compare/find-3rd.json
  e2e-tests/self-healing-chaos/compare/find.json
  e2e-tests/self-healing-chaos/run
  e2e-tests/self-healing/run
Labels: size/L

#684 K8SPSMDB-411: Allow configuring resources for arbiter
  e2e-tests/smart-update/compare/statefulset_smart-update-rs0-arbiter-oc.yml
  e2e-tests/smart-update/compare/statefulset_smart-update-rs0-arbiter.yml
  e2e-tests/smart-update/conf/smart-update-rs0.yml
  pkg/apis/psmdb/v1/psmdb_types.go
  pkg/apis/psmdb/v1/zz_generated.deepcopy.go
  pkg/controller/perconaservermongodb/psmdb_controller.go
  pkg/psmdb/statefulset.go
Labels: size/M

#677 K8SPSMDB-480: Update backup and restore CR statuses on error
  pkg/apis/psmdb/v1/perconaservermongodbbackup_types.go
  pkg/controller/perconaservermongodbbackup/perconaservermongodbbackup_controller.go
  pkg/controller/perconaservermongodbrestore/perconaservermongodbrestore_controller.go
Labels: size/L

#685 K8SPSMDB-451: Check cluster endpoint for ready status
  pkg/controller/perconaservermongodb/status.go
Labels: size/S

#688 K8SPSMDB-451: Don't use error status for components
  pkg/controller/perconaservermongodb/status.go
Labels: size/XS

#672 K8SPSMDB-459 mention cluster name limitations
  source/operator.rst
Labels: docs, size/XS

#689 K8SPSMDB-440 improve arbiter related details in docs
  source/arbiter.rst
  source/operator.rst
Labels: docs, size/XS

#692 K8SPSMDB-440 fix example
  source/arbiter.rst
Labels: size/XS

#693 K8SPSMDB-453: Show cluster progress fields even if eq to `0`
  pkg/apis/psmdb/v1/psmdb_types.go
Labels: size/XS

#690 Delete a namespace in background after test finishes
  e2e-tests/functions
Labels: size/XS, tests

#694 K8SPSMDB-488 - Fix diff in some e2e-tests on kubernetes 1.21
  e2e-tests/functions
Labels: size/XS, tests

#697 K8SPSMDB-489: Don't update status of ready backups
  pkg/controller/perconaservermongodbbackup/perconaservermongodbbackup_controller.go
Labels: size/S

#696 K8SPSMDB-451: Take mongos into consideration for CR status
  pkg/controller/perconaservermongodb/status.go
Labels: size/XS

#699 K8SPSMDB-488 - Remove operationProfiling option from mongos (not supported)
  deploy/cr.yaml
Labels: size/XS

#700 K8SPSMDB-487: Make sure ready count is not bigger than total size
  pkg/controller/perconaservermongodb/status.go
Labels: size/XS

#702 K8SPSMDB-492: add config hash annotations to pod templates
  pkg/controller/perconaservermongodb/psmdb_controller.go
  pkg/psmdb/mongos.go
  pkg/psmdb/statefulset.go
Labels: size/S

#701 K8SPSMDB-488 - Fix runtimeclass handler for EKS in e2e-tests
  e2e-tests/demand-backup-sharded/run
  e2e-tests/functions
  e2e-tests/init-deploy/run
  e2e-tests/pitr-sharded/run
Labels: size/L

#703 K8SPSMDB-487: Fix replset and mongos ready count on downscale
  pkg/controller/perconaservermongodb/status.go
Labels: size/S

#705 K8SPSMDB-485 update secrets keys for TLS
  source/TLS.rst
  source/operator.rst
Labels: docs, size/M

#708 K8SPSMDB-494: Fix stale status during smart update
  pkg/controller/perconaservermongodb/smart.go
Labels: size/S

#695 K8SPSMDB-486: Fix cluster crash on losing majority due to downscale
  docs/architecture/decisions/0002-allow-downscaling-in-a-safe-manner.md
  docs/architecture/decisions/index.md
  pkg/controller/perconaservermongodb/psmdb_controller.go
Labels: size/M

#707 K8SPSMDB-488 - Fix version-service test for minikube
  e2e-tests/version-service/conf/version-service-exact-rs0.yml
  e2e-tests/version-service/conf/version-service-latest-rs0.yml
  e2e-tests/version-service/conf/version-service-major-rs0.yml
  e2e-tests/version-service/conf/version-service-recommended-rs0.yml
  e2e-tests/version-service/conf/version-service-unreachable-rs0.yml
Labels: size/S, tests

#706 K8SPSMDB-488 - Fix security-context and scheduled-backup tests
  e2e-tests/functions
  e2e-tests/scheduled-backup/compare/cronjob_some-name-backup-every-min-aws-s3-oc.yml
  e2e-tests/scheduled-backup/compare/cronjob_some-name-backup-every-min-aws-s3.yml
  e2e-tests/scheduled-backup/compare/cronjob_some-name-backup-every-min-gcp-cs-oc.yml
  e2e-tests/scheduled-backup/compare/cronjob_some-name-backup-every-min-gcp-cs.yml
  e2e-tests/scheduled-backup/compare/cronjob_some-name-backup-every-min-minio-oc.yml
  e2e-tests/scheduled-backup/compare/cronjob_some-name-backup-every-min-minio.yml
  e2e-tests/security-context/compare/cronjob.batch_sec-context-backup-each-hour.yml
Labels: size/S, tests

#709 K8SPSMDB-488 - Fix one-pod, pitr-sharded and upgrade-consistency on OpenShift
  e2e-tests/one-pod/compare/statefulset_one-pod-rs0-secret-oc.yml
  e2e-tests/pitr-sharded/compare/statefulset_some-name-rs1-4-oc.yml
  e2e-tests/pitr-sharded/compare/statefulset_some-name-rs2-4-oc.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-rs0-190-oc.yml
Labels: size/XS, tests

#710 K8SPSMDB-488 - Fix users test for OpenShift
  e2e-tests/users/run
Labels: size/XS, tests

#713 K8SPSMDB-497: Take mongos into consideration for paused status
  pkg/controller/perconaservermongodb/status.go
Labels: size/XS

#714 K8SPSMDB-502 Replace deprecated Kubernetes APIs
  deploy/bundle.yaml
  deploy/crd.yaml
  deploy/rbac.yaml
Labels: size/XL

#717 K8SPSMDB-488 - Add backupSource example into restore.yaml
  deploy/backup/restore.yaml
Labels: size/XS

#711 K8SPSMDB-482 remove MongoDB 3.6 mentions from docs other than Release Notes
  source/System-Requirements.rst
  source/architecture.rst
  source/faq.rst
  source/update.rst
Labels: docs, size/S

#676 K8SPSMDB-441 mimic pxc doc about recovering from s3 to a new environment
  source/assets/images/backup-s3.pdf
  source/assets/images/backup-s3.png
  source/assets/images/backup-s3.svg
  source/backups.rst
Labels: docs, size/L

#715 K8SPSMDB-504: Fix cluster failure if replset exposed with LoadBalancer
  pkg/controller/perconaservermongodb/mgo.go
  pkg/controller/perconaservermongodb/status.go
  pkg/psmdb/service.go
Labels: size/M

#698 K8SPSMDB-172 configmaps for MongoDB
  source/operator.rst
Labels: docs, size/L

#716 K8SPSMDB-173 describe storing mongodb options in configmaps and secretes
  source/index.rst
  source/options.rst
Labels: docs, size/L

#712 CLOUD-632 rename the operator
  source/TLS.rst
  source/api.rst
  source/arbiter.rst
  source/architecture.rst
  source/constraints.rst
  source/custom-registry.rst
  source/eks.rst
  source/expose.rst
  source/faq.rst
  source/gke.rst
  source/helm.rst
  source/index.rst
  source/minikube.rst
  source/openshift.rst
  source/private.rst
  source/sharding.rst
  source/storage.rst
  source/update.rst
Labels: docs, size/L

#721 K8SPSMDB-488 - Release 1.9.0
  deploy/backup/restore.yaml
  deploy/bundle.yaml
  deploy/cr.yaml
  deploy/operator.yaml
Labels: size/S
