Repository percona/percona-server-mongodb-operator, pull requests merged in 2021-05, with the labels that each got.

#652 K8SPSMDB-454 - Fix runtimeclass for demand-backup-sharded and init-deploy tests
  e2e-tests/demand-backup-sharded/compare/statefulset_some-name-rs1-oc.yml
  e2e-tests/demand-backup-sharded/compare/statefulset_some-name-rs2-oc.yml
  e2e-tests/demand-backup-sharded/run
  e2e-tests/functions
  e2e-tests/init-deploy/run
Labels: size/M

#653 K8SPSMDB-442 - fix rs-shard-migration and service-per-pod tests
  e2e-tests/demand-backup-sharded/compare/deployment_some-name-mongos-4-oc.yml
  e2e-tests/demand-backup-sharded/compare/statefulset_some-name-cfg-4-oc.yml
  e2e-tests/limits/run
  e2e-tests/rs-shard-migration/run
  e2e-tests/service-per-pod/run
Labels: size/S

#655 K8SPSMDB-442 - fix stuck upgrade tests on 1.20
  e2e-tests/rs-shard-migration/run
  e2e-tests/upgrade-sharded/run
  e2e-tests/upgrade/run
Labels: size/XS

#657 K8SPSMDB-348 update unsafe flag description
  source/operator.rst
Labels: docs, size/XS

#654 K8SPSMDB-455: Fix downgrade
  pkg/controller/perconaservermongodb/psmdb_controller.go
  pkg/controller/perconaservermongodb/version.go
  pkg/controller/perconaservermongodb/version_test.go
Labels: size/L

#659 K8SPSMDB-389 document pitr
  source/backups.rst
  source/operator.rst
Labels: docs, size/L

#658 K8SPSMDB-448 document major version upgrades
  source/operator.rst
  source/update.rst
Labels: docs, size/M

#656 K8SPSMDB-442 Release Notes
  source/RN/Kubernetes-Operator-for-PSMONGODB-RN1.6.0.rst
  source/RN/Kubernetes-Operator-for-PSMONGODB-RN1.7.0.rst
  source/RN/Kubernetes-Operator-for-PSMONGODB-RN1.8.0.rst
  source/RN/index.rst
  source/System-Requirements.rst
  source/conf.py
  source/gke.rst
  source/images.rst
Labels: docs, size/L

#661 K8SPSMDB-442 labels hotfix
  source/RN/Kubernetes-Operator-for-PSMONGODB-RN1.8.0.rst
  source/backups.rst
  source/images.rst
  source/operator.rst
  source/update.rst
Labels: docs, size/S

#637 K8SPSMDB-387: add e2e test for pitr (in sharded cluster)
  Jenkinsfile
  e2e-tests/pitr-sharded/compare/deployment_some-name-mongos-4-oc.yml
  e2e-tests/pitr-sharded/compare/deployment_some-name-mongos-oc.yml
  e2e-tests/pitr-sharded/compare/deployment_some-name-mongos.yml
  e2e-tests/pitr-sharded/compare/find-2nd.json
  e2e-tests/pitr-sharded/compare/find-3rd.json
  e2e-tests/pitr-sharded/compare/find.json
  e2e-tests/pitr-sharded/compare/statefulset_some-name-cfg-4-oc.yml
  e2e-tests/pitr-sharded/compare/statefulset_some-name-cfg-oc.yml
  e2e-tests/pitr-sharded/compare/statefulset_some-name-cfg.yml
  e2e-tests/pitr-sharded/compare/statefulset_some-name-rs0-4-oc.yml
  e2e-tests/pitr-sharded/compare/statefulset_some-name-rs0-oc.yml
  e2e-tests/pitr-sharded/compare/statefulset_some-name-rs0.yml
  e2e-tests/pitr-sharded/compare/statefulset_some-name-rs1-oc.yml
  e2e-tests/pitr-sharded/compare/statefulset_some-name-rs1.yml
  e2e-tests/pitr-sharded/compare/statefulset_some-name-rs2-oc.yml
  e2e-tests/pitr-sharded/compare/statefulset_some-name-rs2.yml
  e2e-tests/pitr-sharded/conf/backup-minio.yml
  e2e-tests/pitr-sharded/conf/restore.yml
  e2e-tests/pitr-sharded/conf/some-name-rs0.yml
  e2e-tests/pitr-sharded/run
  e2e-tests/run
Labels: size/XXL, tests

#662 K8SPSMDB-462: Empty backup finalizer list if backup isn't successful
  pkg/controller/perconaservermongodbbackup/perconaservermongodbbackup_controller.go
Labels: size/S

#665 K8SPSMDB-398: Fix wrong cluster status on rs remove
  pkg/controller/perconaservermongodb/psmdb_controller.go
Labels: size/XS

#666 K8SPSMDB-442 - Post 1.8.0 release update
  deploy/crd.yaml
  e2e-tests/functions
  e2e-tests/upgrade-consistency/compare/service_some-name-rs0-190.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-rs0-190-oc.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-rs0-190.yml
  e2e-tests/upgrade-consistency/run
  e2e-tests/version-service/conf/crd.yaml
  version/version.go
Labels: size/L

#667 K8SPSMDB-468 fix cluster deletion
  Jenkinsfile
Labels: size/M

#660 CLOUD-622 add examples of architecture decision records
  docs/architecture/README.md
  docs/architecture/decisions/0001-record-architecture-decisions.md
  docs/architecture/decisions/index.md
  docs/architecture/decisions/template.md
Labels: size/M

#668 K8SPSMDB-365: Allow backups even if just a single node is available
  pkg/apis/psmdb/v1/psmdb_types.go
  pkg/controller/perconaservermongodbbackup/perconaservermongodbbackup_controller.go
Labels: size/S

#674 K8SPSMDB-443: add mongos custom configuration via ConfigMaps
  pkg/apis/psmdb/v1/psmdb_types.go
  pkg/controller/perconaservermongodb/psmdb_controller.go
  pkg/psmdb/const.go
  pkg/psmdb/mongos.go
  pkg/psmdb/statefulset.go
Labels: size/L

#675 K8SPSMDB-444: allow storing custom configuration in Secrets
  pkg/controller/perconaservermongodb/psmdb_controller.go
  pkg/psmdb/const.go
  pkg/psmdb/mongos.go
  pkg/psmdb/statefulset.go
Labels: size/L
