Repository percona/percona-server-mongodb-operator, pull requests merged in 2021-10, with the labels that each got.

#781 K8SPSMDB-520: add volumes and PVC for sidecars
  pkg/apis/psmdb/v1/psmdb_types.go
  pkg/apis/psmdb/v1/zz_generated.deepcopy.go
  pkg/controller/perconaservermongodb/psmdb_controller.go
Labels: size/M

#791 Update golang to 1.17
  .github/workflows/reviewdog.yml
  Jenkinsfile
  build/Dockerfile
Labels: size/XS

#790 K8SPSMDB-554 - Update after 1.10.0 release
  deploy/bundle.yaml
  deploy/cr.yaml
  deploy/crd.yaml
  deploy/operator.yaml
  e2e-tests/functions
  e2e-tests/upgrade-consistency/compare/service_some-name-rs0-1110.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-rs0-1110-oc.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-rs0-1110.yml
  e2e-tests/upgrade-consistency/run
  e2e-tests/version-service/conf/crd.yaml
  version/version.go
Labels: size/XL, hacktoberfest-accepted

#798 Update cr.yaml
  deploy/cr.yaml
Labels: size/S, community, hacktoberfest-accepted
