Repository percona/percona-server-mongodb-operator, pull requests merged in 2021-02, with the labels that each got.

#534 CLOUD-604 remove helm2 from docs
  source/helm.rst
Labels: docs, size/XS

#532 K8SPSMDB-330 feature: Add support for runtimeClassName
  e2e-tests/conf/docker-rc.yaml
  e2e-tests/demand-backup-sharded/compare/deployment_some-name-mongos.yml
  e2e-tests/demand-backup-sharded/compare/statefulset_some-name-cfg-oc.yml
  e2e-tests/demand-backup-sharded/compare/statefulset_some-name-cfg.yml
  e2e-tests/demand-backup-sharded/compare/statefulset_some-name-rs0-oc.yml
  e2e-tests/demand-backup-sharded/compare/statefulset_some-name-rs0.yml
  e2e-tests/demand-backup-sharded/conf/some-name-rs0.yml
  e2e-tests/demand-backup-sharded/run
  e2e-tests/init-deploy/compare/statefulset_another-name-rs0-oc.yml
  e2e-tests/init-deploy/compare/statefulset_another-name-rs0.yml
  e2e-tests/init-deploy/conf/another-name-rs0.yml
  e2e-tests/init-deploy/run
  pkg/apis/psmdb/v1/psmdb_types.go
  pkg/apis/psmdb/v1/zz_generated.deepcopy.go
  pkg/psmdb/backup/job.go
  pkg/psmdb/mongos.go
  pkg/psmdb/statefulset.go
Labels: size/L

#536 K8SPSMDB-370 Change messages for meta waitining
  pkg/controller/perconaservermongodbbackup/backup.go
  pkg/controller/perconaservermongodbrestore/perconaservermongodbrestore_controller.go
Labels: size/XS

#538 K8SPSMDB-366 fix getting of pmm image path
  pkg/controller/perconaservermongodb/vs.go
Labels: size/XS

#533 CLOUD-591 feature: Add support for sidecar containers for operators
  e2e-tests/demand-backup-sharded/compare/deployment_some-name-mongos.yml
  e2e-tests/demand-backup-sharded/compare/statefulset_some-name-cfg-oc.yml
  e2e-tests/demand-backup-sharded/compare/statefulset_some-name-cfg.yml
  e2e-tests/demand-backup-sharded/compare/statefulset_some-name-rs0-oc.yml
  e2e-tests/demand-backup-sharded/compare/statefulset_some-name-rs0.yml
  e2e-tests/demand-backup-sharded/conf/some-name-rs0.yml
  e2e-tests/init-deploy/compare/statefulset_another-name-rs0-oc.yml
  e2e-tests/init-deploy/compare/statefulset_another-name-rs0.yml
  e2e-tests/init-deploy/conf/another-name-rs0.yml
  pkg/apis/psmdb/v1/psmdb_types.go
  pkg/apis/psmdb/v1/zz_generated.deepcopy.go
  pkg/controller/perconaservermongodb/psmdb_controller.go
  pkg/psmdb/mongos.go
  pkg/psmdb/statefulset.go
Labels: size/L

#535 K8SPSMDB-354 fix quotes in the password change command
  source/users.rst
Labels: docs, size/XS

#539 K8SPSMDB-335: Backup retention based on 'Keep' parameter
  deploy/cr.yaml
  deploy/rbac.yaml
  pkg/apis/psmdb/v1/psmdb_types.go
  pkg/controller/perconaservermongodb/backup.go
  pkg/controller/perconaservermongodbbackup/backup.go
  pkg/controller/perconaservermongodbbackup/perconaservermongodbbackup_controller.go
  pkg/psmdb/backup/job.go
Labels: size/L

#537 K8SPSMDB-362 K8SPSMDB-364 Fix secrets
  pkg/controller/perconaservermongodb/connections.go
  pkg/controller/perconaservermongodb/getters.go
  pkg/controller/perconaservermongodb/mgo.go
  pkg/controller/perconaservermongodb/psmdb_controller.go
  pkg/controller/perconaservermongodb/secrets.go
  pkg/controller/perconaservermongodb/smart.go
  pkg/controller/perconaservermongodb/users.go
  pkg/controller/perconaservermongodb/version.go
Labels: size/L

#540 K8SPSMDB-349 Use MongoDB 4.4 version everywhere in docs
  source/conf.py
  source/custom-registry.rst
  source/debug.rst
  source/eks.rst
  source/faq.rst
  source/gke.rst
  source/kubernetes.rst
  source/minikube.rst
  source/openshift.rst
  source/operator.rst
  source/sharding.rst
  source/update.rst
  source/users.rst
Labels: docs, size/L

#541 K8SPSMDB-382 fix "permissions on mongodb-key are too open"
  pkg/psmdb/mongos.go
Labels: size/XS

#543 K8SPSMDB-49 add example for arbiter
  source/arbiter.rst
Labels: docs, size/S

#542 K8SPSMDB-357 update examples
  source/assets/code/kubectl-get-pods-response.txt
  source/eks.rst
  source/gke.rst
  source/img/gke-quickstart-cluster-connect.png
  source/img/gke-quickstart-object-browser-error.png
  source/img/gke-quickstart-object-browser.png
  source/kubernetes.rst
  source/minikube.rst
  source/openshift.rst
Labels: docs, size/L

#546 fix formatting
  source/minikube.rst
Labels: docs, size/XS

#545 K8SPSMDB-382 - Add --relaxPermChecks to e2e-tests for mongos
  e2e-tests/demand-backup-sharded/compare/deployment_some-name-mongos.yml
  e2e-tests/monitoring-2-0/compare/deployment_monitoring-mongos-oc.yml
  e2e-tests/monitoring-2-0/compare/deployment_monitoring-mongos.yml
Labels: size/XS

#547 Fix init-deploy and data-sharded e2e-tests for Minikube
  e2e-tests/data-sharded/conf/some-name.yml
  e2e-tests/functions
Labels: size/XS

#549 Update versions for 1.7.0 release
  deploy/bundle.yaml
  deploy/cr.yaml
  deploy/operator.yaml
Labels: size/S

#544 K8SPSMDB-358 - remove diff files from upgrade and upgrade-sharded tests
  e2e-tests/upgrade-sharded/compare/statefulset_upgrade-sharded-cfg.yml
  e2e-tests/upgrade-sharded/compare/statefulset_upgrade-sharded-rs0.yml
  e2e-tests/upgrade-sharded/run
  e2e-tests/upgrade/compare/statefulset_upgrade-rs0-oc.yml
  e2e-tests/upgrade/compare/statefulset_upgrade-rs0.yml
  e2e-tests/upgrade/run
Labels: size/XL

#550 K8SPXC-640 wrong doc - similar to PXC
  source/operator.rst
Labels: docs, size/XS

#548 K8SPSMDB-381: Get rid of using ENV vars
  e2e-tests/run
  pkg/controller/perconaservermongodb/connections.go
  pkg/controller/perconaservermongodb/mgo.go
  pkg/controller/perconaservermongodb/psmdb_controller.go
  pkg/controller/perconaservermongodb/secrets.go
  pkg/controller/perconaservermongodb/smart.go
  pkg/controller/perconaservermongodb/users.go
  pkg/controller/perconaservermongodb/version.go
  pkg/psmdb/mongo/mongo.go
Labels: size/L

#553 Do not restart mongos when ClusterAdmin was changed
  pkg/controller/perconaservermongodb/users.go
Labels: size/S

#554 K8SPSMDB-383 Openshift files fix
  e2e-tests/arbiter/compare/statefulset_arbiter-clusterip-rs0-arbiter-oc.yml
  e2e-tests/arbiter/compare/statefulset_arbiter-rs0-arbiter-oc.yml
  e2e-tests/demand-backup-sharded/compare/statefulset_some-name-cfg-oc.yml
  e2e-tests/demand-backup-sharded/compare/statefulset_some-name-rs0-oc.yml
  e2e-tests/demand-backup/compare/statefulset_some-name-rs0-oc.yml
  e2e-tests/init-deploy/compare/statefulset_another-name-rs0-oc.yml
  e2e-tests/init-deploy/compare/statefulset_some-name-rs0-oc.yml
  e2e-tests/limits/compare/statefulset_no-limits-rs0-increased-oc.yml
  e2e-tests/limits/compare/statefulset_no-limits-rs0-oc.yml
  e2e-tests/limits/compare/statefulset_no-requests-no-limits-rs0-increased-oc.yml
  e2e-tests/limits/compare/statefulset_no-requests-no-limits-rs0-oc.yml
  e2e-tests/limits/compare/statefulset_no-requests-rs0-increased-oc.yml
  e2e-tests/limits/compare/statefulset_no-requests-rs0-oc.yml
  e2e-tests/liveness/compare/statefulset_liveness-rs0-changed-oc.yml
  e2e-tests/liveness/compare/statefulset_liveness-rs0-oc.yml
  e2e-tests/one-pod/compare/statefulset_one-pod-rs0-oc.yml
  e2e-tests/scheduled-backup/compare/statefulset_some-name-rs0-oc.yml
  e2e-tests/service-per-pod/compare/statefulset_cluster-ip-rs0-oc.yml
  e2e-tests/service-per-pod/compare/statefulset_local-balancer-rs0-oc.yml
  e2e-tests/smart-update/compare/statefulset_smart-update-rs0-oc.yml
  e2e-tests/storage/compare/statefulset_emptydir-rs0-oc.yml
  e2e-tests/storage/compare/statefulset_hostpath-rs0-oc.yml
  e2e-tests/version-service/compare/statefulset_version-service-exact-rs0-oc.yml
  e2e-tests/version-service/compare/statefulset_version-service-latest-rs0-oc.yml
  e2e-tests/version-service/compare/statefulset_version-service-recommended-rs0-oc.yml
  e2e-tests/version-service/compare/statefulset_version-service-unreachable-rs0-oc.yml
Labels: size/L

#555 Make data-sharded test run on older MongoDB versions
  e2e-tests/data-sharded/run
Labels: size/S

#557 K8SPSMDB-392: Fix decoding of db list
  pkg/controller/perconaservermongodb/psmdb_controller.go
  pkg/psmdb/mongo/models.go
Labels: size/S

#556 K8SPSMDB-391: Remove RS from status after shard was removed
  pkg/controller/perconaservermongodb/status.go
Labels: size/XS

#561 K8SPSMDB-395 fix bug in the patch command in update doc
  source/update.rst
Labels: docs, size/XS

#558 K8SPSMDB-390: Fix RS initialization
  pkg/controller/perconaservermongodb/mgo.go
Labels: size/S

#563 K8SPXC-655 fix typo in TLS doc, PSMDB version
  source/TLS.rst
Labels: docs, size/XS

#565 K8SPSMDB-399: Fix mongos readiness probe when TLS enabled but files do not exist
  cmd/mongodb-healthcheck/main.go
  healthcheck/tools/db/config.go
  healthcheck/tools/db/db.go
  healthcheck/tools/db/ssl.go
  pkg/apis/psmdb/v1/psmdb_defaults.go
Labels: size/L

#568 Fix typo in pkg/controller/perconaservermongodb/mgo.go
  pkg/controller/perconaservermongodb/mgo.go
Labels: size/XS

#569 K8SPSMDB-386 feature: update pbm and operator-sdk packages
  go.mod
  go.sum
  pkg/controller/perconaservermongodbbackup/perconaservermongodbbackup_controller.go
  pkg/controller/perconaservermongodbrestore/perconaservermongodbrestore_controller.go
  pkg/psmdb/backup/pbm.go
  vendor/github.com/operator-framework/operator-sdk/version/version.go
  vendor/github.com/percona/percona-backup-mongodb/pbm/bsontypes.go
  vendor/github.com/percona/percona-backup-mongodb/pbm/cmd.go
  vendor/github.com/percona/percona-backup-mongodb/pbm/config.go
  vendor/github.com/percona/percona-backup-mongodb/pbm/delete.go
  vendor/github.com/percona/percona-backup-mongodb/pbm/lock.go
  vendor/github.com/percona/percona-backup-mongodb/pbm/log/log.go
  vendor/github.com/percona/percona-backup-mongodb/pbm/node.go
  vendor/github.com/percona/percona-backup-mongodb/pbm/pbm.go
  vendor/github.com/percona/percona-backup-mongodb/pbm/pitr.go
  vendor/github.com/percona/percona-backup-mongodb/pbm/restore.go
  vendor/github.com/percona/percona-backup-mongodb/pbm/rsync.go
  vendor/github.com/percona/percona-backup-mongodb/pbm/storage/blackhole/blackhole.go
  vendor/github.com/percona/percona-backup-mongodb/pbm/storage/fs/fs.go
  vendor/github.com/percona/percona-backup-mongodb/pbm/storage/s3/s3.go
  vendor/github.com/percona/percona-backup-mongodb/pbm/storage/storage.go
  vendor/github.com/percona/percona-backup-mongodb/version/version.go
  vendor/modules.txt
Labels: size/S

#567 CLOUD-615 automatically cleanup obsolete tests results in PR
  Jenkinsfile
  e2e-tests/functions
  e2e-tests/license/compare/go-licenses
  e2e-tests/license/compare/license-detector
Labels: size/L

#566 K8SPSMDB-372 add contributing guide
  CONTRIBUTING.md
  code-of-conduct.md
Labels: docs, size/M

#570 K8SPSMDB-403 fix: some typos in comments/messages
  pkg/controller/perconaservermongodbbackup/backup.go
  pkg/controller/perconaservermongodbbackup/perconaservermongodbbackup_controller.go
  pkg/controller/perconaservermongodbrestore/perconaservermongodbrestore_controller.go
Labels: size/XS

#572 K8SPSMDB-401: Fix status with arbiter in RS
  pkg/controller/perconaservermongodb/status.go
Labels: size/M

#571 K8SPSMDB-397: Do not allow to disable/enable sharding with multiple active RS
  pkg/controller/perconaservermongodb/getters.go
  pkg/controller/perconaservermongodb/psmdb_controller.go
Labels: size/M

#576 K8SPSMDB-406 add relaxPermChecks option only from 1.7.0
  pkg/psmdb/mongos.go
Labels: size/XS

#575 K8SPSMDB-404: Add logic for syncing restore with mongos
  e2e-tests/functions
  pkg/apis/psmdb/v1/psmdb_types.go
  pkg/controller/perconaservermongodb/backup.go
  pkg/controller/perconaservermongodb/balancer.go
  pkg/controller/perconaservermongodb/mgo.go
  pkg/controller/perconaservermongodb/psmdb_controller.go
  pkg/controller/perconaservermongodb/smart.go
  pkg/controller/perconaservermongodbrestore/perconaservermongodbrestore_controller.go
  pkg/psmdb/mongos.go
Labels: size/L

#580 K8SPSMDB-406 Checking stable configuration during operator upgrade
  e2e-tests/upgrade-sharded/run
Labels: size/XS

#581 Fix diff in monitoring-2-0 e2e test for mongos deployment
  e2e-tests/monitoring-2-0/compare/deployment_monitoring-mongos-oc.yml
  e2e-tests/monitoring-2-0/compare/deployment_monitoring-mongos.yml
Labels: size/XS

#578 minor label fix
  source/expose.rst
Labels: docs, size/S

#583 K8SPSMDB-372 add possibility of skipping backups to aws/gcp S3 storage
  e2e-tests/data-sharded/run
  e2e-tests/demand-backup-sharded/run
  e2e-tests/demand-backup/run
  e2e-tests/functions
  e2e-tests/scheduled-backup/conf/some-name-rs0-2.yml
  e2e-tests/scheduled-backup/run
  e2e-tests/users/conf/backup-minio.yml
  e2e-tests/users/run
Labels: size/L

#586 add runtimeClassName and sidecars options
  deploy/cr.yaml
Labels: size/S

#587 Fix diff in demand-backup-sharded test for mongos deployment
  e2e-tests/demand-backup-sharded/compare/deployment_some-name-mongos-oc.yml
  e2e-tests/demand-backup-sharded/compare/deployment_some-name-mongos.yml
Labels: size/XS

#582 K8SPSMDB-362 mention specifics for cluster monitor user password change
  source/users.rst
Labels: docs, size/XS

#573 K8SPSMDB-379 document backup retention via the keep option
  source/backups.rst
  source/operator.rst
Labels: docs, size/S

#577 K8SPSMDB-375 document mupltiple shards support
  source/sharding.rst
Labels: docs, size/S
