Repository percona/percona-server-mongodb-operator, pull requests merged in 2021-08, with the labels that each got.

#739 K8SPSMDB-490: Add validation for CR name length
  pkg/apis/psmdb/v1/psmdb_defaults.go
Labels: size/XS

#732 K8SPSMDB-496: fix custom config hash annotations
  pkg/controller/perconaservermongodb/psmdb_controller.go
  pkg/psmdb/const.go
  pkg/psmdb/mongos.go
  pkg/psmdb/statefulset.go
Labels: size/L

#719 K8SPSMDB-506: Fix restarting primary pod on smart update
  e2e-tests/functions
  pkg/controller/perconaservermongodb/smart.go
  pkg/psmdb/mongo/models.go
Labels: size/M

#742 Update helm.rst
  source/helm.rst
Labels: size/XS

#746 K8SPSMDB-470: Fix propagation of annotations for external services
  pkg/psmdb/service.go
Labels: size/S

#725 K8SPSMDB-492 tests: Check pod restart after custom mongo config update
  e2e-tests/one-pod/compare/serverCmdLineOpts_parsed_systemLog.json
  e2e-tests/one-pod/compare/serverCmdLineOpts_parsed_systemLog_secret-2.json
  e2e-tests/one-pod/compare/serverCmdLineOpts_parsed_systemLog_secret.json
  e2e-tests/one-pod/conf/mongod-secret-2.yml
  e2e-tests/one-pod/conf/mongod-secret.yml
  e2e-tests/one-pod/run
Labels: size/M, tests

#734 K8SPSMDB-525 - switch images to main tag for main branch
  deploy/bundle.yaml
  deploy/cr.yaml
  deploy/operator.yaml
Labels: size/S

#741 K8SPSMDB-536 report Init status if some member is down
  pkg/controller/perconaservermongodb/mgo.go
Labels: size/XS
