Repository percona/percona-server-mongodb-operator, pull requests merged in 2021-01, with the labels that each got.

#524 rename the default branch to 'main'
  README.md
  e2e-tests/functions
  e2e-tests/one-pod/conf/one-pod-rs0.yml
  e2e-tests/smart-update/conf/smart-update-rs0.yml
  e2e-tests/upgrade-sharded/compare/statefulset_upgrade-sharded-cfg-oc.yml
  e2e-tests/upgrade-sharded/compare/statefulset_upgrade-sharded-cfg.yml
  e2e-tests/upgrade-sharded/compare/statefulset_upgrade-sharded-rs0-oc.yml
  e2e-tests/upgrade-sharded/compare/statefulset_upgrade-sharded-rs0.yml
  e2e-tests/upgrade-sharded/run
  e2e-tests/upgrade/compare/statefulset_upgrade-rs0.yml
  e2e-tests/version-service/conf/version-service-exact-rs0.yml
  e2e-tests/version-service/conf/version-service-latest-rs0.yml
  e2e-tests/version-service/conf/version-service-recommended-rs0.yml
  e2e-tests/version-service/conf/version-service-unreachable-rs0.yml
Labels: size/XL

#525 Fix links which previously referenced master branch
  source/arbiter.rst
  source/backups.rst
  source/constraints.rst
  source/expose.rst
  source/monitoring.rst
  source/operator.rst
  source/private.rst
  source/storage.rst
Labels: docs, size/M

#527 K8SPSMDB-351: Remove added_as_shard key when sharding not enabled
  pkg/apis/psmdb/v1/psmdb_types.go
  pkg/controller/perconaservermongodb/mgo.go
  pkg/controller/perconaservermongodb/status.go
Labels: size/XS

#528 CLOUD-605 PMM server chart version upgrade
  e2e-tests/monitoring-2-0/run
Labels: size/XS

#529 K8SPSMDB-346: Do not put custom labels to selector
  pkg/psmdb/statefulset.go
Labels: size/S

#531 K8SPSMDB-356 fix storage test
  e2e-tests/functions
  e2e-tests/storage/compare/statefulset_emptydir-rs0.yml
  e2e-tests/storage/compare/statefulset_hostpath-rs0.yml
  e2e-tests/storage/conf/emptydir-rs0.yml
  e2e-tests/storage/conf/hostpath-rs0.yml
Labels: size/M, tests

#530 K8SPSMDB-260: Add finalizer for PVC
  deploy/cr.yaml
  pkg/controller/perconaservermongodb/finalizers.go
  pkg/controller/perconaservermongodb/getters.go
  pkg/controller/perconaservermongodb/psmdb_controller.go
Labels: size/L
