Repository percona/percona-server-mongodb-operator, pull requests merged in 2021-12, with the labels that each got.

#819 K8SPSMDB-571 - Preparation for 1.11.0 release
  e2e-tests/default-cr/run
  e2e-tests/functions
  e2e-tests/monitoring-2-0/run
  e2e-tests/smart-update/run
  e2e-tests/version-service/conf/operator.9.9.9.psmdb-operator.json
  e2e-tests/version-service/conf/version-service-exact-rs0.yml
  e2e-tests/version-service/conf/version-service-major-rs0.yml
  e2e-tests/version-service/conf/version-service-unreachable-rs0.yml
  e2e-tests/version-service/run
Labels: size/L

#816 K8SPSMDB-228: rename `psmdbCluster` to `clusterName` in `PerconaServerMongoDBBackup`
  deploy/backup/backup.yaml
  deploy/bundle.yaml
  deploy/crd.yaml
  e2e-tests/demand-backup-sharded/conf/backup-aws-s3.yml
  e2e-tests/demand-backup-sharded/conf/backup-azure-blob.yml
  e2e-tests/demand-backup-sharded/conf/backup-gcp-cs.yml
  e2e-tests/demand-backup-sharded/conf/backup-minio.yml
  e2e-tests/demand-backup/conf/backup-aws-s3.yml
  e2e-tests/demand-backup/conf/backup-azure-blob.yml
  e2e-tests/demand-backup/conf/backup-gcp-cs.yml
  e2e-tests/demand-backup/conf/backup-minio.yml
  e2e-tests/one-pod/conf/backup-minio.yml
  e2e-tests/pitr-sharded/conf/backup-minio.yml
  e2e-tests/pitr/conf/backup-minio.yml
  e2e-tests/scheduled-backup/compare/cronjob_some-name-backup-every-min-aws-s3-oc.yml
  e2e-tests/scheduled-backup/compare/cronjob_some-name-backup-every-min-aws-s3.yml
  e2e-tests/scheduled-backup/compare/cronjob_some-name-backup-every-min-azure-blob-oc.yml
  e2e-tests/scheduled-backup/compare/cronjob_some-name-backup-every-min-azure-blob.yml
  e2e-tests/scheduled-backup/compare/cronjob_some-name-backup-every-min-gcp-cs-oc.yml
  e2e-tests/scheduled-backup/compare/cronjob_some-name-backup-every-min-gcp-cs.yml
  e2e-tests/scheduled-backup/compare/cronjob_some-name-backup-every-min-minio-oc.yml
  e2e-tests/scheduled-backup/compare/cronjob_some-name-backup-every-min-minio.yml
  e2e-tests/security-context/compare/cronjob.batch_sec-context-backup-each-hour.yml
  e2e-tests/users/conf/backup-minio.yml
  e2e-tests/version-service/conf/crd.yaml
  pkg/apis/psmdb/v1/perconaservermongodbbackup_types.go
  pkg/controller/perconaservermongodb/backup.go
  pkg/controller/perconaservermongodbbackup/backup.go
  pkg/controller/perconaservermongodbbackup/perconaservermongodbbackup_controller.go
  pkg/controller/perconaservermongodbrestore/perconaservermongodbrestore_controller.go
  pkg/psmdb/backup/backup.go
  pkg/psmdb/backup/job.go
Labels: size/L

#824 [K8SPSMDB-603] use memory resource limits to set --wiredTigerCacheSizeGB
  pkg/psmdb/container.go
Labels: size/XS

#805 Update operator.rst
  source/operator.rst
Labels: size/S, docs

#825 K8SPSMDB-607: Fix operator crashing on restore with `backupSource` and Azure Storage
  pkg/apis/psmdb/v1/perconaservermongodbrestore_types.go
  pkg/controller/perconaservermongodbrestore/perconaservermongodbrestore_controller.go
Labels: size/S

#822 K8SPSMDB-604: Add `startupDelaySeconds` option for mongos liveness probe
  e2e-tests/demand-backup-sharded/compare/deployment_some-name-mongos-4-oc.yml
  e2e-tests/demand-backup-sharded/compare/deployment_some-name-mongos-oc.yml
  e2e-tests/demand-backup-sharded/compare/deployment_some-name-mongos-secret.yml
  e2e-tests/demand-backup-sharded/compare/deployment_some-name-mongos.yml
  e2e-tests/monitoring-2-0/compare/deployment_monitoring-mongos-oc.yml
  e2e-tests/monitoring-2-0/compare/deployment_monitoring-mongos.yml
  e2e-tests/pitr-sharded/compare/deployment_some-name-mongos-4-oc.yml
  e2e-tests/pitr-sharded/compare/deployment_some-name-mongos-oc.yml
  e2e-tests/pitr-sharded/compare/deployment_some-name-mongos.yml
  pkg/apis/psmdb/v1/psmdb_defaults.go
Labels: size/M

#828 K8SPSMDB-571 Fix default-cr test
  e2e-tests/default-cr/compare/statefulset_minimal-cluster-cfg.yml
  e2e-tests/default-cr/compare/statefulset_my-cluster-name-cfg-oc.yml
  e2e-tests/default-cr/compare/statefulset_my-cluster-name-cfg.yml
  e2e-tests/default-cr/run
Labels: size/XS

#827 fix for CVE-2020-26160
  Jenkinsfile
  go.mod
  go.sum
  vendor/modules.txt
Labels: size/XS

#833 K8SPSMDB-571 - Put timeout to chaos-mesh delete and fix default-cr test
  e2e-tests/default-cr/compare/statefulset_my-cluster-name-cfg-oc.yml
  e2e-tests/default-cr/compare/statefulset_my-cluster-name-rs0-oc.yml
  e2e-tests/functions
Labels: size/S

#830 [K8SPSMDB-602]: setFCV flag causes a thread leak
  go.mod
  pkg/controller/perconaservermongodb/connections.go
  pkg/controller/perconaservermongodb/fcv.go
  pkg/controller/perconaservermongodb/mgo.go
  pkg/controller/perconaservermongodb/users.go
  vendor/modules.txt
Labels: size/M

#831 [K8SPSMDB-609] Store additional S3 settings into PBM config
  deploy/cr.yaml
  go.mod
  go.sum
  pkg/apis/psmdb/v1/psmdb_types.go
  pkg/psmdb/backup/pbm.go
  vendor/github.com/percona/percona-backup-mongodb/pbm/storage/s3/s3.go
  vendor/modules.txt
Labels: size/XS, community

#835 K8SPSMDB-571 - Fix service-per-pod test for kubernetes 1.22
  e2e-tests/functions
Labels: size/XS

#836 K8SPSMDB-571 - Fix failures in some tests
  e2e-tests/functions
Labels: size/XS

#837 K8SPSMDB-571 - Update versions for 1.11.0 release
  deploy/bundle.yaml
  deploy/cr-minimal.yaml
  deploy/cr.yaml
  deploy/operator.yaml
Labels: size/S

#840 K8SPSMDB-571 - Fix monitoring-2-0 test for OpenShift
  e2e-tests/monitoring-2-0/compare/statefulset_monitoring-cfg-oc.yml
Labels: size/XS

#842 K8SPSMDB-571 - Fix for smart-update and examples for azure blob storage
  deploy/backup/restore.yaml
  deploy/cr.yaml
  e2e-tests/smart-update/run
Labels: size/S

#841 K8SPSMDB-596: Move encryptionKeySecret to new variable
  deploy/cr.yaml
  pkg/apis/psmdb/v1/psmdb_defaults.go
  pkg/apis/psmdb/v1/psmdb_types.go
  pkg/controller/perconaservermongodb/psmdb_controller.go
  pkg/psmdb/container.go
  pkg/psmdb/statefulset.go
Labels: size/M

#826 K8SPSMDB-520 docs for sidecar containers
  source/faq.rst
  source/index.rst
  source/sidecar.rst
Labels: size/L, docs

#844 K8SPSMDB-527 document tuning options for probes
  source/operator.rst
Labels: size/L, docs

#845 K8SPSMDB-571 - Add example for sidecar secret/configmap/pvc
  deploy/cr.yaml
Labels: size/S

#847 K8SPSMDB-571 - Fix data-sharded test for MongoDB 5.0
  e2e-tests/data-sharded/run
Labels: size/M

#846 K8SPSMDB-574 Rollback Set certificate duration for external certificates to 100 years
  pkg/controller/perconaservermongodb/ssl.go
Labels: size/XS

#849 K8SPSMDB-543 backup doc impromements
  source/backups.rst
  source/users.rst
Labels: size/S, docs

#832 K8SPSMDB-523 document azure blob storage support
  source/backups.rst
  source/operator.rst
Labels: size/L, docs

#843 K8SPSMDB-571 RN for 1.11 and release related fixes
  source/RN/Kubernetes-Operator-for-PSMONGODB-RN1.11.0.rst
  source/RN/index.rst
  source/System-Requirements.rst
  source/arbiter.rst
  source/assets/images/sources/backups.odg
  source/conf.py
  source/images.rst
  source/operator.rst
  source/replication.rst
Labels: size/L, docs

#852 [K8SPSMDB-473] Allow to skip TLS verification for backup storage
  deploy/cr.yaml
  go.mod
  go.sum
  pkg/apis/psmdb/v1/psmdb_defaults.go
  pkg/apis/psmdb/v1/psmdb_types.go
  pkg/psmdb/backup/pbm.go
  vendor/github.com/percona/percona-backup-mongodb/pbm/storage/s3/s3.go
  vendor/modules.txt
Labels: size/M

#850 K8SPSMDB-560: `serviceName` tag not set to all members in rs
  pkg/psmdb/mongo/mongo.go
Labels: size/XS

#851 1.11.0 docs
  source/RN/Kubernetes-Operator-for-PSMONGODB-RN1.11.0.rst
  source/RN/index.rst
  source/System-Requirements.rst
  source/arbiter.rst
  source/assets/images/sources/backups.odg
  source/backups.rst
  source/conf.py
  source/faq.rst
  source/images.rst
  source/index.rst
  source/operator.rst
  source/replication.rst
  source/sidecar.rst
  source/users.rst
Labels: size/XXL, docs
