Repository percona/percona-server-mongodb-operator, pull requests merged in 2021-07, with the labels that each got.

#722 K8SPSMDB-488 - Preparation after 1.9.0 release
  deploy/bundle.yaml
  deploy/crd.yaml
  e2e-tests/functions
  e2e-tests/upgrade-consistency/compare/service_some-name-rs0-1100.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-rs0-1100-oc.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-rs0-1100.yml
  e2e-tests/upgrade-consistency/run
  e2e-tests/version-service/conf/crd.yaml
  version/version.go
Labels: size/XXL

#720 K8SPSMDB-488 rn 1.9.0 fixes
  source/RN/Kubernetes-Operator-for-PSMONGODB-RN1.9.0.rst
  source/RN/index.rst
  source/kubernetes.rst
  source/options.rst
Labels: docs, size/M

#726 K8SPSMDB-512: Add CustomWriteConcern type
  pkg/psmdb/mongo/models.go
  pkg/psmdb/mongo/mongo.go
Labels: community, size/S

#724 CLOUD-625 - Fix cleanup of chaos mesh from previous test
  e2e-tests/functions
Labels: size/XS, tests

#728 K8SPSMDB-511: Fix addShard if replset exposed
  pkg/controller/perconaservermongodb/mgo.go
Labels: size/XS

#727 K8SPSMDB-514 fix cronJob resources
  e2e-tests/scheduled-backup/compare/cronjob_some-name-backup-every-min-aws-s3-oc.yml
  e2e-tests/scheduled-backup/compare/cronjob_some-name-backup-every-min-aws-s3.yml
  e2e-tests/scheduled-backup/compare/cronjob_some-name-backup-every-min-gcp-cs-oc.yml
  e2e-tests/scheduled-backup/compare/cronjob_some-name-backup-every-min-gcp-cs.yml
  e2e-tests/scheduled-backup/compare/cronjob_some-name-backup-every-min-minio-oc.yml
  e2e-tests/scheduled-backup/compare/cronjob_some-name-backup-every-min-minio.yml
  e2e-tests/scheduled-backup/compare/statefulset_some-name-rs0-oc.yml
  e2e-tests/scheduled-backup/compare/statefulset_some-name-rs0.yml
  e2e-tests/scheduled-backup/conf/some-name-rs0-2.yml
  e2e-tests/scheduled-backup/conf/some-name-rs0.yml
  pkg/controller/perconaservermongodb/backup.go
  pkg/psmdb/backup/job.go
Labels: size/M

#731 CLOUD-635 - mention openshift certification
  source/openshift.rst
Labels: docs
