Repository percona/percona-server-mongodb-operator, pull requests merged in 2021-04, with the labels that each got.

#624 K8SPSMDB-387 feature: add restore to a specific date and time
  deploy/backup/restore.yaml
  pkg/apis/psmdb/v1/perconaservermongodbrestore_types.go
  pkg/apis/psmdb/v1/psmdb_types.go
  pkg/apis/psmdb/v1/zz_generated.deepcopy.go
  pkg/controller/perconaservermongodbrestore/perconaservermongodbrestore_controller.go
  pkg/psmdb/backup/backup.go
  pkg/psmdb/backup/pbm.go
Labels: size/L

#627 K8SPSMDB-386 fix: cluster status for enabled PITR without full backup
  pkg/controller/perconaservermongodb/backup.go
Labels: size/XS

#626 K8SPSMDB-387 feature: add restore to the latest chunk
  pkg/apis/psmdb/v1/perconaservermongodbrestore_types.go
  pkg/controller/perconaservermongodbrestore/perconaservermongodbrestore_controller.go
  pkg/psmdb/backup/pbm.go
Labels: size/S

#622 K8SPSMDB-332 feature: Restrict running min pods of config servers
  e2e-tests/smart-update/compare/statefulset_smart-update-rs0-oc.yml
  e2e-tests/smart-update/compare/statefulset_smart-update-rs0.yml
  pkg/apis/psmdb/v1/psmdb_defaults.go
Labels: size/S

#628 K8SPSMDB-387 feature: add no oplogs check for PITRestore
  pkg/controller/perconaservermongodbrestore/perconaservermongodbrestore_controller.go
  pkg/psmdb/backup/pbm.go
Labels: size/M

#629 K8SPSMDB-430: checking UID before deleting sts
  pkg/controller/perconaservermongodb/getters.go
Labels: size/S

#625 K8SPSMDB-284: Major Upgrade
  deploy/cr.yaml
  e2e-tests/functions
  e2e-tests/version-service/compare/statefulset_version-service-major-rs0-oc.yml
  e2e-tests/version-service/compare/statefulset_version-service-major-rs0.yml
  e2e-tests/version-service/conf/version-service-major-rs0.yml
  e2e-tests/version-service/conf/vs.yml
  e2e-tests/version-service/run
  pkg/apis/psmdb/v1/psmdb_types.go
  pkg/controller/perconaservermongodb/connections.go
  pkg/controller/perconaservermongodb/fcv.go
  pkg/controller/perconaservermongodb/mgo.go
  pkg/controller/perconaservermongodb/psmdb_controller.go
  pkg/controller/perconaservermongodb/smart.go
  pkg/controller/perconaservermongodb/users.go
  pkg/controller/perconaservermongodb/version.go
  pkg/controller/perconaservermongodb/version_test.go
  pkg/psmdb/mongo/models.go
  pkg/psmdb/mongo/mongo.go
  pkg/psmdb/mongos.go
Labels: size/XXL

#632 Add finalizer to on-demand backup spec
  deploy/backup/backup.yaml
Labels: size/XS

#633 K8SPSMDB-436 Use cr ImagePullPolicy on init containers
  pkg/psmdb/init.go
  pkg/psmdb/mongos.go
Labels: size/XS

#636 K8SPSMDB-387: fix pitrestore to latest in sharded cluster
  pkg/controller/perconaservermongodbrestore/perconaservermongodbrestore_controller.go
  pkg/psmdb/backup/pbm.go
Labels: size/M

#635 K8SPSMDB-428 Fix mutating CR on status update
  pkg/controller/perconaservermongodb/version.go
Labels: size/XS

#638 K8SPSMDB-434 fixed by checking nil pointer before dereference
  pkg/controller/perconaservermongodb/mgo.go
Labels: size/XS

#631 K8SPSMDB-387: add e2e test for pitr
  Jenkinsfile
  e2e-tests/pitr/compare/find-2nd.json
  e2e-tests/pitr/compare/find.json
  e2e-tests/pitr/compare/statefulset_some-name-rs0-oc.yml
  e2e-tests/pitr/compare/statefulset_some-name-rs0.yml
  e2e-tests/pitr/conf/backup-minio.yml
  e2e-tests/pitr/conf/restore.yml
  e2e-tests/pitr/conf/some-name-rs0.yml
  e2e-tests/pitr/run
  e2e-tests/run
Labels: size/XL, tests

#643 Update versions for 1.8.0 release
  deploy/bundle.yaml
  deploy/cr.yaml
  deploy/operator.yaml
Labels: size/S

#641 K8SPSMDB-437: Ensure PVC's have same labels with replicasets
  pkg/controller/perconaservermongodb/psmdb_controller.go
  pkg/psmdb/statefulset.go
Labels: size/XS

#644 Fix for release 1.8.0
  e2e-tests/init-deploy/compare/statefulset_some-name-rs0-oc.yml
  e2e-tests/init-deploy/compare/statefulset_some-name-rs0.yml
Labels: size/S

#645 Revert "Fix for release 1.8.0"
  e2e-tests/init-deploy/compare/statefulset_some-name-rs0-oc.yml
  e2e-tests/init-deploy/compare/statefulset_some-name-rs0.yml
Labels: size/S

#646 K8SPSMDB-442 - Update diffs for OpenShift
  e2e-tests/demand-backup-sharded/compare/statefulset_some-name-rs0-4-oc.yml
  e2e-tests/init-deploy/compare/statefulset_another-name-rs0-4-oc.yml
  e2e-tests/service-per-pod/compare/statefulset_local-balancer-rs0-oc.yml
Labels: size/S

#647 Fix for smart-update test for OpenShift
  e2e-tests/smart-update/compare/statefulset_smart-update-rs0-arbiter-oc.yml
Labels: size/L

#648 K8SPSMDB-442 - add pitr option in default cr.yaml
  deploy/cr.yaml
Labels: size/XS

#650 K8SPSMDB-442 - change apply option in default cr.yaml
  deploy/cr.yaml
Labels: size/XS
