Repository percona/percona-server-mongodb-operator, pull requests merged in 2021-09, with the labels that each got.

#748 K8SPSMDB-265 - Add options for cross region replication into cr.yaml
  deploy/cr.yaml
Labels: size/S

#749 K8SPSMDB-537: Pass sidecar flags to PMM client
  e2e-tests/monitoring-2-0/compare/deployment_monitoring-mongos.yml
  e2e-tests/monitoring-2-0/compare/statefulset_monitoring-cfg-oc.yml
  e2e-tests/monitoring-2-0/compare/statefulset_monitoring-cfg.yml
  e2e-tests/monitoring-2-0/compare/statefulset_monitoring-rs0-oc.yml
  e2e-tests/monitoring-2-0/compare/statefulset_monitoring-rs0.yml
  pkg/psmdb/pmm.go
Labels: size/M

#740 Fix cleanup of chaos-mesh after failed tests
  e2e-tests/functions
Labels: size/S, tests

#751 K8SPSMDB-547: Add validations for cross-cluster replication options
  pkg/apis/psmdb/v1/psmdb_defaults.go
Labels: size/S

#752 K8SPSMDB-265: Disable backups on unmanaged clusters
  pkg/apis/psmdb/v1/psmdb_defaults.go
  pkg/apis/psmdb/v1/psmdb_types.go
Labels: size/XS

#755 K8SPSMDB-541 clarify problem with setting replset options
  source/helm.rst
Labels: size/S, docs

#760 K8SPSMDB-554 - Change default exposeType from LoadBalancer to ClusterIP
  deploy/cr.yaml
Labels: size/XS

#758 K8SPSMDB-551: Don't step down and restart if primary node is external
  pkg/controller/perconaservermongodb/smart.go
Labels: size/XS

#759 K8SPSMDB-552: Disable SmartUpdate if cluster is unmanaged
  pkg/apis/psmdb/v1/psmdb_defaults.go
  pkg/controller/perconaservermongodb/balancer.go
  pkg/psmdb/mongo/mongo.go
Labels: size/S

#756 K8SPSMDB-550: Fix arbiter service if rs exposed
  pkg/controller/perconaservermongodb/external_service.go
Labels: size/XS

#762 K8SPSMDB-553: Don't allow running status in stuck backups
  pkg/controller/perconaservermongodbbackup/backup.go
Labels: size/XS

#763 K8SPSMDB-554 - Add example for externalNodes port option in cr.yaml
  deploy/cr.yaml
Labels: size/XS

#765 Fix conflict error on status update
  pkg/controller/perconaservermongodb/status.go
Labels: size/S

#754 K8SPSMDB-518-add-psmdb-5
  source/System-Requirements.rst
Labels: size/XS, docs

#768 K8SPSMDB-554 - Fix init-deploy test for PSMDB 5.0
  e2e-tests/functions
  e2e-tests/init-deploy/compare/backup-50.json
  e2e-tests/init-deploy/compare/clusterAdmin-50.json
  e2e-tests/init-deploy/compare/clusterMonitor-50.json
  e2e-tests/init-deploy/compare/userAdmin-50.json
Labels: size/XXL, tests

#736 CLOUD-637 - cr-minimal introduce
  deploy/cr-minimal.yaml
Labels: size/M

#737 CLOUD-637 introduce cr minimal
  source/System-Requirements.rst
  source/assets/code/kubectl-get-minimal-response.txt
  source/minikube.rst
Labels: size/M, docs

#767 K8SPSMDB-561: Clean up external tag on switch from unmanaged to managed
  pkg/controller/perconaservermongodb/backup.go
  pkg/controller/perconaservermongodb/mgo.go
  pkg/psmdb/mongo/mongo.go
Labels: size/M

#772 K8SPSMDB-564: Fix non-voting config if replset has none
  pkg/controller/perconaservermongodb/psmdb_controller.go
Labels: size/M

#773 K8SPSMDB-554 - Update PMM server for tests
  deploy/cr.yaml
  e2e-tests/monitoring-2-0/run
Labels: size/S

#774 K8SPSMDB-554 - Fix scheduled-backup test for kubernetes 1.22
  e2e-tests/scheduled-backup/run
Labels: size/XS

#771 K8SPSMDB-554 - Add custom config in cr.yaml under non-voting member
  deploy/cr.yaml
Labels: size/S

#770 CLOUD-647 remove unused travis artefacts
  .client-secret.json.enc
  .cloud-secret.yml.enc
  .travis.yml
Labels: size/M

#747 K8SPSMDB-501 add non-voting member options
  source/arbiter.rst
  source/operator.rst
Labels: size/L, docs

#775 K8SPSMDB-554 - Fix chaos-mesh issues on EKS
  e2e-tests/functions
Labels: size/XS

#776 K8SPSMDB-565: Fix CR name max length validation
  pkg/apis/psmdb/v1/psmdb_defaults.go
Labels: size/XS

#777 K8SPSMDB-554 - Update versions for 1.10.0 release
  deploy/bundle.yaml
  deploy/cr-minimal.yaml
  deploy/cr.yaml
  deploy/operator.yaml
Labels: size/XS

#769 K8SPXC-761 use numeric id in USER instruction
  build/Dockerfile
Labels: size/XS

#753 K8SPSMDB-546 minor improvements for the update doc
  source/update.rst
Labels: size/M, docs

#761 K8SPSMDB-265 cross region replication docs
  source/RN/index.rst
  source/assets/images/replication-mesh.svg
  source/assets/images/replication-pods.svg
  source/assets/images/sources/pxc-replication.odp
  source/index.rst
  source/replication.rst
Labels: size/XXL, docs

#745 add parts necessary for netlify builds
  Makefile
  requirements.txt
  runtime.txt
  source/conf-netlify/conf.py
Labels: size/L, docs

#785 K8SPSMDB-554 - Update tests for Kubernetes 1.22
  e2e-tests/functions
  e2e-tests/run
Labels: size/M

#786 K8SPSMDB-554 - Fix non-voting test for OpenShift
  e2e-tests/non-voting/compare/statefulset_nonvoting-rs0-nv-oc.yml
  e2e-tests/non-voting/compare/statefulset_nonvoting-rs0-nv.yml
  e2e-tests/non-voting/conf/nonvoting-rs0.yml
Labels: size/S

#788 K8SPSMDB-554 - Fix typo
  e2e-tests/functions
Labels: size/XS
