Repository percona/percona-server-mongodb-operator, pull requests merged in 2021-03, with the labels that each got.

#591 K8SPSMDB-409: Remove 'test' db from list of system DBs
  pkg/controller/perconaservermongodb/psmdb_controller.go
Labels: size/XS

#592 K8SPSMDB-408 Arbiter liveness check
  e2e-tests/arbiter/run
Labels: size/XS

#590 K8SPSMDB-408, K8SPSMDB-401: Fix arbiter liveness probe
  go.mod
  go.sum
  healthcheck/health.go
  healthcheck/readiness_test.go
  healthcheck/tools/db/config_test.go
  healthcheck/tools/db/db.go
  healthcheck/tools/db/db_test.go
  healthcheck/tools/db/ssl_test.go
  pkg/controller/perconaservermongodb/mgo.go
Labels: size/M

#585 K8SPSMDB-396 document how to use Red Hat Marketplace
  source/img/marketplace-operator-install.png
  source/img/marketplace-operator-page.png
  source/img/marketplace-operator-purchase.png
  source/openshift.rst
Labels: docs

#593 K8SPSMDB-413: Fix error when special chars in password
  healthcheck/tools/db/db.go
  pkg/controller/perconaservermongodb/secrets.go
Labels: size/XS

#574 K8SPSMDB-405 mention strict preserving major versions option in updat…
  source/update.rst
Labels: docs, size/M

#594 K8SPSMDB-415: Fix smart update for arbiter
  pkg/controller/perconaservermongodb/getters.go
  pkg/controller/perconaservermongodb/smart.go
Labels: size/M

#596 Fix arbiter options misalignment
  deploy/cr.yaml
Labels: size/M

#589 K8SPSMDB-367 document how to do initial sync of a pod
  source/faq.rst
Labels: docs, size/S

#601 K8SPSMDB-372 set 'SKIP_BACKUPS_TO_AWS_GCP=1' by default
  e2e-tests/functions
Labels: size/XS

#600 K8SPSMDB-416: Fix version request logic
  pkg/controller/perconaservermongodb/psmdb_controller.go
  pkg/controller/perconaservermongodb/version.go
  pkg/controller/perconaservermongodb/vs.go
Labels: size/S

#595 Cumulative options update for 1.7.0
  source/operator.rst
Labels: docs, size/L

#560 K8SPSMDB-355 update doc how to scale cluster
  source/operator.rst
  source/scaling.rst
Labels: docs, size/M

#564 K8SPSMDB-372 create doc about tests
  e2e-tests/README.md
Labels: docs, size/L

#584 K8SPSMDB-376 custom sidecar containers
  source/faq.rst
Labels: docs, size/S

#597 CLOUD-616 run linters automatically on each PR
  .github/linters/go.mod
  .github/workflows/reviewdog.yml
  build/Dockerfile
Labels: size/M

#588 Release Notes for PSMDBO 1.7.0
  source/RN/Kubernetes-Operator-for-PSMONGODB-RN1.7.0.rst
  source/RN/index.rst
  source/conf.py
  source/images.rst
Labels: docs, size/M

#603 label fixes
  source/System-Requirements.rst
  source/faq.rst
  source/operator.rst
  source/scaling.rst
  source/sharding.rst
Labels: docs, size/M

#607 minor labels fix
  source/kubernetes.rst
  source/operator.rst
  source/scaling.rst
Labels: size/M

#608 Update versions after 1.7.0 release
  e2e-tests/upgrade-consistency/compare/service_some-name-rs0-180.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-rs0-180-oc.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-rs0-180.yml
  e2e-tests/upgrade-consistency/run
  version/version.go
Labels: size/L

#610 Update code-of-conduct.md
  code-of-conduct.md
Labels: docs, size/XS

#612 K8SPSMDB-417 update readme file
  README.md
  operator.png
Labels: docs

#609 K8SPSMDB-419: add concurrent jobs check using PBM locks
  pkg/controller/perconaservermongodb/backup.go
  pkg/controller/perconaservermongodb/smart.go
  pkg/controller/perconaservermongodbbackup/perconaservermongodbbackup_controller.go
  pkg/controller/perconaservermongodbrestore/perconaservermongodbrestore_controller.go
  pkg/psmdb/backup/backup.go
  pkg/psmdb/backup/pbm.go
Labels: size/L

#614 K8SPSMDB-417-follow-up fix
  README.md
Labels: docs, size/XS

#611 K8SPSMDB-383 RedHat CSV files
  deploy/csv/redhat/1.4.0/manifests/percona-server-mongodb-operator.v1.4.0.clusterserviceversion.yaml
  deploy/csv/redhat/1.4.0/manifests/perconaservermongodbbackups.psmdb.percona.com.crd.yaml
  deploy/csv/redhat/1.4.0/manifests/perconaservermongodbrestores.psmdb.percona.com.crd.yaml
  deploy/csv/redhat/1.4.0/manifests/perconaservermongodbs.psmdb.percona.com.crd.yaml
  deploy/csv/redhat/1.4.0/metadata/annotations.yaml
  deploy/csv/redhat/1.5.0/manifests/percona-server-mongodb-operator.v1.5.0.clusterserviceversion.yaml
  deploy/csv/redhat/1.5.0/manifests/perconaservermongodbbackups.psmdb.percona.com.crd.yaml
  deploy/csv/redhat/1.5.0/manifests/perconaservermongodbrestores.psmdb.percona.com.crd.yaml
  deploy/csv/redhat/1.5.0/manifests/perconaservermongodbs.psmdb.percona.com.crd.yaml
  deploy/csv/redhat/1.5.0/metadata/annotations.yaml
  deploy/csv/redhat/1.5.0/tests/scorecard/config.yaml
  deploy/csv/redhat/1.6.0/manifests/percona-server-mongodb-operator.v1.6.0.clusterserviceversion.yaml
  deploy/csv/redhat/1.6.0/manifests/perconaservermongodbbackups.psmdb.percona.com.crd.yaml
  deploy/csv/redhat/1.6.0/manifests/perconaservermongodbrestores.psmdb.percona.com.crd.yaml
  deploy/csv/redhat/1.6.0/manifests/perconaservermongodbs.psmdb.percona.com.crd.yaml
  deploy/csv/redhat/1.6.0/metadata/annotations.yaml
  deploy/csv/redhat/1.6.0/tests/scorecard/config.yaml
  deploy/csv/redhat/1.7.0/manifests/percona-server-mongodb-operator.v1.7.0.clusterserviceversion.yaml
  deploy/csv/redhat/1.7.0/manifests/perconaservermongodbbackups.psmdb.percona.com.crd.yaml
  deploy/csv/redhat/1.7.0/manifests/perconaservermongodbrestores.psmdb.percona.com.crd.yaml
  deploy/csv/redhat/1.7.0/manifests/perconaservermongodbs.psmdb.percona.com.crd.yaml
  deploy/csv/redhat/1.7.0/metadata/annotations.yaml
  deploy/csv/redhat/1.7.0/tests/scorecard/config.yaml
  deploy/csv/redhat/README.md
  deploy/csv/redhat/bundle-1.4.0.Dockerfile
  deploy/csv/redhat/bundle-1.5.0.Dockerfile
  deploy/csv/redhat/bundle-1.6.0.Dockerfile
  deploy/csv/redhat/bundle-1.7.0.Dockerfile
Labels: size/XXL

#616 K8SPSMDB-417 add license badge
  README.md
Labels: docs, size/XS

#599 K8SPSMDB-400: Simplify secret change logic
  deploy/cr.yaml
  e2e-tests/demand-backup-sharded/compare/deployment_some-name-mongos.yml
  e2e-tests/monitoring-2-0/compare/deployment_monitoring-mongos.yml
  e2e-tests/upgrade/run
  pkg/apis/psmdb/v1/psmdb_types.go
  pkg/controller/perconaservermongodb/getters.go
  pkg/controller/perconaservermongodb/psmdb_controller.go
  pkg/controller/perconaservermongodb/secrets.go
  pkg/controller/perconaservermongodb/users.go
  pkg/psmdb/backup/agent.go
  pkg/psmdb/backup/pbm.go
  pkg/psmdb/container.go
  pkg/psmdb/mongos.go
  vendor/github.com/golang/mock/AUTHORS
  vendor/github.com/golang/mock/CONTRIBUTORS
  vendor/github.com/golang/mock/LICENSE
  vendor/github.com/golang/mock/gomock/call.go
  vendor/github.com/golang/mock/gomock/callset.go
  vendor/github.com/golang/mock/gomock/controller.go
  vendor/github.com/golang/mock/gomock/matchers.go
  vendor/github.com/percona/pmgo/README.md
  vendor/github.com/percona/pmgo/collection.go
  vendor/github.com/percona/pmgo/database.go
  vendor/github.com/percona/pmgo/dbtest.go
  vendor/github.com/percona/pmgo/gen-mocks.sh
  vendor/github.com/percona/pmgo/iter.go
  vendor/github.com/percona/pmgo/pipe.go
  vendor/github.com/percona/pmgo/pmgo.go
  vendor/github.com/percona/pmgo/pmgomock/collection.go
  vendor/github.com/percona/pmgo/pmgomock/database.go
  vendor/github.com/percona/pmgo/pmgomock/dbtest.go
  vendor/github.com/percona/pmgo/pmgomock/iter.go
  vendor/github.com/percona/pmgo/pmgomock/pipe.go
  vendor/github.com/percona/pmgo/pmgomock/pmgo.go
  vendor/github.com/percona/pmgo/pmgomock/query.go
  vendor/github.com/percona/pmgo/pmgomock/session.go
  vendor/github.com/percona/pmgo/query.go
  vendor/github.com/percona/pmgo/session.go
  vendor/gopkg.in/mgo.v2/dbtest/dbserver.go
  vendor/gopkg.in/tomb.v2/LICENSE
  vendor/gopkg.in/tomb.v2/README.md
  vendor/gopkg.in/tomb.v2/context.go
  vendor/gopkg.in/tomb.v2/context16.go
  vendor/gopkg.in/tomb.v2/tomb.go
  vendor/modules.txt
Labels: size/XXL

#579 K8SPSMDB-386 feature: add PITR controls (enable/disable)
  pkg/apis/psmdb/v1/psmdb_defaults.go
  pkg/apis/psmdb/v1/psmdb_types.go
  pkg/apis/psmdb/v1/zz_generated.deepcopy.go
  pkg/controller/perconaservermongodb/backup.go
  pkg/controller/perconaservermongodb/psmdb_controller.go
  pkg/controller/perconaservermongodbbackup/backup.go
  pkg/controller/perconaservermongodbrestore/perconaservermongodbrestore_controller.go
  pkg/psmdb/backup/backup.go
  pkg/psmdb/backup/pbm.go
Labels: size/L

#615 Add yaml file for ycsb insert and oltp workload
  e2e-tests/conf/ycsb.yaml
Labels: size/M, tests

#617 K8SPSMDB-43: Check if sharding enabled before removing from shard
  pkg/controller/perconaservermongodb/mgo.go
Labels: size/XS

#619 K8SPSMDB-331 feature: Restrict running min pods of mongos
  pkg/apis/psmdb/v1/psmdb_defaults.go
Labels: size/S

#621 mention the documentation license
  CONTRIBUTING.md
Labels: docs, size/XS

#620 add license, remove leftover artifact
  LICENSE
  timeline.html
Labels: docs

#623 CLOUD-616 fix golangci-lint timeout issue
  .github/workflows/reviewdog.yml
Labels: size/XS

#618 K8SPSMDB-386 feature: add PITR controls validation
  pkg/apis/psmdb/v1/psmdb_defaults.go
  pkg/controller/perconaservermongodb/backup.go
Labels: size/M
