Repository percona/percona-server-mongodb-operator, pull requests merged in 2022-09, with the labels that each got.

#1025 K8SPSMDB-763: Fix TLS config in healthcheck
  healthcheck/tools/db/config.go
  healthcheck/tools/db/db.go
Labels: size/XS

#1027 K8SPSMDB-699: Fix telemetry
  e2e-tests/functions
  pkg/controller/perconaservermongodb/version.go
Labels: size/XS

#1028 K8SPSMDB-763 - Convert data-sharded test to use requireTLS mode
  e2e-tests/conf/client_with_tls.yml
  e2e-tests/data-sharded/conf/some-name.yml
  e2e-tests/data-sharded/run
  e2e-tests/functions
Labels: size/M

#1029 Release 1.13.0 fix upgrade tests
  e2e-tests/init-deploy/compare/backup-40.json
  e2e-tests/init-deploy/compare/backup-50.json
  e2e-tests/init-deploy/compare/clusterAdmin-40.json
  e2e-tests/init-deploy/compare/clusterMonitor-40.json
  e2e-tests/init-deploy/compare/userAdmin-40.json
  e2e-tests/upgrade-sharded/run
  e2e-tests/upgrade/run
Labels: size/XXL

#1030 fix defautl-cr test
  e2e-tests/default-cr/compare/statefulset_minimal-cluster-cfg-oc.yml
  e2e-tests/default-cr/compare/statefulset_minimal-cluster-cfg.yml
  e2e-tests/default-cr/compare/statefulset_minimal-cluster-rs0-oc.yml
  e2e-tests/default-cr/compare/statefulset_minimal-cluster-rs0.yml
  e2e-tests/default-cr/compare/statefulset_my-cluster-name-cfg-oc.yml
  e2e-tests/default-cr/compare/statefulset_my-cluster-name-cfg.yml
  e2e-tests/default-cr/compare/statefulset_my-cluster-name-rs0-oc.yml
  e2e-tests/default-cr/compare/statefulset_my-cluster-name-rs0.yml
Labels: size/M

#1031 Release 1.13.0 skip backup deletion
  e2e-tests/demand-backup-sharded/run
  e2e-tests/demand-backup/run
Labels: size/XS

#1032 K8SPSMDB-765: Use TLS certs in pmm-client
  e2e-tests/monitoring-2-0/compare/statefulset_monitoring-cfg-oc.yml
  e2e-tests/monitoring-2-0/compare/statefulset_monitoring-cfg.yml
  e2e-tests/monitoring-2-0/compare/statefulset_monitoring-mongos-oc.yml
  e2e-tests/monitoring-2-0/compare/statefulset_monitoring-mongos.yml
  e2e-tests/monitoring-2-0/compare/statefulset_monitoring-rs0-oc.yml
  e2e-tests/monitoring-2-0/compare/statefulset_monitoring-rs0.yml
  e2e-tests/monitoring-2-0/conf/monitoring-rs0.yml
  e2e-tests/monitoring-2-0/run
  pkg/psmdb/pmm.go
Labels: size/L

#1033 fix version-service for CW
  e2e-tests/cross-site-sharded/run
  e2e-tests/default-cr/run
  e2e-tests/functions
  e2e-tests/version-service/compare/disabled_telemetry.version-service-cr.log-cw.json
  e2e-tests/version-service/compare/enabled_telemetry.version-service.log-cw.json
  e2e-tests/version-service/run
Labels: size/L

#1034 Release 1.13.0 fix data at rest encryption
  e2e-tests/data-at-rest-encryption/run
  e2e-tests/functions
Labels: size/S

#1035 fix data sharded test for psmdb 5.0
  e2e-tests/data-sharded/run
Labels: size/XS

#1036 K8SPSMDB-772: Ignore setDefaultRWConcern not found errors
  pkg/controller/perconaservermongodb/mgo.go
Labels: size/XS

#1037 K8SPSMDB-773: fix `WATCH_NAMESPACE` to support multiple values
  cmd/manager/main.go
Labels: size/S

#1038 fix vs test for psmdb 4.2
  e2e-tests/version-service/conf/operator.9.9.9.psmdb-operator.json
Labels: size/XS

#1039 fix tests for openshift
  e2e-tests/demand-backup-sharded/compare/statefulset_some-name-cfg-4-oc.yml
  e2e-tests/demand-backup-sharded/compare/statefulset_some-name-cfg-oc.yml
  e2e-tests/demand-backup-sharded/compare/statefulset_some-name-rs0-4-oc.yml
  e2e-tests/demand-backup-sharded/compare/statefulset_some-name-rs0-oc.yml
  e2e-tests/demand-backup/compare/statefulset_some-name-rs0-oc.yml
  e2e-tests/init-deploy/compare/statefulset_another-name-rs0-4-oc.yml
  e2e-tests/init-deploy/compare/statefulset_another-name-rs0-oc.yml
  e2e-tests/init-deploy/compare/statefulset_some-name-rs0-oc.yml
  e2e-tests/monitoring-2-0/compare/statefulset_monitoring-mongos-oc.yml
  e2e-tests/scheduled-backup/compare/statefulset_some-name-rs0-oc.yml
  e2e-tests/service-per-pod/compare/statefulset_cluster-ip-rs0-oc.yml
  e2e-tests/service-per-pod/compare/statefulset_local-balancer-rs0-oc.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-rs0-1130-oc.yml
Labels: size/M

#1040 K8SPSMDB-699 disable update in cr-minimal
  deploy/cr-minimal.yaml
Labels: size/XS

#1041 K8SPSMDB-764 Release 1.13.0 fix demand-backup-eks-credentials
  e2e-tests/demand-backup-eks-credentials/compare/statefulset_some-name-rs0.yml
Labels: size/S

#1043 K8SPSMDB-779 do not use TLS for PMM in case unsafe flag is set to true
  pkg/psmdb/pmm.go
Labels: size/XS

#1026 Release 1.13.0
  deploy/bundle.yaml
  deploy/cr-minimal.yaml
  deploy/cr.yaml
  deploy/cw-bundle.yaml
  deploy/cw-operator.yaml
  deploy/operator.yaml
  e2e-tests/cross-site-sharded/run
  e2e-tests/data-at-rest-encryption/run
  e2e-tests/data-sharded/run
  e2e-tests/default-cr/compare/statefulset_minimal-cluster-cfg-oc.yml
  e2e-tests/default-cr/compare/statefulset_minimal-cluster-cfg.yml
  e2e-tests/default-cr/compare/statefulset_minimal-cluster-rs0-oc.yml
  e2e-tests/default-cr/compare/statefulset_minimal-cluster-rs0.yml
  e2e-tests/default-cr/compare/statefulset_my-cluster-name-cfg-oc.yml
  e2e-tests/default-cr/compare/statefulset_my-cluster-name-cfg.yml
  e2e-tests/default-cr/compare/statefulset_my-cluster-name-rs0-oc.yml
  e2e-tests/default-cr/compare/statefulset_my-cluster-name-rs0.yml
  e2e-tests/default-cr/run
  e2e-tests/demand-backup-eks-credentials/compare/statefulset_some-name-rs0.yml
  e2e-tests/demand-backup-sharded/compare/statefulset_some-name-cfg-4-oc.yml
  e2e-tests/demand-backup-sharded/compare/statefulset_some-name-cfg-oc.yml
  e2e-tests/demand-backup-sharded/compare/statefulset_some-name-rs0-4-oc.yml
  e2e-tests/demand-backup-sharded/compare/statefulset_some-name-rs0-oc.yml
  e2e-tests/demand-backup-sharded/run
  e2e-tests/demand-backup/compare/statefulset_some-name-rs0-oc.yml
  e2e-tests/demand-backup/run
  e2e-tests/functions
  e2e-tests/init-deploy/compare/backup-40.json
  e2e-tests/init-deploy/compare/backup-50.json
  e2e-tests/init-deploy/compare/clusterAdmin-40.json
  e2e-tests/init-deploy/compare/clusterMonitor-40.json
  e2e-tests/init-deploy/compare/statefulset_another-name-rs0-4-oc.yml
  e2e-tests/init-deploy/compare/statefulset_another-name-rs0-oc.yml
  e2e-tests/init-deploy/compare/statefulset_some-name-rs0-oc.yml
  e2e-tests/init-deploy/compare/userAdmin-40.json
  e2e-tests/monitoring-2-0/compare/statefulset_monitoring-mongos-oc.yml
  e2e-tests/scheduled-backup/compare/statefulset_some-name-rs0-oc.yml
  e2e-tests/service-per-pod/compare/statefulset_cluster-ip-rs0-oc.yml
  e2e-tests/service-per-pod/compare/statefulset_local-balancer-rs0-oc.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-rs0-1130-oc.yml
  e2e-tests/upgrade-sharded/run
  e2e-tests/upgrade/run
  e2e-tests/version-service/compare/disabled_telemetry.version-service-cr.log-cw.json
  e2e-tests/version-service/compare/enabled_telemetry.version-service.log-cw.json
  e2e-tests/version-service/conf/operator.9.9.9.psmdb-operator.json
  e2e-tests/version-service/run
Labels: size/XXL

#1044 K8SPSMDB-764 post release changes
  deploy/bundle.yaml
  deploy/cr-minimal.yaml
  deploy/cr.yaml
  deploy/cw-bundle.yaml
  deploy/cw-operator.yaml
  deploy/operator.yaml
  e2e-tests/functions
  e2e-tests/upgrade-consistency/compare/service_some-name-rs0-1120.yml
  e2e-tests/upgrade-consistency/compare/service_some-name-rs0-1140.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-rs0-1110-oc.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-rs0-1110.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-rs0-1120-oc.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-rs0-1120.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-rs0-1130-oc.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-rs0-1130.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-rs0-1140-oc.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-rs0-1140.yml
  e2e-tests/upgrade-consistency/conf/some-name-rs0.yml
  e2e-tests/upgrade-consistency/run
  version/version.go
Labels: size/L
