Repository percona/percona-server-mongodb-operator, pull requests merged in 2022-06, with the labels that each got.

#964 CLOUD-691 fix leftovers
  source/custom-registry.rst
  source/expose.rst
  source/faq.rst
  source/ldap.rst
Labels: size/S, docs

#965 K8SPSMDB-697 - Remove unused option runUid
  deploy/bundle.yaml
  deploy/cr.yaml
  deploy/crd.yaml
  e2e-tests/version-service/conf/crd.yaml
  pkg/apis/psmdb/v1/psmdb_defaults.go
  pkg/apis/psmdb/v1/psmdb_types.go
Labels: size/S

#972 Cloud-710 use gke-gcloud-auth-plugin by default
  Jenkinsfile
Labels: size/XS
