Repository percona/percona-server-mongodb-operator, pull requests merged in 2022-02, with the labels that each got.

#874 CLOUD-676 move helm doc to quickstart section
  source/index.rst
Labels: size/XS, docs

#871 CLOUD-660 public access to failed tests
  Jenkinsfile
  e2e-tests/functions
Labels: size/M

#876 CLOUD-650 - Add backup/restore step to upgrade and upgrade-sharded test
  e2e-tests/functions
  e2e-tests/upgrade-sharded/compare/find-2nd.json
  e2e-tests/upgrade-sharded/conf/backup-minio.yml
  e2e-tests/upgrade-sharded/conf/restore.yml
  e2e-tests/upgrade-sharded/run
  e2e-tests/upgrade/compare/find-2nd.json
  e2e-tests/upgrade/conf/backup-minio.yml
  e2e-tests/upgrade/conf/restore.yml
  e2e-tests/upgrade/run
Labels: size/L

#878 K8SPSMDB-577 mention smart updates in custom registry
  source/custom-registry.rst
Labels: size/XS, docs

#869 K8SPSMDB-635: Add labels to backup pod template
  e2e-tests/scheduled-backup/compare/cronjob_some-name-backup-every-min-aws-s3-oc.yml
  e2e-tests/scheduled-backup/compare/cronjob_some-name-backup-every-min-aws-s3.yml
  e2e-tests/scheduled-backup/compare/cronjob_some-name-backup-every-min-azure-blob-oc.yml
  e2e-tests/scheduled-backup/compare/cronjob_some-name-backup-every-min-azure-blob.yml
  e2e-tests/scheduled-backup/compare/cronjob_some-name-backup-every-min-gcp-cs-oc.yml
  e2e-tests/scheduled-backup/compare/cronjob_some-name-backup-every-min-gcp-cs.yml
  e2e-tests/scheduled-backup/compare/cronjob_some-name-backup-every-min-minio-oc.yml
  e2e-tests/scheduled-backup/compare/cronjob_some-name-backup-every-min-minio.yml
  e2e-tests/security-context/compare/cronjob.batch_sec-context-backup-each-hour.yml
  pkg/apis/psmdb/v1/psmdb_types.go
  pkg/controller/perconaservermongodb/backup.go
  pkg/psmdb/backup/job.go
Labels: size/L, community

#883 K8SPSMDB-580 add anchors to links
  source/conf.py
Labels: size/XS, docs

#875 CLOUD-677 Update README.md, other quick fixes
  ADOPTERS.md
  CONTRIBUTING.md
  README.md
  e2e-tests/README.md
Labels: size/M, docs

#885 CLOUD-682 use pmm-server dev-latest
  e2e-tests/default-cr/run
  e2e-tests/functions
  e2e-tests/monitoring-2-0/run
Labels: size/S

#797 K8SPSMDB-578-579: check both SSL secret and SSL internal secret in reconsileSSL
  pkg/controller/perconaservermongodb/ssl.go
Labels: size/S, community

#892 K8SPSMDB-562 - Update tests for PSMDB 5.0
  e2e-tests/init-deploy/compare/clusterAdmin-50.json
  e2e-tests/smart-update/run
Labels: size/M
