Repository percona/percona-server-mongodb-operator, pull requests merged in 2022-07, with the labels that each got.

#968 K8SPSMDB-696: can't delete annotations from `spec.replsets.annotations`
  pkg/controller/perconaservermongodb/psmdb_controller.go
Labels: size/XS

#966 K8SPSMDB-690 Removed mongos.auditLog subsection from cr
  deploy/cr.yaml
  pkg/psmdb/mongos.go
Labels: size/S

#967 K8SPSMDB-676: unmanaged cluster stay READY after disaster
  pkg/controller/perconaservermongodb/mgo.go
Labels: size/S

#978 K8SPSMDB-699: Disable automated upgrade by default
  deploy/bundle.yaml
  deploy/cr.yaml
  deploy/operator.yaml
  pkg/apis/psmdb/v1/psmdb_defaults.go
  pkg/apis/psmdb/v1/psmdb_types.go
  pkg/controller/perconaservermongodb/psmdb_controller.go
  pkg/controller/perconaservermongodb/version.go
  pkg/controller/perconaservermongodb/vs.go
Labels: size/M

#971 K8SPSMDB-636: create `perconaAdmin` user
  deploy/secrets.yaml
  e2e-tests/conf/secrets.yml
  pkg/controller/perconaservermongodb/mgo.go
  pkg/controller/perconaservermongodb/secrets.go
Labels: size/M

#985 K8SPSMDB-636: fill empty credentials in user secrets
  pkg/controller/perconaservermongodb/secrets.go
Labels: size/M
