Repository percona/percona-server-mongodb-operator, pull requests merged in 2022-08, with the labels that each got.

#984 K8SPSMDB-699: Disable telemetry while running tests
  e2e-tests/functions
Labels: size/XS

#989 K8SPSMDB-718 update go modules
  go.mod
  go.sum
  vendor/golang.org/x/crypto/AUTHORS
  vendor/golang.org/x/crypto/CONTRIBUTORS
  vendor/golang.org/x/crypto/argon2/argon2.go
  vendor/golang.org/x/crypto/ocsp/ocsp.go
  vendor/golang.org/x/crypto/pbkdf2/pbkdf2.go
  vendor/golang.org/x/crypto/scrypt/scrypt.go
  vendor/modules.txt
Labels: size/XS

#992 CLOUD-724 add code owners
  CODEOWNERS
Labels: size/XS

#991 CLOUD-724 add code owners
  .github/CODEOWNERS
Labels: size/XS

#981 CLOUD-714 - Fix the dev-latest chart for monitoring E2E tests
  e2e-tests/functions
Labels: size/XS

#963 K8SPSMDB-695 Fix annotations description in the operator options list
  source/backups.rst
  source/operator.rst
Labels: size/M, docs

#997 Compare operator solutions
  source/compare.rst
  source/index.rst
Labels: size/L, docs

#998 K8SPSMDB-727 fix broken link
  source/encryption.rst
Labels: size/XS, docs

#999 K8SPSMDB-728 fix options naming and nesting
  source/operator.rst
Labels: size/S, docs

#993 K8SPSMDB-287 fix crd deleting for our tests
  e2e-tests/functions
  e2e-tests/upgrade-sharded/run
  e2e-tests/upgrade/run
Labels: size/S

#1004 CLOUD-724 do not use 'Cloud Team'
  .github/CODEOWNERS
Labels: size/XS

#975 K8SPSMDB-709: Add support for API key authentication with PMM
  deploy/secrets.yaml
  e2e-tests/monitoring-2-0/compare/statefulset_monitoring-cfg-oc.yml
  e2e-tests/monitoring-2-0/compare/statefulset_monitoring-cfg.yml
  e2e-tests/monitoring-2-0/compare/statefulset_monitoring-mongos-oc.yml
  e2e-tests/monitoring-2-0/compare/statefulset_monitoring-mongos.yml
  e2e-tests/monitoring-2-0/compare/statefulset_monitoring-rs0-oc.yml
  e2e-tests/monitoring-2-0/compare/statefulset_monitoring-rs0.yml
  e2e-tests/monitoring-2-0/conf/secrets.yml
  e2e-tests/monitoring-2-0/run
  pkg/apis/psmdb/v1/psmdb_types.go
  pkg/controller/perconaservermongodb/psmdb_controller.go
  pkg/controller/perconaservermongodb/secrets.go
  pkg/controller/perconaservermongodb/users.go
  pkg/psmdb/pmm.go
Labels: size/L

#1002 K8SPSMDB-730: Fix enabling PITR unnecessarily
  Jenkinsfile
  pkg/controller/perconaservermongodb/backup.go
  pkg/controller/perconaservermongodb/mgo.go
  pkg/controller/perconaservermongodb/secrets.go
  pkg/controller/perconaservermongodb/users.go
Labels: size/M

#1005 K8SPSMDB-731 update go version to 1.18
  build/Dockerfile
  go.mod
  go.sum
Labels: size/XS

#976 K8SPSMDB-660 increase pbmStartingDeadline from 40s to 120s
  pkg/controller/perconaservermongodbbackup/backup.go
Labels: size/XS, community

#979 K8SPSMDB-686: Fix PBM error after disabling sharding
  pkg/controller/perconaservermongodb/psmdb_controller.go
Labels: size/S

#1007 CLOUD-726 remove service broker from docs
  source/broker.rst
  source/img/broker-create-service-instance.png
  source/img/broker-creation.png
  source/img/broker-dev-catalog.png
  source/img/broker-pods.png
  source/index.rst
Labels: size/M, docs

#1001 K8SPSMDB-724: fix `delete-backup` finalizer
  deploy/bundle.yaml
  deploy/crd.yaml
  e2e-tests/demand-backup-sharded/conf/backup-aws-s3.yml
  e2e-tests/demand-backup-sharded/conf/backup-azure-blob.yml
  e2e-tests/demand-backup-sharded/conf/backup-gcp-cs.yml
  e2e-tests/demand-backup-sharded/conf/backup-minio.yml
  e2e-tests/demand-backup-sharded/run
  e2e-tests/demand-backup/conf/backup-aws-s3.yml
  e2e-tests/demand-backup/conf/backup-azure-blob.yml
  e2e-tests/demand-backup/conf/backup-gcp-cs.yml
  e2e-tests/demand-backup/conf/backup-minio.yml
  e2e-tests/demand-backup/run
  e2e-tests/functions
  e2e-tests/scheduled-backup/run
  e2e-tests/version-service/conf/crd.yaml
  pkg/apis/psmdb/v1/perconaservermongodbbackup_types.go
  pkg/controller/perconaservermongodbbackup/backup.go
  pkg/controller/perconaservermongodbbackup/perconaservermongodbbackup_controller.go
  pkg/psmdb/backup/pbm.go
Labels: size/L

#977 K8SPSMDB-287: Use Hashicorp Vault to store encryption keys
  Jenkinsfile
  deploy/bundle.yaml
  deploy/cr.yaml
  deploy/crd.yaml
  e2e-tests/data-at-rest-encryption/compare/find-2nd.json
  e2e-tests/data-at-rest-encryption/compare/find.json
  e2e-tests/data-at-rest-encryption/compare/statefulset_some-name-cfg.yml
  e2e-tests/data-at-rest-encryption/compare/statefulset_some-name-rs0.yml
  e2e-tests/data-at-rest-encryption/conf/backup-gcp-cs.yml
  e2e-tests/data-at-rest-encryption/conf/backup-minio.yml
  e2e-tests/data-at-rest-encryption/conf/restore.yml
  e2e-tests/data-at-rest-encryption/conf/some-name-unencrypted.yml
  e2e-tests/data-at-rest-encryption/conf/some-name.yml
  e2e-tests/data-at-rest-encryption/run
  e2e-tests/functions
  e2e-tests/version-service/conf/crd.yaml
  pkg/apis/psmdb/v1/psmdb_types.go
  pkg/psmdb/const.go
  pkg/psmdb/container.go
  pkg/psmdb/statefulset.go
Labels: size/XL

#980 K8SPSMDB-666: Don't force reconfig by default
  pkg/controller/perconaservermongodb/mgo.go
  pkg/psmdb/mongo/models.go
  pkg/psmdb/mongo/mongo.go
Labels: size/M

#1008 K8SPSMDB-725: Support configuring logger via env variables
  .gitignore
  cmd/manager/main.go
  deploy/bundle.yaml
  deploy/operator.yaml
  e2e-tests/functions
Labels: size/M

#986 CLOUD-728 add badges to README
  README.md
Labels: size/XS

#1011 K8SPSMDB-515 fail Jenkins pipeline if docker build fails
  .github/CODEOWNERS
  Jenkinsfile
Labels: size/XS

#1013 K8SPSMDB-756: Upgrade PBM to 1.8.1
  go.mod
  go.sum
  pkg/controller/perconaservermongodbbackup/backup.go
  vendor/github.com/percona/percona-backup-mongodb/pbm/config.go
  vendor/github.com/percona/percona-backup-mongodb/pbm/delete.go
  vendor/github.com/percona/percona-backup-mongodb/pbm/pbm.go
  vendor/github.com/percona/percona-backup-mongodb/pbm/pitr.go
  vendor/github.com/percona/percona-backup-mongodb/pbm/rs_map.go
  vendor/github.com/percona/percona-backup-mongodb/version/version.go
  vendor/modules.txt
Labels: size/XS

#969 K8SPSMDB-707: add possibility of setting labels for services
  deploy/bundle.yaml
  deploy/cr.yaml
  deploy/crd.yaml
  e2e-tests/monitoring-2-0/compare/service_monitoring-mongos.yml
  e2e-tests/monitoring-2-0/conf/monitoring-rs0.yml
  e2e-tests/monitoring-2-0/run
  e2e-tests/one-pod/compare/service_one-pod-rs0.yml
  e2e-tests/one-pod/conf/one-pod-rs0.yml
  e2e-tests/one-pod/run
  e2e-tests/version-service/conf/crd.yaml
  pkg/apis/psmdb/v1/psmdb_types.go
  pkg/psmdb/mongos.go
  pkg/psmdb/service.go
Labels: size/L

#1009 K8SPSMDB-704 fix azure tests
  e2e-tests/cross-site-sharded/run
  e2e-tests/functions
Labels: size/XS

#1017 K8SPSMDB-760 pdb is policy/v1 since v1.21.0
  pkg/psmdb/pdb.go
Labels: size/S, community

#1021 K8SPSMDB-515: Don't restart mongod nodes after upgrade
  pkg/psmdb/container.go
Labels: size/XS

#1022 K8SPSMDB-515: Don't restart mongos nodes after upgrade
  pkg/psmdb/mongos.go
Labels: size/XS

#1020 fix pbm version number in docs
  source/conf.py
  source/update.rst
Labels: size/XS, docs

#1023 fix bundle target
  Makefile
  deploy/bundle.yaml
  deploy/cw-bundle.yaml
Labels: size/XS

#1018 K8SPSMDB-746 fix: don't set votes and priority simultaneously in unsafe psa mode
  pkg/controller/perconaservermongodb/mgo.go
  pkg/psmdb/mongo/mongo.go
  pkg/psmdb/mongo/mongo_test.go
Labels: size/S, community
