Repository percona/percona-server-mongodb-operator, pull requests merged in 2022-01, with the labels that each got.

#855 K8SPSMDB-618 use ubi8 for psmdb operator image
  build/Dockerfile
Labels: size/XS

#856 K8SPSMDB-620 remove unneeded step from monitoring doc
  source/monitoring.rst
Labels: size/XS

#857 small docs fix
  source/expose.rst
Labels: size/XS, docs

#817 [K8SPSMDB-601] Compression set in PerconaServerMongoDB's task is missing in PerconaServerMongoDBBackup
  deploy/cr.yaml
  e2e-tests/scheduled-backup/compare/cronjob_some-name-backup-every-min-aws-s3-oc.yml
  e2e-tests/scheduled-backup/compare/cronjob_some-name-backup-every-min-aws-s3.yml
  e2e-tests/scheduled-backup/compare/cronjob_some-name-backup-every-min-azure-blob-oc.yml
  e2e-tests/scheduled-backup/compare/cronjob_some-name-backup-every-min-azure-blob.yml
  e2e-tests/scheduled-backup/compare/cronjob_some-name-backup-every-min-gcp-cs-oc.yml
  e2e-tests/scheduled-backup/compare/cronjob_some-name-backup-every-min-gcp-cs.yml
  e2e-tests/scheduled-backup/compare/cronjob_some-name-backup-every-min-minio-oc.yml
  e2e-tests/scheduled-backup/compare/cronjob_some-name-backup-every-min-minio.yml
  e2e-tests/security-context/compare/cronjob.batch_sec-context-backup-each-hour.yml
  go.mod
  go.sum
  pkg/apis/psmdb/v1/perconaservermongodbbackup_types.go
  pkg/apis/psmdb/v1/psmdb_types.go
  pkg/controller/perconaservermongodbbackup/backup.go
  pkg/psmdb/backup/job.go
  vendor/github.com/percona/percona-backup-mongodb/pbm/lock.go
  vendor/github.com/percona/percona-backup-mongodb/pbm/pbm.go
  vendor/github.com/percona/percona-backup-mongodb/pbm/storage/s3/s3.go
  vendor/modules.txt
Labels: size/L, community

#804 CLOUD-654 avoid setting defaults in CR
  e2e-tests/functions
  pkg/controller/perconaservermongodb/psmdb_controller.go
  pkg/controller/perconaservermongodb/version.go
  pkg/controller/perconaservermongodbbackup/perconaservermongodbbackup_controller.go
  pkg/controller/perconaservermongodbrestore/perconaservermongodbrestore_controller.go
Labels: size/L

#865 K8SPSMDB-630 - PITR decrease waiting time up to 2 min
  e2e-tests/pitr-sharded/conf/some-name-rs0.yml
  e2e-tests/pitr-sharded/run
  e2e-tests/pitr/conf/some-name-rs0.yml
  e2e-tests/pitr/run
Labels: size/XS

#864 CLOUD-674 add info about build platform
  e2e-tests/README.md
  e2e-tests/build
Labels: size/XS

#859 K8SPSMDB-626 - confusing resources section
  deploy/cr.yaml
Labels: size/M

#861 K8SPSMDB-631 - Fix diff in scaling test for Minikube 1.23
  e2e-tests/functions
Labels: size/XS

#866 K8SPSMDB-632: Fix smart update on initial deployment
  pkg/controller/perconaservermongodb/smart.go
Labels: size/XS
