Repository percona/percona-server-mongodb-operator, pull requests merged in 2022-03, with the labels that each got.

#887 K8SPSMDB-473 describe the verifyTLS option
  source/operator.rst
Labels: size/S, docs

#872 K8SPSMDB-563 fix: add finalizer to delete pods in order
  deploy/cr.yaml
  pkg/controller/perconaservermongodb/finalizers.go
  pkg/controller/perconaservermongodb/psmdb_controller.go
Labels: size/M

#897 CLOUD-685 fix monitoring test
  e2e-tests/monitoring-2-0/run
Labels: size/S

#896 CLOUD-684 move notifications to private channels
  Jenkinsfile
Labels: size/XS

#906 Fix reviewdog errors
  .github/workflows/reviewdog.yml
Labels: size/XS

#907 Fix init-deploy test
  e2e-tests/init-deploy/compare/clusterAdmin-44.json
Labels: size/S

#904 K8SPSMDB-653 fix: remove hardcoded `imagePullPolicy`
  pkg/controller/perconaservermongodb/psmdb_controller.go
  pkg/psmdb/backup/agent.go
  pkg/psmdb/pmm.go
Labels: size/S

#900 K8SPSMDB-574: Allow configuring duration for cert-manager certs
  deploy/cr.yaml
  pkg/apis/psmdb/v1/psmdb_defaults.go
  pkg/apis/psmdb/v1/psmdb_types.go
  pkg/controller/perconaservermongodb/ssl.go
Labels: size/S

#908 Fix RBAC in bundle.yaml
  deploy/bundle.yaml
Labels: size/S

#905 K8SPSMDB-654: Handle mongo member state unknown
  pkg/controller/perconaservermongodb/mgo.go
Labels: size/XS

#867 [K8SPSMDB-634] Support PBM's PITR compression functionality
  go.mod
  go.sum
  pkg/apis/psmdb/v1/psmdb_types.go
  pkg/controller/perconaservermongodb/backup.go
  vendor/github.com/percona/percona-backup-mongodb/pbm/bcp_nodes_priority.go
  vendor/github.com/percona/percona-backup-mongodb/pbm/config.go
  vendor/github.com/percona/percona-backup-mongodb/pbm/pbm.go
  vendor/github.com/percona/percona-backup-mongodb/pbm/pitr.go
  vendor/github.com/percona/percona-backup-mongodb/pbm/restore.go
  vendor/github.com/percona/percona-backup-mongodb/pbm/storage/s3/s3.go
  vendor/modules.txt
Labels: size/M

#890 CLOUD-672 add tests for cross site replication
  Jenkinsfile
  e2e-tests/cross-site-sharded/compare/find.json
  e2e-tests/cross-site-sharded/conf/cross-site-sharded-main.yml
  e2e-tests/cross-site-sharded/conf/cross-site-sharded-replica.yml
  e2e-tests/cross-site-sharded/conf/secrets.yml
  e2e-tests/cross-site-sharded/data.js
  e2e-tests/cross-site-sharded/disaster_recovery.js
  e2e-tests/cross-site-sharded/run
  e2e-tests/functions
  e2e-tests/run
Labels: size/XL

#903 K8SPSMDB-185: Allow PBM to get S3 credentials from EC2 metadata
  pkg/psmdb/backup/pbm.go
Labels: size/M

#913 turn off cross-site test
  Jenkinsfile
  e2e-tests/run
Labels: size/S

#862 K8SPSMDB-599 fix: Add service per pod for mongos
  deploy/cr.yaml
  e2e-tests/default-cr/run
  e2e-tests/demand-backup-sharded/compare/statefulset_some-name-mongos-4-oc.yml
  e2e-tests/demand-backup-sharded/compare/statefulset_some-name-mongos-oc.yml
  e2e-tests/demand-backup-sharded/compare/statefulset_some-name-mongos-secret.yml
  e2e-tests/demand-backup-sharded/compare/statefulset_some-name-mongos.yml
  e2e-tests/demand-backup-sharded/run
  e2e-tests/monitoring-2-0/compare/statefulset_monitoring-mongos-oc.yml
  e2e-tests/monitoring-2-0/compare/statefulset_monitoring-mongos.yml
  e2e-tests/monitoring-2-0/run
  e2e-tests/pitr-sharded/compare/statefulset_some-name-mongos-4-oc.yml
  e2e-tests/pitr-sharded/compare/statefulset_some-name-mongos-oc.yml
  e2e-tests/pitr-sharded/compare/statefulset_some-name-mongos.yml
  e2e-tests/pitr-sharded/run
  e2e-tests/rs-shard-migration/run
  e2e-tests/upgrade-sharded/run
  pkg/apis/psmdb/v1/psmdb_types.go
  pkg/controller/perconaservermongodb/balancer.go
  pkg/controller/perconaservermongodb/getters.go
  pkg/controller/perconaservermongodb/psmdb_controller.go
  pkg/controller/perconaservermongodb/smart.go
  pkg/controller/perconaservermongodb/status.go
  pkg/psmdb/client.go
  pkg/psmdb/getters.go
  pkg/psmdb/mongos.go
  pkg/psmdb/service.go
Labels: size/XL

#914 CLOUD-672 fix service type
  e2e-tests/cross-site-sharded/conf/cross-site-sharded-main.yml
  e2e-tests/cross-site-sharded/conf/cross-site-sharded-replica.yml
  e2e-tests/cross-site-sharded/run
  e2e-tests/functions
Labels: size/M

#909 K8SPSMDB-656 fix: missing cluster name in backup `additionalPrinterColumns`
  e2e-tests/upgrade-sharded/conf/backup-minio.yml
  e2e-tests/upgrade/conf/backup-minio.yml
  pkg/controller/perconaservermongodbbackup/perconaservermongodbbackup_controller.go
Labels: size/S

#921 K8SPSMDB-185 s3 backup credentials for cloud deployments (AWS)
  Jenkinsfile
  e2e-tests/demand-backup-eks-credentials/compare/find-2nd.json
  e2e-tests/demand-backup-eks-credentials/compare/find.json
  e2e-tests/demand-backup-eks-credentials/compare/statefulset_some-name-rs0.yml
  e2e-tests/demand-backup-eks-credentials/conf/backup-aws-s3.yml
  e2e-tests/demand-backup-eks-credentials/conf/restore.yml
  e2e-tests/demand-backup-eks-credentials/conf/some-name-rs0.yml
  e2e-tests/demand-backup-eks-credentials/run
  e2e-tests/run
Labels: size/L

#915 K8SPSMDB-516 unify code snippets
  source/TLS.rst
  source/api.rst
  source/backups.rst
  source/constraints.rst
  source/eks.rst
  source/encryption.rst
  source/faq.rst
  source/gke.rst
  source/helm.rst
  source/kubernetes.rst
  source/minikube.rst
  source/openshift.rst
  source/options.rst
  source/pause.rst
  source/private.rst
  source/sharding.rst
  source/storage.rst
Labels: size/L, docs

#919 K8SPSMDB-665: Fix smart update for mongos
  e2e-tests/smart-update/run
  pkg/controller/perconaservermongodb/balancer.go
  pkg/controller/perconaservermongodb/getters.go
  pkg/controller/perconaservermongodb/smart.go
  pkg/controller/perconaservermongodb/status.go
  pkg/psmdb/service.go
Labels: size/M

#925 K8SPSMDB-631 - Fix service-per-pod and demand-backup-sharded on OpenShift
  e2e-tests/demand-backup-sharded/compare/statefulset_some-name-mongos-oc.yml
  e2e-tests/demand-backup-sharded/compare/statefulset_some-name-rs0-4-oc.yml
  e2e-tests/service-per-pod/compare/statefulset_local-balancer-rs0-oc.yml
Labels: size/S
