Repository percona/percona-server-mongodb-operator, pull requests merged in 2022-05, with the labels that each got.

#958 K8SPSMDB-631 Release 1.12.0 fix tests v2
  deploy/bundle.yaml
  deploy/crd.yaml
  e2e-tests/demand-backup-eks-credentials/conf/some-name-rs0.yml
  e2e-tests/init-deploy/compare/clusterAdmin-42.json
  e2e-tests/init-deploy/compare/clusterMonitor-42.json
  e2e-tests/version-service/conf/crd.yaml
  pkg/apis/psmdb/v1/psmdb_types.go
Labels: size/S

#959 Add `maxDescLen=0` to crd generation
  deploy/bundle.yaml
  deploy/crd.yaml
  e2e-tests/manifest
  e2e-tests/version-service/conf/crd.yaml
Labels: size/XXL

#960 K8SPSMDB-631 - Remove cacheSizeRatio/inMemorySizeRatio from custom config
  deploy/cr.yaml
Labels: size/S

#941 Release 1.12.0
  deploy/bundle.yaml
  deploy/cr-minimal.yaml
  deploy/cr.yaml
  deploy/crd.yaml
  deploy/operator.yaml
  e2e-tests/demand-backup-eks-credentials/conf/some-name-rs0.yml
  e2e-tests/functions
  e2e-tests/init-deploy/compare/clusterAdmin-42.json
  e2e-tests/init-deploy/compare/clusterMonitor-42.json
  e2e-tests/init-deploy/conf/another-name-rs0.yml
  e2e-tests/limits/conf/no-limits-rs0.yml
  e2e-tests/limits/conf/no-requests-no-limits-rs0.yml
  e2e-tests/limits/conf/no-requests-rs0.yml
  e2e-tests/limits/conf/no-storage-rs0.yml
  e2e-tests/pitr-sharded/run
  e2e-tests/pitr/run
  e2e-tests/smart-update/run
  e2e-tests/version-service/conf/crd.yaml
  pkg/apis/psmdb/v1/psmdb_types.go
Labels: size/L

#962 K8SPSMDB-691: Fix empty SSL secret name after patching CR
  pkg/controller/perconaservermongodb/version.go
Labels: size/XS

#961 K8SPSMDB-631 - Update versions after 1.12.0 release
  deploy/bundle.yaml
  deploy/cr-minimal.yaml
  deploy/cr.yaml
  deploy/crd.yaml
  deploy/operator.yaml
  e2e-tests/README.md
  e2e-tests/functions
  e2e-tests/upgrade-consistency/compare/service_some-name-rs0-110.yml
  e2e-tests/upgrade-consistency/compare/service_some-name-rs0-1130.yml
  e2e-tests/upgrade-consistency/compare/service_some-name-rs0-120.yml
  e2e-tests/upgrade-consistency/compare/service_some-name-rs0-130.yml
  e2e-tests/upgrade-consistency/compare/service_some-name-rs0-140.yml
  e2e-tests/upgrade-consistency/compare/service_some-name-rs0-150.yml
  e2e-tests/upgrade-consistency/compare/service_some-name-rs0-160.yml
  e2e-tests/upgrade-consistency/compare/service_some-name-rs0-170.yml
  e2e-tests/upgrade-consistency/compare/service_some-name-rs0-180.yml
  e2e-tests/upgrade-consistency/compare/service_some-name-rs0-190.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-rs0-100.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-rs0-110-oc.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-rs0-110.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-rs0-1100-oc.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-rs0-1100.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-rs0-1110-oc.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-rs0-1110.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-rs0-1120-oc.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-rs0-1120.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-rs0-1130-oc.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-rs0-1130.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-rs0-120-oc.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-rs0-120.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-rs0-130-oc.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-rs0-130.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-rs0-140-oc.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-rs0-150-oc.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-rs0-150.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-rs0-160-oc.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-rs0-160.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-rs0-170-oc.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-rs0-170.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-rs0-180-oc.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-rs0-180.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-rs0-190-oc.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-rs0-190.yml
  e2e-tests/upgrade-consistency/conf/some-name-rs0.yml
  e2e-tests/upgrade-consistency/run
  e2e-tests/upgrade-sharded/run
  e2e-tests/upgrade/run
  e2e-tests/version-service/conf/crd.yaml
  version/version.go
Labels: size/XXL

#954 K8SPSMDB-631 add docs related to the 1.12 release
  source/RN/Kubernetes-Operator-for-PSMONGODB-RN1.12.0.rst
  source/RN/index.rst
  source/System-Requirements.rst
  source/api.rst
  source/architecture.rst
  source/backups.rst
  source/conf.py
  source/eks.rst
  source/faq.rst
  source/gke.rst
  source/images.rst
  source/index.rst
  source/kubernetes.rst
  source/ldap.rst
  source/minikube.rst
  source/monitoring.rst
  source/openshift.rst
  source/operator.rst
  source/percona-logo.png
  source/percona_favicon.ico
  source/replication.rst
  source/sharding.rst
  source/update.rst
Labels: size/XL, docs
