Repository percona/percona-server-mongodb-operator, pull requests merged in 2022-12, with the labels that each got.

#1084 CLOUD-751 - Fix Jenkins concurrent builds
  Jenkinsfile
Labels: size/L

#1085 CLOUD-666 - Replace yq v3 with yq v4 in E2E tests
  Jenkinsfile
  Makefile
  e2e-tests/README.md
  e2e-tests/cross-site-sharded/run
  e2e-tests/default-cr/run
  e2e-tests/functions
  e2e-tests/operator-self-healing-chaos/run
  e2e-tests/operator-self-healing/conf/pumba.yml
  e2e-tests/operator-self-healing/conf/quota.yml
  e2e-tests/operator-self-healing/run
  e2e-tests/run
  e2e-tests/self-healing-chaos/run
  e2e-tests/self-healing/compare/find-2nd.json
  e2e-tests/self-healing/compare/find-3rd.json
  e2e-tests/self-healing/compare/find.json
  e2e-tests/self-healing/run
  e2e-tests/upgrade-sharded/run
  e2e-tests/upgrade/run
  e2e-tests/version-service/run
Labels: size/XL

#1077 Update manifest generation to be shell agnostic
  Makefile
Labels: size/XS

#1089 CLOUD-705 add labels under cluster creation
  Jenkinsfile
Labels: size/XS

#1097 K8SPSMDB-825: GitHub actions unit test
  .github/workflows/test.yml
  pkg/apis/psmdb/v1/psmdb_defaults.go
  pkg/apis/psmdb/v1/psmdb_defaults_test.go
  pkg/controller/perconaservermongodb/status_test.go
  pkg/psmdb/mongo/mongo_test.go
Labels: size/L
