Repository percona/percona-server-mongodb-operator, pull requests merged in 2022-10, with the labels that each got.

#1045 K8SPSMDB-795 add dependabot
  .github/dependabot.yml
  .github/workflows/scan.yml
Labels: size/M, hacktoberfest-accepted

#1062 K8SPXC-1043 move_azure_backups_to_new_subscription
  e2e-tests/demand-backup-sharded/run
  e2e-tests/demand-backup/run
  e2e-tests/scheduled-backup/run
Labels: size/S, hacktoberfest-accepted

#1069 CLOUD-705 delete unused clusters
  Jenkinsfile
  go.mod
  go.sum
Labels: size/XS
