Repository percona/percona-server-mongodb-operator, pull requests merged in 2022-04, with the labels that each got.

#924 K8SPSMDB-516 update installation docs to use server-side apply
  source/api.rst
  source/eks.rst
  source/gke.rst
  source/kubernetes.rst
  source/minikube.rst
  source/openshift.rst
  source/update.rst
Labels: size/S, docs

#873 K8SPSMDB-625 feature: Integrate with Multi Cluster Services (MCS)
  .github/workflows/reviewdog.yml
  cmd/manager/main.go
  deploy/bundle.yaml
  deploy/cr.yaml
  deploy/crd.yaml
  deploy/rbac.yaml
  e2e-tests/init-deploy/compare/service_another-name-rs0.yml
  e2e-tests/init-deploy/compare/service_some-name-rs0.yml
  e2e-tests/monitoring-2-0/compare/service_monitoring-rs0.yml
  e2e-tests/upgrade-consistency/compare/service_some-name-rs0-1120.yml
  e2e-tests/version-service/conf/crd.yaml
  pkg/apis/psmdb/v1/psmdb_defaults.go
  pkg/apis/psmdb/v1/psmdb_types.go
  pkg/apis/psmdb/v1/zz_generated.deepcopy.go
  pkg/controller/perconaservermongodb/backup.go
  pkg/controller/perconaservermongodb/external_service.go
  pkg/controller/perconaservermongodb/mgo.go
  pkg/controller/perconaservermongodb/psmdb_controller.go
  pkg/controller/perconaservermongodb/ssl.go
  pkg/controller/perconaservermongodb/status.go
  pkg/mcs/register.go
  pkg/psmdb/backup/pbm.go
  pkg/psmdb/client.go
  pkg/psmdb/getters.go
  pkg/psmdb/mongo/mongo.go
  pkg/psmdb/mongos.go
  pkg/psmdb/service.go
  pkg/psmdb/tls/tls.go
  vendor/google.golang.org/protobuf/internal/fieldnum/any_gen.go
  vendor/google.golang.org/protobuf/internal/fieldnum/api_gen.go
  vendor/google.golang.org/protobuf/internal/fieldnum/descriptor_gen.go
  vendor/google.golang.org/protobuf/internal/fieldnum/doc.go
  vendor/google.golang.org/protobuf/internal/fieldnum/duration_gen.go
  vendor/google.golang.org/protobuf/internal/fieldnum/empty_gen.go
  vendor/google.golang.org/protobuf/internal/fieldnum/field_mask_gen.go
  vendor/google.golang.org/protobuf/internal/fieldnum/source_context_gen.go
  vendor/google.golang.org/protobuf/internal/fieldnum/struct_gen.go
  vendor/google.golang.org/protobuf/internal/fieldnum/timestamp_gen.go
  vendor/google.golang.org/protobuf/internal/fieldnum/type_gen.go
  vendor/google.golang.org/protobuf/internal/fieldnum/wrappers_gen.go
  vendor/google.golang.org/protobuf/internal/fieldsort/fieldsort.go
  vendor/google.golang.org/protobuf/internal/genname/name.go
  vendor/google.golang.org/protobuf/internal/mapsort/mapsort.go
  vendor/sigs.k8s.io/mcs-api/LICENSE
  vendor/sigs.k8s.io/mcs-api/pkg/apis/v1alpha1/BUILD
  vendor/sigs.k8s.io/mcs-api/pkg/apis/v1alpha1/doc.go
  vendor/sigs.k8s.io/mcs-api/pkg/apis/v1alpha1/serviceexport.go
  vendor/sigs.k8s.io/mcs-api/pkg/apis/v1alpha1/serviceimport.go
  vendor/sigs.k8s.io/mcs-api/pkg/apis/v1alpha1/well_known_labels.go
  vendor/sigs.k8s.io/mcs-api/pkg/apis/v1alpha1/zz_generated.deepcopy.go
  vendor/sigs.k8s.io/mcs-api/pkg/apis/v1alpha1/zz_generated.register.go
Labels: size/XXL

#928 K8SPSMDB-678: Update PBM
  go.mod
  go.sum
  pkg/controller/perconaservermongodb/backup.go
  pkg/controller/perconaservermongodbrestore/perconaservermongodbrestore_controller.go
  pkg/psmdb/backup/pbm.go
  vendor/github.com/percona/percona-backup-mongodb/pbm/bsontypes.go
  vendor/github.com/percona/percona-backup-mongodb/pbm/cmd.go
  vendor/github.com/percona/percona-backup-mongodb/pbm/delete.go
  vendor/github.com/percona/percona-backup-mongodb/pbm/log/log.go
  vendor/github.com/percona/percona-backup-mongodb/pbm/node.go
  vendor/github.com/percona/percona-backup-mongodb/pbm/pbm.go
  vendor/github.com/percona/percona-backup-mongodb/pbm/pitr.go
  vendor/github.com/percona/percona-backup-mongodb/pbm/restore.go
  vendor/github.com/percona/percona-backup-mongodb/pbm/rsync.go
  vendor/github.com/percona/percona-backup-mongodb/pbm/storage/azure/azure.go
  vendor/github.com/percona/percona-backup-mongodb/pbm/storage/fs/fs.go
  vendor/github.com/percona/percona-backup-mongodb/pbm/storage/s3/s3.go
  vendor/github.com/percona/percona-backup-mongodb/version/version.go
  vendor/modules.txt
Labels: size/S

#923 K8SPSMDB-667: fix `delete-psmdb-pods-in-order` finalizer
  pkg/apis/psmdb/v1/psmdb_defaults.go
Labels: size/S

#922 K8SPSMDB-670 fix: `clusterMonitor` user roles are not updated on upgrade
  pkg/controller/perconaservermongodb/mgo.go
  pkg/psmdb/mongo/models.go
  pkg/psmdb/mongo/mongo.go
Labels: size/L

#932 Fix version of go-licenses
  Jenkinsfile
Labels: size/XS

#930 CLOUD-695_jenkinsfile_improvements add finally and count test amount
  Jenkinsfile
Labels: size/S

#926 K8SPSMDB-533: special chars for users breaks the cluster
  pkg/controller/perconaservermongodb/mgo.go
  pkg/controller/perconaservermongodb/secrets.go
  pkg/psmdb/backup/pbm.go
  pkg/psmdb/pmm.go
Labels: size/M

#902 K8SPSMDB-651: Recover from full cluster crash
  pkg/apis/psmdb/v1/psmdb_types.go
  pkg/controller/perconaservermongodb/connections.go
  pkg/controller/perconaservermongodb/mgo.go
  pkg/psmdb/client.go
  pkg/psmdb/mongo/models.go
  pkg/psmdb/mongo/mongo.go
Labels: size/L

#818 K8SPSMDB-585: support deleting orphan PVCs for mongod
  pkg/controller/perconaservermongodb/getters.go
  pkg/controller/perconaservermongodb/psmdb_controller.go
Labels: size/M, community

#929 CLOUD-691 rename the operator
  ADOPTERS.md
  CONTRIBUTING.md
  README.md
  e2e-tests/README.md
Labels: size/S, docs

#889 K8SPSMDB-649: Loading operator pod may fail
  pkg/controller/perconaservermongodb/psmdb_controller.go
  pkg/psmdb/mongos.go
Labels: size/M, community, WIP

#911 K8SPSMDB-228 rename option in backup.yaml
  source/backups.rst
Labels: size/XS, docs

#933 K8SPSMDB-669 fix: encryption turns on while updating to 1.12.0
  pkg/apis/psmdb/v1/psmdb_types.go
  pkg/psmdb/statefulset.go
Labels: size/S

#934 K8SPSMDB-628 mention backups should be specifically enabled in CR
  source/backups.rst
Labels: size/M, docs

#938 K8SPSMDB-672: Fix compression type variable inconsistency
  deploy/backup/backup.yaml
  deploy/bundle.yaml
  deploy/cr.yaml
  deploy/crd.yaml
  e2e-tests/version-service/conf/crd.yaml
  pkg/apis/psmdb/v1/psmdb_types.go
  pkg/controller/perconaservermongodb/backup.go
Labels: size/M

#935 K8SPSMDB-681: Fix SSL errors after upgrading from 1.11.0
  deploy/bundle.yaml
  deploy/crd.yaml
  e2e-tests/version-service/conf/crd.yaml
  pkg/apis/psmdb/v1/psmdb_types.go
  pkg/controller/perconaservermongodb/ssl.go
Labels: size/M

#939 K8SPSMDB-681 - Add cert-manager to upgrade-sharded test
  e2e-tests/functions
  e2e-tests/upgrade-sharded/run
  e2e-tests/upgrade/run
Labels: size/M

#940 K8SPSMDB-683: Fix setting and changing PITR compression variables
  deploy/bundle.yaml
  deploy/crd.yaml
  e2e-tests/version-service/conf/crd.yaml
  pkg/apis/psmdb/v1/psmdb_types.go
  pkg/apis/psmdb/v1/zz_generated.deepcopy.go
  pkg/controller/perconaservermongodb/backup.go
  pkg/psmdb/backup/pbm.go
Labels: size/M

#942 Release 1.12.0 version changes
  deploy/bundle.yaml
  deploy/cr-minimal.yaml
  deploy/cr.yaml
  deploy/operator.yaml
  e2e-tests/functions
Labels: size/XL

#943 Release 1.12.0 fix backup image
  deploy/cr.yaml
Labels: size/XS

#931 CLOUD-691 rename the operator in docs
  source/TLS.rst
  source/api.rst
  source/arbiter.rst
  source/backups.rst
  source/conf.py
  source/constraints.rst
  source/custom-registry.rst
  source/eks.rst
  source/faq.rst
  source/gke.rst
  source/helm.rst
  source/index.rst
  source/minikube.rst
  source/openshift.rst
  source/operator.rst
  source/private.rst
  source/sharding.rst
  source/storage.rst
  source/update.rst
Labels: size/M, docs

#944 Release 1.12.0 return backup image
  deploy/cr.yaml
Labels: size/XS

#912 K8SPSMDB-623 clarify backup compression types
  source/operator.rst
Labels: size/M, docs

#947 K8SPSMDB-631 release 1.12.0 add options to cr
  deploy/cr.yaml
Labels: size/XS

#949 K8SPSMDB-631 - Update chaos-mesh version for tests
  e2e-tests/functions
Labels: size/S

#950 K8 spsmdb 631 release 1.12.0 fix tests
  e2e-tests/demand-backup-eks-credentials/conf/some-name-rs0.yml
Labels: size/XS

#951 Fix operator deployment ports
  deploy/bundle.yaml
  deploy/operator.yaml
Labels: size/XS

#952 fix tests
  deploy/bundle.yaml
  deploy/cr.yaml
  deploy/operator.yaml
  e2e-tests/init-deploy/conf/another-name-rs0.yml
  e2e-tests/limits/conf/no-limits-rs0.yml
  e2e-tests/limits/conf/no-requests-no-limits-rs0.yml
  e2e-tests/limits/conf/no-requests-rs0.yml
  e2e-tests/limits/conf/no-storage-rs0.yml
Labels: size/S

#953 K8SPSMDB-631 - Fix flaky smart-update test
  e2e-tests/smart-update/run
Labels: size/M

#946 K8SPSMDB-570 document LDAP support
  source/index.rst
  source/ldap.rst
  source/operator.rst
Labels: size/L, docs

#937 K8SPSMDB-625 describe MCS support in docs
  source/backups.rst
  source/operator.rst
  source/replication.rst
Labels: size/L, docs

#948 K8SPSMDB-631-preparations-to-preview-docs-on-render
  Makefile
  requirements.txt
  source/_static/css/material.css
  source/_static/css/tabs.css
  source/_templates/theme/header.html
  source/_templates/theme/layout.html
  source/_templates/theme/localtoc.html
  source/_templates/theme/relbar2.html
  source/_templates/theme/sidebar.html
  source/conf.py
Labels: size/L, docs

#956 Fix missing CRDs and RBAC in bundle
  deploy/bundle.yaml
  e2e-tests/manifest
Labels: size/XL

#955 K8SPSMDB-540 use server-side apply to manage our large CRD
  README.md
Labels: size/XS
