Repository percona/percona-server-mongodb-operator, pull requests merged in 2023-09, with the labels that each got.

#1279 K8SPSMDB-801: make `delete-backup` delete PITR files
  e2e-tests/pitr/conf/backup-minio.yml
  e2e-tests/pitr/run
  pkg/controller/perconaservermongodbbackup/perconaservermongodbbackup_controller.go
Labels: size/L

#1280 K8SPSMDB-227: Add `topologySpreadConstraints`
  config/crd/bases/psmdb.percona.com_perconaservermongodbs.yaml
  deploy/bundle.yaml
  deploy/cr.yaml
  deploy/crd.yaml
  deploy/cw-bundle.yaml
  e2e-tests/version-service/conf/crd.yaml
  pkg/apis/psmdb/v1/psmdb_defaults.go
  pkg/apis/psmdb/v1/psmdb_defaults_test.go
  pkg/apis/psmdb/v1/psmdb_types.go
  pkg/apis/psmdb/v1/zz_generated.deepcopy.go
  pkg/psmdb/mongos.go
  pkg/psmdb/statefulset.go
Labels: size/XXL

#1292 K8SPSMDB-913: Fix getting mongos host when Expose is LoadBalancer
  e2e-tests/demand-backup-physical-sharded/conf/some-name-sharded.yml
  e2e-tests/demand-backup-physical-sharded/run
  e2e-tests/demand-backup-sharded/run
  pkg/controller/perconaservermongodb/psmdb_controller.go
  pkg/controller/perconaservermongodb/status.go
  pkg/psmdb/service.go
Labels: size/L

#1295 K8SPSMDB-962: fix memory leak
  .gitignore
  cmd/mongodb-healthcheck/main.go
  healthcheck/health.go
  healthcheck/readiness.go
  healthcheck/tools/db/db.go
  pkg/controller/perconaservermongodb/backup.go
  pkg/controller/perconaservermongodb/balancer.go
  pkg/controller/perconaservermongodb/connections.go
  pkg/controller/perconaservermongodb/connections_test.go
  pkg/controller/perconaservermongodb/fcv.go
  pkg/controller/perconaservermongodb/mgo.go
  pkg/controller/perconaservermongodb/psmdb_controller.go
  pkg/controller/perconaservermongodb/secrets.go
  pkg/controller/perconaservermongodb/smart.go
  pkg/controller/perconaservermongodb/status_test.go
  pkg/controller/perconaservermongodb/users.go
  pkg/controller/perconaservermongodb/version.go
  pkg/controller/perconaservermongodbbackup/backup.go
  pkg/controller/perconaservermongodbbackup/perconaservermongodbbackup_controller.go
  pkg/controller/perconaservermongodbrestore/logical.go
  pkg/controller/perconaservermongodbrestore/perconaservermongodbrestore_controller.go
  pkg/psmdb/backup/backup.go
  pkg/psmdb/backup/fake/pbm.go
  pkg/psmdb/backup/pbm.go
  pkg/psmdb/client.go
  pkg/psmdb/getters.go
  pkg/psmdb/mongo/fake/client.go
  pkg/psmdb/mongo/mongo.go
  pkg/psmdb/mongos.go
Labels: size/XXL

#1303 K8SPSMDB-768 add tests
  e2e-tests/finalizer/conf/some-name.yml
  e2e-tests/finalizer/run
  e2e-tests/functions
  e2e-tests/mongod-major-upgrade-sharded/run
  e2e-tests/run
  e2e-tests/run-minikube.csv
  e2e-tests/run-pr.csv
  e2e-tests/run-release.csv
  e2e-tests/upgrade-consistency-sharded/compare/service_some-name-cfg-1130.yml
  e2e-tests/upgrade-consistency-sharded/compare/service_some-name-cfg-1140.yml
  e2e-tests/upgrade-consistency-sharded/compare/service_some-name-cfg-1150.yml
  e2e-tests/upgrade-consistency-sharded/compare/service_some-name-rs0-1130.yml
  e2e-tests/upgrade-consistency-sharded/compare/service_some-name-rs0-1140.yml
  e2e-tests/upgrade-consistency-sharded/compare/service_some-name-rs0-1150.yml
  e2e-tests/upgrade-consistency-sharded/compare/statefulset_some-name-cfg-1130-oc.yml
  e2e-tests/upgrade-consistency-sharded/compare/statefulset_some-name-cfg-1130.yml
  e2e-tests/upgrade-consistency-sharded/compare/statefulset_some-name-cfg-1140-oc.yml
  e2e-tests/upgrade-consistency-sharded/compare/statefulset_some-name-cfg-1140.yml
  e2e-tests/upgrade-consistency-sharded/compare/statefulset_some-name-cfg-1150-oc.yml
  e2e-tests/upgrade-consistency-sharded/compare/statefulset_some-name-cfg-1150.yml
  e2e-tests/upgrade-consistency-sharded/compare/statefulset_some-name-rs0-1130-oc.yml
  e2e-tests/upgrade-consistency-sharded/compare/statefulset_some-name-rs0-1130.yml
  e2e-tests/upgrade-consistency-sharded/compare/statefulset_some-name-rs0-1140-oc.yml
  e2e-tests/upgrade-consistency-sharded/compare/statefulset_some-name-rs0-1140.yml
  e2e-tests/upgrade-consistency-sharded/compare/statefulset_some-name-rs0-1150-oc.yml
  e2e-tests/upgrade-consistency-sharded/compare/statefulset_some-name-rs0-1150.yml
  e2e-tests/upgrade-consistency-sharded/conf/some-name.yml
  e2e-tests/upgrade-consistency-sharded/run
Labels: size/XXL

#1267 K8SPSMDB-876: `delete-psmdb-pods-in-order` for cfg
  pkg/apis/psmdb/v1/psmdb_defaults.go
  pkg/controller/perconaservermongodb/balancer.go
  pkg/controller/perconaservermongodb/connections.go
  pkg/controller/perconaservermongodb/finalizers.go
  pkg/controller/perconaservermongodb/mgo.go
  pkg/controller/perconaservermongodb/psmdb_controller.go
  pkg/controller/perconaservermongodb/smart.go
Labels: size/L

#1296 K8SPSMDB-965 update batch/v1beta1 to batch/v1
  pkg/controller/perconaservermongodb/backup.go
  pkg/psmdb/backup/job.go
Labels: size/S

#1304 K8SPSMDB-961: add `.spec.sharding.balancer.enabled`
  config/crd/bases/psmdb.percona.com_perconaservermongodbs.yaml
  deploy/bundle.yaml
  deploy/cr.yaml
  deploy/crd.yaml
  deploy/cw-bundle.yaml
  e2e-tests/balancer/conf/some-name-rs0.yml
  e2e-tests/balancer/run
  e2e-tests/run-distro.csv
  e2e-tests/run-minikube.csv
  e2e-tests/run-pr.csv
  e2e-tests/run-release.csv
  e2e-tests/version-service/conf/crd.yaml
  pkg/apis/psmdb/v1/psmdb_types.go
  pkg/apis/psmdb/v1/zz_generated.deepcopy.go
  pkg/controller/perconaservermongodb/balancer.go
  pkg/controller/perconaservermongodb/connections_test.go
  pkg/controller/perconaservermongodb/psmdb_controller.go
Labels: size/XL

#1288 K8SPSMDB-926: Implement PiTR for physical restores
  build/physical-restore-ps-entry.sh
  clientcmd/clientcmd.go
  config/crd/bases/psmdb.percona.com_perconaservermongodbrestores.yaml
  deploy/bundle.yaml
  deploy/crd.yaml
  deploy/cw-bundle.yaml
  e2e-tests/pitr-physical/compare/find-2nd.json
  e2e-tests/pitr-physical/compare/find-3rd.json
  e2e-tests/pitr-physical/compare/find.json
  e2e-tests/pitr-physical/compare/statefulset_some-name-cfg-4-oc.yml
  e2e-tests/pitr-physical/compare/statefulset_some-name-cfg-oc.yml
  e2e-tests/pitr-physical/compare/statefulset_some-name-cfg.yml
  e2e-tests/pitr-physical/compare/statefulset_some-name-mongos.yml
  e2e-tests/pitr-physical/compare/statefulset_some-name-rs0-4-oc.yml
  e2e-tests/pitr-physical/compare/statefulset_some-name-rs0-oc.yml
  e2e-tests/pitr-physical/compare/statefulset_some-name-rs0.yml
  e2e-tests/pitr-physical/compare/statefulset_some-name-rs1-4-oc.yml
  e2e-tests/pitr-physical/compare/statefulset_some-name-rs1-oc.yml
  e2e-tests/pitr-physical/compare/statefulset_some-name-rs1.yml
  e2e-tests/pitr-physical/compare/statefulset_some-name-rs2-4-oc.yml
  e2e-tests/pitr-physical/compare/statefulset_some-name-rs2-oc.yml
  e2e-tests/pitr-physical/compare/statefulset_some-name-rs2.yml
  e2e-tests/pitr-physical/conf/backup-minio.yml
  e2e-tests/pitr-physical/conf/restore.yml
  e2e-tests/pitr-physical/conf/some-name-rs0.yml
  e2e-tests/pitr-physical/run
  e2e-tests/run-distro.csv
  e2e-tests/run-pr.csv
  e2e-tests/run-release.csv
  e2e-tests/version-service/conf/crd.yaml
  pkg/apis/psmdb/v1/perconaservermongodbrestore_types.go
  pkg/apis/psmdb/v1/psmdb_types.go
  pkg/controller/perconaservermongodb/backup.go
  pkg/controller/perconaservermongodb/balancer.go
  pkg/controller/perconaservermongodb/connections.go
  pkg/controller/perconaservermongodb/connections_test.go
  pkg/controller/perconaservermongodb/fcv.go
  pkg/controller/perconaservermongodb/mgo.go
  pkg/controller/perconaservermongodb/psmdb_controller.go
  pkg/controller/perconaservermongodb/secrets.go
  pkg/controller/perconaservermongodb/smart.go
  pkg/controller/perconaservermongodb/users.go
  pkg/controller/perconaservermongodb/version.go
  pkg/controller/perconaservermongodbrestore/physical.go
Labels: size/XXL

#1263 K8SPSMDB-970 pkg imported more than once
  pkg/controller/perconaservermongodb/version.go
Labels: size/XS, community

#1235 K8SPSMDB-937: Fix decoding initialSyncStatus to empty interface
  healthcheck/health.go
Labels: size/S

#1194 K8SPSMDB-885 - E2E tests - start mongod major upgrade from the lowest version
  e2e-tests/functions
  e2e-tests/mongod-major-upgrade-sharded/compare/find-2.json
  e2e-tests/mongod-major-upgrade-sharded/compare/find-3.json
  e2e-tests/mongod-major-upgrade-sharded/compare/find.json
  e2e-tests/mongod-major-upgrade-sharded/conf/backup-minio.yml
  e2e-tests/mongod-major-upgrade-sharded/conf/operator.main.psmdb-operator.json
  e2e-tests/mongod-major-upgrade-sharded/conf/restore.yml
  e2e-tests/mongod-major-upgrade-sharded/run
  e2e-tests/mongod-major-upgrade/compare/find-2.json
  e2e-tests/mongod-major-upgrade/compare/find-3.json
  e2e-tests/mongod-major-upgrade/compare/find.json
  e2e-tests/mongod-major-upgrade/conf/backup-minio.yml
  e2e-tests/mongod-major-upgrade/conf/operator.main.psmdb-operator.json
  e2e-tests/mongod-major-upgrade/conf/restore.yml
  e2e-tests/mongod-major-upgrade/run
Labels: size/L

#1287 K8SPSMDB-956: fix problems with TLS certificate renewal
  cmd/manager/main.go
  e2e-tests/conf/cmctl.yml
  e2e-tests/functions
  e2e-tests/run-distro.csv
  e2e-tests/run-minikube.csv
  e2e-tests/run-pr.csv
  e2e-tests/run-release.csv
  e2e-tests/tls-issue-cert-manager/compare/certificate_some-name-ssl-internal.yml
  e2e-tests/tls-issue-cert-manager/compare/certificate_some-name-ssl.yml
  e2e-tests/tls-issue-cert-manager/compare/issuer_some-name-psmdb-ca-issuer.yml
  e2e-tests/tls-issue-cert-manager/compare/issuer_some-name-psmdb-issuer.yml
  e2e-tests/tls-issue-cert-manager/conf/some-name.yml
  e2e-tests/tls-issue-cert-manager/run
  go.mod
  go.sum
  pkg/controller/perconaservermongodb/ssl.go
  pkg/psmdb/tls/certmanager.go
  pkg/psmdb/tls/tls.go
Labels: size/XL

#1252 K8SPSMDB-807: Allow customizing replset name with custom config
  e2e-tests/custom-replset-name/compare/find-2nd.json
  e2e-tests/custom-replset-name/compare/find.json
  e2e-tests/custom-replset-name/conf/backup-aws-s3.yml
  e2e-tests/custom-replset-name/conf/backup-gcp-cs.yml
  e2e-tests/custom-replset-name/conf/backup-minio.yml
  e2e-tests/custom-replset-name/conf/restore.yml
  e2e-tests/custom-replset-name/conf/some-name.yml
  e2e-tests/custom-replset-name/run
  e2e-tests/init-deploy/compare/backup-44.json
  e2e-tests/init-deploy/compare/clusterAdmin-44.json
  e2e-tests/run-distro.csv
  e2e-tests/run-minikube.csv
  e2e-tests/run-pr.csv
  e2e-tests/run-release.csv
  pkg/apis/psmdb/v1/psmdb_types.go
  pkg/controller/perconaservermongodb/mgo.go
  pkg/controller/perconaservermongodb/psmdb_controller.go
  pkg/psmdb/client.go
  pkg/psmdb/container.go
  pkg/psmdb/mongos.go
Labels: size/L

#1310 K8SPSMDB-909 - Automatically set OPERATOR_VERSION in e2e functions
  e2e-tests/functions
Labels: size/XS

#1311 K8SPSMDB-971: Ensure restore status is updated
  pkg/controller/perconaservermongodbrestore/perconaservermongodbrestore_controller.go
  pkg/controller/perconaservermongodbrestore/physical.go
Labels: size/M

#1293 K8SPSMDB-929: Add replicaSet horizons
  config/crd/bases/psmdb.percona.com_perconaservermongodbs.yaml
  deploy/bundle.yaml
  deploy/cr.yaml
  deploy/crd.yaml
  deploy/cw-bundle.yaml
  e2e-tests/functions
  e2e-tests/run-distro.csv
  e2e-tests/run-pr.csv
  e2e-tests/run-release.csv
  e2e-tests/split-horizon/compare/horizons-3.json
  e2e-tests/split-horizon/compare/horizons-5.json
  e2e-tests/split-horizon/conf/some-name-3horizons.yml
  e2e-tests/split-horizon/conf/some-name-5horizons.yml
  e2e-tests/split-horizon/conf/some-name.yml
  e2e-tests/split-horizon/run
  e2e-tests/version-service/conf/crd.yaml
  pkg/apis/psmdb/v1/psmdb_types.go
  pkg/apis/psmdb/v1/zz_generated.deepcopy.go
  pkg/controller/perconaservermongodb/mgo.go
  pkg/psmdb/mongo/models.go
  pkg/psmdb/mongo/mongo.go
Labels: size/L

#1313 K8SPSMDB-926: Add pitr.oplogOnly
  config/crd/bases/psmdb.percona.com_perconaservermongodbs.yaml
  deploy/bundle.yaml
  deploy/cr.yaml
  deploy/crd.yaml
  deploy/cw-bundle.yaml
  e2e-tests/version-service/conf/crd.yaml
  go.mod
  go.sum
  pkg/apis/psmdb/v1/psmdb_types.go
  pkg/controller/perconaservermongodb/backup.go
Labels: size/L

#1312 K8SPSMDB-968: fix `.status.host` for exposed replset
  pkg/controller/perconaservermongodb/connections_test.go
  pkg/controller/perconaservermongodb/mgo.go
  pkg/controller/perconaservermongodb/psmdb_controller.go
  pkg/controller/perconaservermongodb/smart.go
  pkg/controller/perconaservermongodb/status.go
  pkg/controller/perconaservermongodb/status_test.go
  pkg/controller/perconaservermongodb/version_test.go
  pkg/psmdb/backup/pbm.go
  pkg/psmdb/client.go
  pkg/psmdb/service.go
Labels: size/L

#1318 K8SPSMDB-926: Handle PBM partlyDone status
  e2e-tests/pitr-physical/run
  pkg/controller/perconaservermongodbrestore/physical.go
Labels: size/S

#1306 K8SPSMDB-778: Delete repset and its components properly
  deploy/cr.yaml
  e2e-tests/data-sharded/conf/some-name.yml
  e2e-tests/data-sharded/run
  e2e-tests/split-horizon/run
  pkg/controller/perconaservermongodb/mgo.go
  pkg/controller/perconaservermongodb/psmdb_controller.go
  pkg/controller/perconaservermongodb/smart.go
  pkg/controller/perconaservermongodb/status.go
  pkg/controller/perconaservermongodb/users.go
  pkg/controller/perconaservermongodbrestore/physical.go
  pkg/psmdb/backup/pbm.go
  pkg/psmdb/client.go
  pkg/psmdb/getters.go
Labels: size/L

#1198 K8SPSMDB-850 - Server Side Encryption Support
  config/crd/bases/psmdb.percona.com_perconaservermongodbbackups.yaml
  config/crd/bases/psmdb.percona.com_perconaservermongodbrestores.yaml
  config/crd/bases/psmdb.percona.com_perconaservermongodbs.yaml
  deploy/backup/restore.yaml
  deploy/bundle.yaml
  deploy/cr.yaml
  deploy/crd.yaml
  deploy/cw-bundle.yaml
  e2e-tests/version-service/conf/crd.yaml
  pkg/apis/psmdb/v1/psmdb_types.go
  pkg/apis/psmdb/v1/zz_generated.deepcopy.go
  pkg/controller/perconaservermongodbbackup/perconaservermongodbbackup_controller.go
  pkg/psmdb/backup/pbm.go
Labels: size/L, community

#1320 K8SPSMDB-976: Fix PBM config if there's no storage configured in CR
  pkg/controller/perconaservermongodb/backup.go
Labels: size/M

#1322 K8SPSMDB-886 - Fix default-cr test and OPERATOR_VERSION in functions
  e2e-tests/default-cr/run
  e2e-tests/functions
Labels: size/XS

#1307 K8SPSMDB-903: Add bucket/container to destination
  e2e-tests/data-at-rest-encryption/run
  e2e-tests/demand-backup-eks-credentials/run
  e2e-tests/demand-backup-sharded/run
  e2e-tests/demand-backup/conf/restore-backupsource.yml
  e2e-tests/demand-backup/run
  e2e-tests/functions
  e2e-tests/pitr/conf/restore.yml
  e2e-tests/pitr/run
  e2e-tests/scheduled-backup/run
  pkg/controller/perconaservermongodbbackup/backup.go
Labels: size/M

#1325 K8SPSMDB-981: Upgrade PBM to v2.3.0
  go.mod
  go.sum
  pkg/controller/perconaservermongodbrestore/logical.go
Labels: size/S

#1323 K8SPSMDB-980: fix cluster pause/deletion
  pkg/psmdb/getters.go
Labels: size/S

#1316 K8SPSMDB-875: Allow physical restores with arbiters and non-voting members
  e2e-tests/demand-backup-physical/compare/statefulset_some-name-rs0_restore-arbiter-nv.yml
  e2e-tests/demand-backup-physical/conf/some-name-arbiter-nv.yml
  e2e-tests/demand-backup-physical/run
  e2e-tests/functions
  pkg/controller/perconaservermongodbrestore/physical.go
Labels: size/XL

#1321 K8SPSMDB-946: Improve backup status
  config/crd/bases/psmdb.percona.com_perconaservermongodbbackups.yaml
  config/crd/bases/psmdb.percona.com_perconaservermongodbrestores.yaml
  deploy/bundle.yaml
  deploy/crd.yaml
  deploy/cw-bundle.yaml
  e2e-tests/version-service/conf/crd.yaml
  pkg/apis/psmdb/v1/perconaservermongodbbackup_types.go
  pkg/controller/perconaservermongodbbackup/backup.go
  pkg/psmdb/backup/fake/pbm.go
  pkg/psmdb/backup/pbm.go
Labels: size/M

#1317 K8SPSMDB-818: fix `explainRole` role
  e2e-tests/demand-backup-sharded/run
  e2e-tests/functions
  e2e-tests/init-deploy/compare/clusterMonitor-42.json
  e2e-tests/init-deploy/compare/clusterMonitor-44.json
  e2e-tests/init-deploy/compare/clusterMonitor-50.json
  e2e-tests/init-deploy/compare/clusterMonitor-60.json
  e2e-tests/monitoring-2-0/compare/statefulset_monitoring-cfg-oc.yml
  e2e-tests/monitoring-2-0/compare/statefulset_monitoring-cfg.yml
  e2e-tests/monitoring-2-0/compare/statefulset_monitoring-rs0-oc.yml
  e2e-tests/monitoring-2-0/compare/statefulset_monitoring-rs0.yml
  e2e-tests/monitoring-2-0/conf/monitoring-rs0.yml
  e2e-tests/monitoring-2-0/run
  pkg/controller/perconaservermongodb/mgo.go
Labels: size/L

#1326 K8SPSMDB-969 - Update cert manager version in E2E tests
  e2e-tests/functions
Labels: size/XS

#1327 K8SPSMDB-818: improve `monitoring` test
  e2e-tests/functions
  e2e-tests/monitoring-2-0/conf/monitoring-rs0.yml
  e2e-tests/monitoring-2-0/run
Labels: size/S

#1328 K8SPSMDB-980 - Add case in finalizer test for delete when rs0-0 is not primary
  e2e-tests/finalizer/run
  e2e-tests/functions
Labels: size/M

#1333 K8SPSMDB-886 - Update images for 1.15.0 release
  deploy/bundle.yaml
  deploy/cr-minimal.yaml
  deploy/cr.yaml
  deploy/cw-bundle.yaml
  deploy/cw-operator.yaml
  deploy/operator.yaml
Labels: size/S
