Repository percona/percona-server-mongodb-operator, pull requests merged in 2023-10, with the labels that each got.

#1343 CLOUD-727 set day and time for all packages
  .github/dependabot.yml
Labels: size/XS

#1344 K8SPSMDB-886 - Fix init-deploy test for 6.0 and remove some minikube tests
  e2e-tests/init-deploy/compare/backup-60.json
  e2e-tests/init-deploy/compare/clusterAdmin-60.json
  e2e-tests/init-deploy/compare/clusterMonitor-60.json
  e2e-tests/init-deploy/compare/userAdmin-60.json
  e2e-tests/run-minikube.csv
Labels: size/M

#1345 K8SPSMDB-886 - Add cluster wide run for PR tests and fix some tests
  Jenkinsfile
  e2e-tests/custom-replset-name/conf/backup-aws-s3.yml
  e2e-tests/custom-replset-name/conf/backup-gcp-cs.yml
  e2e-tests/custom-replset-name/run
  e2e-tests/expose-sharded/run
  e2e-tests/multi-cluster-service/run
  e2e-tests/operator-self-healing-chaos/run
  e2e-tests/pitr-physical/run
  e2e-tests/rs-shard-migration/run
  e2e-tests/smart-update/run
  e2e-tests/upgrade-sharded/run
  e2e-tests/upgrade/run
Labels: size/M

#1347 K8SPSMDB-886 - Fix tests for release
  e2e-tests/balancer/run
  e2e-tests/demand-backup-physical-sharded/run
  e2e-tests/expose-sharded/run
  e2e-tests/functions
  e2e-tests/one-pod/run
  e2e-tests/pitr-physical/run
  e2e-tests/pitr-sharded/run
  e2e-tests/rs-shard-migration/run
  e2e-tests/serviceless-external-nodes/run
  e2e-tests/split-horizon/run
Labels: size/M

#1348 K8SPSMDB-886 - Fix monitoring test to work with cluster wide on OpenShift
  e2e-tests/monitoring-2-0/run
Labels: size/S

#1349 K8SPSMDB - Fix tests
  e2e-tests/conf/cmctl.yml
  e2e-tests/default-cr/run
  e2e-tests/security-context/run
  e2e-tests/tls-issue-cert-manager/run
Labels: size/S

#1351 K8SPSMDB-992 - Add rbac rules for finalizers (fix issuing certs with cert-manager in OpenShift)
  deploy/bundle.yaml
  deploy/cw-bundle.yaml
  deploy/cw-rbac.yaml
  deploy/rbac.yaml
Labels: size/S

#1350 K8SPSMDB-991 - Add PMM_AGENT_PATHS_TEMPDIR env var for pmm-agent sidecar
  e2e-tests/default-cr/run
  e2e-tests/monitoring-2-0/compare/statefulset_monitoring-cfg-oc.yml
  e2e-tests/monitoring-2-0/compare/statefulset_monitoring-cfg.yml
  e2e-tests/monitoring-2-0/compare/statefulset_monitoring-mongos-oc.yml
  e2e-tests/monitoring-2-0/compare/statefulset_monitoring-mongos.yml
  e2e-tests/monitoring-2-0/compare/statefulset_monitoring-rs0-oc.yml
  e2e-tests/monitoring-2-0/compare/statefulset_monitoring-rs0.yml
  e2e-tests/monitoring-2-0/run
  pkg/psmdb/pmm.go
Labels: size/M

#1352 K8SPSMDB-850 Fix S3 Server Side Encryption fields
  config/crd/bases/psmdb.percona.com_perconaservermongodbbackups.yaml
  config/crd/bases/psmdb.percona.com_perconaservermongodbrestores.yaml
  config/crd/bases/psmdb.percona.com_perconaservermongodbs.yaml
  deploy/bundle.yaml
  deploy/cr.yaml
  deploy/crd.yaml
  deploy/cw-bundle.yaml
  e2e-tests/version-service/conf/crd.yaml
  pkg/apis/psmdb/v1/psmdb_defaults.go
  pkg/apis/psmdb/v1/psmdb_types.go
  pkg/apis/psmdb/v1/zz_generated.deepcopy.go
  pkg/controller/perconaservermongodbbackup/perconaservermongodbbackup_controller.go
  pkg/psmdb/backup/pbm.go
Labels: size/L

#1353 K8SPSMDB-929 - Add example for splitHorizons to cr.yaml
  deploy/cr.yaml
Labels: size/XS

#1357 K8SPSMDB-886 - Post 1.15.0 release update
  deploy/bundle.yaml
  deploy/cr-minimal.yaml
  deploy/cr.yaml
  deploy/cw-bundle.yaml
  deploy/cw-operator.yaml
  deploy/operator.yaml
  e2e-tests/upgrade-consistency-sharded/compare/service_some-name-cfg-1160.yml
  e2e-tests/upgrade-consistency-sharded/compare/service_some-name-rs0-1160.yml
  e2e-tests/upgrade-consistency-sharded/compare/statefulset_some-name-cfg-1140-oc.yml
  e2e-tests/upgrade-consistency-sharded/compare/statefulset_some-name-cfg-1140.yml
  e2e-tests/upgrade-consistency-sharded/compare/statefulset_some-name-cfg-1150-oc.yml
  e2e-tests/upgrade-consistency-sharded/compare/statefulset_some-name-cfg-1150.yml
  e2e-tests/upgrade-consistency-sharded/compare/statefulset_some-name-cfg-1160-oc.yml
  e2e-tests/upgrade-consistency-sharded/compare/statefulset_some-name-cfg-1160.yml
  e2e-tests/upgrade-consistency-sharded/compare/statefulset_some-name-rs0-1140-oc.yml
  e2e-tests/upgrade-consistency-sharded/compare/statefulset_some-name-rs0-1140.yml
  e2e-tests/upgrade-consistency-sharded/compare/statefulset_some-name-rs0-1150-oc.yml
  e2e-tests/upgrade-consistency-sharded/compare/statefulset_some-name-rs0-1150.yml
  e2e-tests/upgrade-consistency-sharded/compare/statefulset_some-name-rs0-1160-oc.yml
  e2e-tests/upgrade-consistency-sharded/compare/statefulset_some-name-rs0-1160.yml
  e2e-tests/upgrade-consistency-sharded/conf/some-name.yml
  e2e-tests/upgrade-consistency-sharded/run
  e2e-tests/upgrade-consistency/compare/service_some-name-rs0-1160.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-rs0-1140-oc.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-rs0-1140.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-rs0-1150-oc.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-rs0-1150.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-rs0-1160-oc.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-rs0-1160.yml
  e2e-tests/upgrade-consistency/conf/some-name-rs0.yml
  e2e-tests/upgrade-consistency/run
  e2e-tests/upgrade-sharded/run
  e2e-tests/upgrade/run
  version/version.go
Labels: size/L

#1358 Prune codeowners for github
  .github/CODEOWNERS
Labels: size/XS

#1346 CLOUD-789-2 - converting variables in a function to local and changing TEMP_DIR to tmp_dir
  e2e-tests/functions
  e2e-tests/init-deploy/compare/backup-50.json
  e2e-tests/init-deploy/compare/clusterAdmin-50.json
  e2e-tests/init-deploy/compare/clusterMonitor-50.json
  e2e-tests/monitoring-2-0/run
Labels: size/S

#1361 CLOUD-808 Fix PMM server deployment in tests
  e2e-tests/README.md
  e2e-tests/default-cr/run
  e2e-tests/functions
  e2e-tests/monitoring-2-0/run
  e2e-tests/upgrade-sharded/run
  e2e-tests/upgrade/run
  e2e-tests/version-service/run
Labels: size/M

#1364 CLOUD-814 Move from Kubernetes Platfrom v 1.14 to v 1.25 for all operator test cases
  Jenkinsfile
Labels: size/XS
