Repository percona/percona-server-mongodb-operator, pull requests merged in 2023-01, with the labels that each got.

#1091 K8SPSMDB-828 fix upgrade tests
  e2e-tests/functions
  e2e-tests/upgrade-sharded/run
  e2e-tests/upgrade/run
Labels: size/S

#1088 Update CONTRIBUTING.md
  CONTRIBUTING.md
Labels: size/XS

#1090 K8SPSMDB-713 - Bump pbm version to v2.0.2
  e2e-tests/data-at-rest-encryption/run
  e2e-tests/demand-backup-eks-credentials/run
  e2e-tests/demand-backup-sharded/conf/backup-aws-s3.yml
  e2e-tests/demand-backup-sharded/conf/backup-azure-blob.yml
  e2e-tests/demand-backup-sharded/conf/backup-gcp-cs.yml
  e2e-tests/demand-backup-sharded/conf/backup-minio.yml
  e2e-tests/demand-backup-sharded/run
  e2e-tests/demand-backup/run
  e2e-tests/scheduled-backup/run
  go.mod
  go.sum
  pkg/apis/psmdb/v1/perconaservermongodbbackup_types.go
  pkg/apis/psmdb/v1/psmdb_defaults.go
  pkg/apis/psmdb/v1/psmdb_types.go
  pkg/controller/perconaservermongodbbackup/backup.go
  pkg/controller/perconaservermongodbrestore/perconaservermongodbrestore_controller.go
  pkg/psmdb/backup/pbm.go
Labels: size/L

#1104 CLOUD-756 - Fix pipeline to delete/post GH results only if no new build initiated
  Jenkinsfile
  e2e-tests/demand-backup-eks-credentials/conf/some-name-rs0.yml
  e2e-tests/demand-backup-sharded/conf/some-name-rs0.yml
  e2e-tests/demand-backup-sharded/run
  e2e-tests/demand-backup/conf/some-name-rs0.yml
  e2e-tests/functions
  e2e-tests/run
  e2e-tests/scheduled-backup/conf/some-name-rs0-2.yml
  e2e-tests/scheduled-backup/conf/some-name-rs0.yml
  e2e-tests/scheduled-backup/run
Labels: size/M

#1102 CLOUD-755 Demand image everywhere inside CR
  config/crd/bases/psmdb.percona.com_perconaservermongodbs.yaml
  deploy/bundle.yaml
  deploy/crd.yaml
  deploy/cw-bundle.yaml
  e2e-tests/version-service/conf/crd.yaml
  pkg/apis/psmdb/v1/psmdb_types.go
Labels: size/M

#1103 K8SPSMDB-742: allow updating service annotations
  e2e-tests/functions
  e2e-tests/service-per-pod/compare/service_node-port-rs0-0-updated.yml
  e2e-tests/service-per-pod/compare/service_node-port-rs0-0.yml
  e2e-tests/service-per-pod/compare/statefulset_node-port-rs0.yml
  e2e-tests/service-per-pod/conf/node-port-rs0.yml
  e2e-tests/service-per-pod/run
  pkg/controller/perconaservermongodb/psmdb_controller.go
Labels: size/L

#1100 K8SPSMDB-674: fix services deletion after unexposing the replicaset
  pkg/controller/perconaservermongodb/external_service.go
  pkg/controller/perconaservermongodb/mgo.go
Labels: size/XS

#1105 K8SPSMDB-836 - Fix pbmStartingDeadline for backups in starting status
  e2e-tests/demand-backup-sharded/run
  pkg/controller/perconaservermongodbbackup/backup.go
Labels: size/XS

#1093 K8SPSMDB-820: fix cluster-wide scheduled backups
  pkg/apis/psmdb/v1/psmdb_types.go
  pkg/controller/perconaservermongodb/backup.go
Labels: size/XS

#1109 K8SPSMDB-798 rename stage in Dockerfile
  build/Dockerfile
Labels: size/XS

#1110 K8SPSMDB-844 update API for RuntimeClass
  e2e-tests/conf/container-rc.yaml
  e2e-tests/init-deploy/conf/another-name-rs0.yml
  e2e-tests/limits/conf/no-limits-rs0.yml
  e2e-tests/limits/conf/no-requests-no-limits-rs0.yml
  e2e-tests/limits/conf/no-requests-rs0.yml
  e2e-tests/limits/conf/no-storage-rs0.yml
Labels: size/XS

#1079 Add a specific link to Jira issues, instead of the general dashboard
  README.md
Labels: size/S

#1092 K8SPSMDB-824: ignore labels/annotations for services
  Jenkinsfile
  config/crd/bases/psmdb.percona.com_perconaservermongodbs.yaml
  deploy/bundle.yaml
  deploy/cr.yaml
  deploy/crd.yaml
  deploy/cw-bundle.yaml
  e2e-tests/ignore-labels-annotations/compare/service_some-name-cfg-0-crmeta.yml
  e2e-tests/ignore-labels-annotations/compare/service_some-name-cfg-0-manual.yml
  e2e-tests/ignore-labels-annotations/compare/service_some-name-cfg-0-no-ignored-meta.yml
  e2e-tests/ignore-labels-annotations/compare/service_some-name-cfg-0-one-service-label-annotation.yml
  e2e-tests/ignore-labels-annotations/compare/service_some-name-cfg-0-two-service-labels-annotations.yml
  e2e-tests/ignore-labels-annotations/compare/service_some-name-mongos-0-crmeta.yml
  e2e-tests/ignore-labels-annotations/compare/service_some-name-mongos-0-manual.yml
  e2e-tests/ignore-labels-annotations/compare/service_some-name-mongos-0-no-ignored-meta.yml
  e2e-tests/ignore-labels-annotations/compare/service_some-name-mongos-0-one-service-label-annotation.yml
  e2e-tests/ignore-labels-annotations/compare/service_some-name-mongos-0-two-service-labels-annotations.yml
  e2e-tests/ignore-labels-annotations/compare/service_some-name-rs0-0-crmeta.yml
  e2e-tests/ignore-labels-annotations/compare/service_some-name-rs0-0-manual.yml
  e2e-tests/ignore-labels-annotations/compare/service_some-name-rs0-0-no-ignored-meta.yml
  e2e-tests/ignore-labels-annotations/compare/service_some-name-rs0-0-one-service-label-annotation.yml
  e2e-tests/ignore-labels-annotations/compare/service_some-name-rs0-0-two-service-labels-annotations.yml
  e2e-tests/ignore-labels-annotations/conf/some-name.yml
  e2e-tests/ignore-labels-annotations/run
  e2e-tests/version-service/conf/crd.yaml
  pkg/apis/psmdb/v1/psmdb_types.go
  pkg/apis/psmdb/v1/zz_generated.deepcopy.go
  pkg/controller/perconaservermongodb/external_service.go
  pkg/controller/perconaservermongodb/psmdb_controller.go
  pkg/util/map.go
Labels: size/XL

#1107 CLOUD-755: fix `limits` and `init-deploy` tests
  e2e-tests/functions
Labels: size/S

#1113 K8SPSMDB-841: minor improvements
  pkg/controller/perconaservermongodb/psmdb_controller.go
  pkg/controller/perconaservermongodb/status.go
  pkg/psmdb/service.go
Labels: size/S

#1106 K8SPSMDB-721: use binary `pbm-agent-entrypoint`
  e2e-tests/data-at-rest-encryption/compare/statefulset_some-name-cfg.yml
  e2e-tests/data-at-rest-encryption/compare/statefulset_some-name-rs0.yml
  e2e-tests/default-cr/compare/statefulset_my-cluster-name-cfg-oc.yml
  e2e-tests/default-cr/compare/statefulset_my-cluster-name-cfg.yml
  e2e-tests/default-cr/compare/statefulset_my-cluster-name-rs0-oc.yml
  e2e-tests/default-cr/compare/statefulset_my-cluster-name-rs0.yml
  e2e-tests/demand-backup-eks-credentials/compare/statefulset_some-name-rs0.yml
  e2e-tests/demand-backup-sharded/compare/statefulset_some-name-cfg-4-oc.yml
  e2e-tests/demand-backup-sharded/compare/statefulset_some-name-cfg-oc.yml
  e2e-tests/demand-backup-sharded/compare/statefulset_some-name-cfg.yml
  e2e-tests/demand-backup-sharded/compare/statefulset_some-name-rs0-4-oc.yml
  e2e-tests/demand-backup-sharded/compare/statefulset_some-name-rs0-oc.yml
  e2e-tests/demand-backup-sharded/compare/statefulset_some-name-rs0.yml
  e2e-tests/demand-backup-sharded/compare/statefulset_some-name-rs1-oc.yml
  e2e-tests/demand-backup-sharded/compare/statefulset_some-name-rs1.yml
  e2e-tests/demand-backup-sharded/compare/statefulset_some-name-rs2-oc.yml
  e2e-tests/demand-backup-sharded/compare/statefulset_some-name-rs2.yml
  e2e-tests/demand-backup/compare/statefulset_some-name-rs0-oc.yml
  e2e-tests/demand-backup/compare/statefulset_some-name-rs0.yml
  e2e-tests/liveness/compare/statefulset_liveness-rs0-changed-oc.yml
  e2e-tests/liveness/compare/statefulset_liveness-rs0-changed.yml
  e2e-tests/one-pod/compare/statefulset_one-pod-rs0-oc.yml
  e2e-tests/one-pod/compare/statefulset_one-pod-rs0-secret-oc.yml
  e2e-tests/one-pod/compare/statefulset_one-pod-rs0-secret.yml
  e2e-tests/one-pod/compare/statefulset_one-pod-rs0.yml
  e2e-tests/pitr-sharded/compare/statefulset_some-name-cfg-4-oc.yml
  e2e-tests/pitr-sharded/compare/statefulset_some-name-cfg-oc.yml
  e2e-tests/pitr-sharded/compare/statefulset_some-name-cfg.yml
  e2e-tests/pitr-sharded/compare/statefulset_some-name-rs0-4-oc.yml
  e2e-tests/pitr-sharded/compare/statefulset_some-name-rs0-oc.yml
  e2e-tests/pitr-sharded/compare/statefulset_some-name-rs0.yml
  e2e-tests/pitr-sharded/compare/statefulset_some-name-rs1-4-oc.yml
  e2e-tests/pitr-sharded/compare/statefulset_some-name-rs1-oc.yml
  e2e-tests/pitr-sharded/compare/statefulset_some-name-rs1.yml
  e2e-tests/pitr-sharded/compare/statefulset_some-name-rs2-4-oc.yml
  e2e-tests/pitr-sharded/compare/statefulset_some-name-rs2-oc.yml
  e2e-tests/pitr-sharded/compare/statefulset_some-name-rs2.yml
  e2e-tests/pitr/compare/statefulset_some-name-rs0-oc.yml
  e2e-tests/pitr/compare/statefulset_some-name-rs0.yml
  e2e-tests/scheduled-backup/compare/statefulset_some-name-rs0-oc.yml
  e2e-tests/scheduled-backup/compare/statefulset_some-name-rs0.yml
  e2e-tests/security-context/compare/statefulset_sec-context-rs0-changed.yml
  e2e-tests/service-per-pod/compare/statefulset_cluster-ip-rs0-oc.yml
  e2e-tests/service-per-pod/compare/statefulset_cluster-ip-rs0.yml
  e2e-tests/service-per-pod/compare/statefulset_local-balancer-rs0-oc.yml
  e2e-tests/service-per-pod/compare/statefulset_local-balancer-rs0.yml
  e2e-tests/service-per-pod/compare/statefulset_node-port-rs0.yml
  pkg/psmdb/backup/agent.go
Labels: size/L

#1120 K8SPSMDB-849: Update golang.org/x/net
  go.mod
  go.sum
Labels: size/S

#1095 K8SPSMDB-767: fix finalizers
  pkg/apis/psmdb/v1/psmdb_types.go
  pkg/controller/perconaservermongodb/finalizers.go
  pkg/controller/perconaservermongodb/status.go
  pkg/controller/perconaservermongodbbackup/perconaservermongodbbackup_controller.go
  pkg/controller/perconaservermongodbrestore/perconaservermongodbrestore_controller.go
Labels: size/M

#1096 K8SPSMDB-793: add ability to set annotations/labels for PVCs
  Makefile
  config/crd/bases/psmdb.percona.com_perconaservermongodbbackups.yaml
  config/crd/bases/psmdb.percona.com_perconaservermongodbrestores.yaml
  config/crd/bases/psmdb.percona.com_perconaservermongodbs.yaml
  deploy/bundle.yaml
  deploy/cr.yaml
  deploy/crd.yaml
  deploy/cw-bundle.yaml
  e2e-tests/one-pod/compare/pvc_mongod-data-one-pod-rs0-0.yml
  e2e-tests/one-pod/conf/one-pod-rs0.yml
  e2e-tests/one-pod/run
  e2e-tests/version-service/conf/crd.yaml
  pkg/apis/psmdb/v1/psmdb_defaults.go
  pkg/apis/psmdb/v1/psmdb_types.go
  pkg/apis/psmdb/v1/zz_generated.deepcopy.go
  pkg/controller/perconaservermongodb/psmdb_controller.go
  pkg/psmdb/statefulset.go
Labels: size/XXL
