Repository percona/percona-server-mongodb-operator, pull requests merged in 2023-12, with the labels that each got.

#1385 CLOUD-825 - Use community helm chart repo for installing MinIO
  e2e-tests/functions
Labels: size/S

#1391 K8SPSMDB-1024 fixed variable scope and make sure it always get sets
  build/pbm-entry.sh
Labels: size/XS, community

#1396 CLOUD-828 Update issue templates
  .github/ISSUE_TEMPLATE/1-feature-request.yml
  .github/ISSUE_TEMPLATE/2-bug-report.yml
  .github/ISSUE_TEMPLATE/config.yml
Labels: size/M
