Repository percona/percona-server-mongodb-operator, pull requests merged in 2023-08, with the labels that each got.

#1270 CLOUD-727 update dependencies
  build/Dockerfile
  go.mod
  go.sum
  pkg/controller/perconaservermongodb/psmdb_controller.go
  pkg/controller/perconaservermongodbbackup/perconaservermongodbbackup_controller.go
  pkg/controller/perconaservermongodbrestore/perconaservermongodbrestore_controller.go
Labels: size/L

#1282 CLOUD-789 - adding password leak check in demand-backup, init-deploy, monitoring-2-0
  e2e-tests/demand-backup-sharded/run
  e2e-tests/demand-backup/run
  e2e-tests/functions
  e2e-tests/init-deploy/run
  e2e-tests/monitoring-2-0/run
Labels: size/M

#1281 K8SPSMDB-927 add termnationGracePeriodSeconds
  config/crd/bases/psmdb.percona.com_perconaservermongodbs.yaml
  deploy/bundle.yaml
  deploy/cr.yaml
  deploy/crd.yaml
  deploy/cw-bundle.yaml
  e2e-tests/init-deploy/compare/statefulset_another-name-rs0-4-oc.yml
  e2e-tests/init-deploy/compare/statefulset_another-name-rs0-oc.yml
  e2e-tests/init-deploy/compare/statefulset_another-name-rs0.yml
  e2e-tests/init-deploy/conf/another-name-rs0.yml
  e2e-tests/version-service/conf/crd.yaml
  pkg/apis/psmdb/v1/psmdb_types.go
  pkg/apis/psmdb/v1/zz_generated.deepcopy.go
  pkg/psmdb/mongos.go
  pkg/psmdb/statefulset.go
Labels: size/XL

#1284 PBM-1165: Update PBM module
  Jenkinsfile
  go.mod
  go.sum
  pkg/controller/perconaservermongodbrestore/logical.go
  pkg/psmdb/backup/pbm.go
Labels: size/L

#1266 K8SPSMDB-872: don't restore a backup with `error` state
  pkg/controller/perconaservermongodbrestore/perconaservermongodbrestore_controller.go
Labels: size/XS

#1264 K8SPSMDB-791: fix `loadBalancerSourceRanges`
  e2e-tests/demand-backup-sharded/conf/some-name-rs0.yml
  pkg/psmdb/mongos.go
  pkg/psmdb/service.go
Labels: size/S

#1265 K8SPSMDB-883: remove `mongod` section
  config/crd/bases/psmdb.percona.com_perconaservermongodbs.yaml
  deploy/bundle.yaml
  deploy/cr.yaml
  deploy/crd.yaml
  deploy/cw-bundle.yaml
  e2e-tests/cross-site-sharded/conf/cross-site-sharded-main.yml
  e2e-tests/cross-site-sharded/conf/cross-site-sharded-replica.yml
  e2e-tests/non-voting/conf/nonvoting-rs0.yml
  e2e-tests/upgrade-consistency/compare/service_some-name-rs0-1110.yml
  e2e-tests/upgrade-consistency/compare/service_some-name-rs0-1120.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-rs0-1110-oc.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-rs0-1110.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-rs0-1120-oc.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-rs0-1120.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-rs0-1130-oc.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-rs0-1130.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-rs0-1140-oc.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-rs0-1140.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-rs0-1150-oc.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-rs0-1150.yml
  e2e-tests/upgrade-consistency/conf/some-name-rs0.yml
  e2e-tests/upgrade-consistency/run
  e2e-tests/version-service/conf/crd.yaml
  pkg/apis/psmdb/v1/psmdb_defaults.go
  pkg/apis/psmdb/v1/psmdb_types.go
  pkg/apis/psmdb/v1/zz_generated.deepcopy.go
  pkg/controller/perconaservermongodb/psmdb_controller.go
  pkg/psmdb/backup/agent.go
  pkg/psmdb/container.go
  pkg/psmdb/mongos.go
  pkg/psmdb/service.go
  pkg/psmdb/statefulset.go
Labels: size/XXL

#1251 K8SPSMDB-938: Allow configuring hostAliases for pods (#1236)
  config/crd/bases/psmdb.percona.com_perconaservermongodbs.yaml
  deploy/bundle.yaml
  deploy/cr.yaml
  deploy/crd.yaml
  deploy/cw-bundle.yaml
  e2e-tests/version-service/conf/crd.yaml
  pkg/apis/psmdb/v1/psmdb_types.go
  pkg/apis/psmdb/v1/zz_generated.deepcopy.go
  pkg/psmdb/mongos.go
  pkg/psmdb/statefulset.go
Labels: size/L

#1199 K8SPSMDB-906: Logging improvements
  cmd/mongodb-healthcheck/main.go
  deploy/bundle.yaml
  deploy/cw-bundle.yaml
  deploy/cw-operator.yaml
  deploy/operator.yaml
  healthcheck/pkg/env.go
  healthcheck/tools/logger/logger.go
  healthcheck/tools/tool/tool.go
  pkg/controller/perconaservermongodbbackup/backup.go
  pkg/controller/perconaservermongodbbackup/perconaservermongodbbackup_controller.go
  pkg/controller/perconaservermongodbrestore/logical.go
  pkg/controller/perconaservermongodbrestore/perconaservermongodbrestore_controller.go
Labels: size/L

#1289 K8SPSMDB-958 fix mongos metrics
  e2e-tests/demand-backup-sharded/compare/statefulset_some-name-mongos-4-oc.yml
  e2e-tests/demand-backup-sharded/compare/statefulset_some-name-mongos-oc.yml
  e2e-tests/demand-backup-sharded/compare/statefulset_some-name-mongos-secret.yml
  e2e-tests/demand-backup-sharded/compare/statefulset_some-name-mongos.yml
  e2e-tests/expose-sharded/compare/statefulset_some-name-mongos-4-oc.yml
  e2e-tests/expose-sharded/compare/statefulset_some-name-mongos-oc.yml
  e2e-tests/expose-sharded/compare/statefulset_some-name-mongos.yml
  e2e-tests/monitoring-2-0/compare/statefulset_monitoring-mongos-oc.yml
  e2e-tests/monitoring-2-0/compare/statefulset_monitoring-mongos.yml
  e2e-tests/pitr-sharded/compare/statefulset_some-name-mongos.yml
  e2e-tests/serviceless-external-nodes/run
  pkg/apis/psmdb/v1/psmdb_defaults.go
Labels: size/M
