Repository percona/percona-server-mongodb-operator, pull requests merged in 2023-07, with the labels that each got.

#1237 Update the Operator emblem and use it in README
  README.md
  kubernetes.svg
Labels: size/S, docs

#1247 CLOUD-793 - Set fixed version of jq to 1.6
  Jenkinsfile
Labels: size/XS

#1248 CUSTOM-145: Custom replset name, hostAliases, liveness probe fix
  Jenkinsfile
  deploy/bundle.yaml
  deploy/cr.yaml
  deploy/crd.yaml
  e2e-tests/version-service/conf/crd.yaml
  healthcheck/health.go
  pkg/apis/psmdb/v1/psmdb_types.go
  pkg/apis/psmdb/v1/zz_generated.deepcopy.go
  pkg/controller/perconaservermongodb/mgo.go
  pkg/controller/perconaservermongodb/psmdb_controller.go
  pkg/psmdb/client.go
  pkg/psmdb/container.go
  pkg/psmdb/mongos.go
  pkg/psmdb/statefulset.go
  vendor/modules.txt
Labels: size/XXL

#1249 CUSTOM-146: Custom replset name, hostAliases, liveness probe fix
  Jenkinsfile
  config/crd/bases/psmdb.percona.com_perconaservermongodbbackups.yaml
  config/crd/bases/psmdb.percona.com_perconaservermongodbrestores.yaml
  config/crd/bases/psmdb.percona.com_perconaservermongodbs.yaml
  deploy/bundle.yaml
  deploy/cr.yaml
  deploy/crd.yaml
  deploy/cw-bundle.yaml
  e2e-tests/version-service/conf/crd.yaml
  healthcheck/health.go
  pkg/apis/psmdb/v1/psmdb_types.go
  pkg/apis/psmdb/v1/zz_generated.deepcopy.go
  pkg/controller/perconaservermongodb/mgo.go
  pkg/controller/perconaservermongodb/psmdb_controller.go
  pkg/psmdb/client.go
  pkg/psmdb/container.go
  pkg/psmdb/mongos.go
  pkg/psmdb/statefulset.go
  vendor/modules.txt
Labels: size/XXL

#1250 CUSTOM-147: Custom replset name, hostAliases, liveness probe fix
  Jenkinsfile
  config/crd/bases/psmdb.percona.com_perconaservermongodbs.yaml
  deploy/bundle.yaml
  deploy/cr.yaml
  deploy/crd.yaml
  deploy/cw-bundle.yaml
  e2e-tests/version-service/conf/crd.yaml
  healthcheck/health.go
  pkg/apis/psmdb/v1/psmdb_types.go
  pkg/apis/psmdb/v1/zz_generated.deepcopy.go
  pkg/controller/perconaservermongodb/mgo.go
  pkg/controller/perconaservermongodb/psmdb_controller.go
  pkg/psmdb/client.go
  pkg/psmdb/container.go
  pkg/psmdb/mongos.go
  pkg/psmdb/statefulset.go
Labels: size/L

#1255 CUSTOM-149: Fix liveness probe if custom replset name for 1.11.0
  Jenkinsfile
  e2e-tests/conf/client.yml
  e2e-tests/custom-replset-name/compare/find-2nd.json
  e2e-tests/custom-replset-name/compare/find.json
  e2e-tests/custom-replset-name/conf/backup-aws-s3.yml
  e2e-tests/custom-replset-name/conf/backup-gcp-cs.yml
  e2e-tests/custom-replset-name/conf/backup-minio.yml
  e2e-tests/custom-replset-name/conf/restore.yml
  e2e-tests/custom-replset-name/conf/some-name.yml
  e2e-tests/custom-replset-name/run
  e2e-tests/demand-backup-sharded/run
  e2e-tests/demand-backup/run
  e2e-tests/functions
  e2e-tests/scheduled-backup/run
  pkg/psmdb/container.go
Labels: size/L

#1257 CUSTOM-149: Fix liveness probe if custom replset name for 1.13.0
  Jenkinsfile
  e2e-tests/custom-replset-name/compare/find-2nd.json
  e2e-tests/custom-replset-name/compare/find.json
  e2e-tests/custom-replset-name/conf/backup-aws-s3.yml
  e2e-tests/custom-replset-name/conf/backup-gcp-cs.yml
  e2e-tests/custom-replset-name/conf/backup-minio.yml
  e2e-tests/custom-replset-name/conf/restore.yml
  e2e-tests/custom-replset-name/conf/some-name.yml
  e2e-tests/custom-replset-name/run
  e2e-tests/demand-backup-sharded/run
  e2e-tests/demand-backup/run
  e2e-tests/functions
  e2e-tests/init-deploy/compare/clusterAdmin-44.json
  e2e-tests/scheduled-backup/run
  pkg/psmdb/container.go
Labels: size/L

#1259 update cr
  deploy/bundle.yaml
  deploy/operator.yaml
Labels: size/XS

#1260 update cr
  deploy/bundle.yaml
  deploy/cw-bundle.yaml
  deploy/cw-operator.yaml
  deploy/operator.yaml
Labels: size/XS

#1256 CUSTOM-149: Fix liveness probe if custom replset name for 1.12.0
  .gitignore
  Jenkinsfile
  e2e-tests/custom-replset-name/compare/find-2nd.json
  e2e-tests/custom-replset-name/compare/find.json
  e2e-tests/custom-replset-name/conf/backup-aws-s3.yml
  e2e-tests/custom-replset-name/conf/backup-gcp-cs.yml
  e2e-tests/custom-replset-name/conf/backup-minio.yml
  e2e-tests/custom-replset-name/conf/restore.yml
  e2e-tests/custom-replset-name/conf/some-name.yml
  e2e-tests/custom-replset-name/run
  e2e-tests/demand-backup-sharded/run
  e2e-tests/demand-backup/run
  e2e-tests/functions
  e2e-tests/init-deploy/compare/clusterAdmin-44.json
  e2e-tests/scheduled-backup/run
  pkg/psmdb/container.go
Labels: size/L

#1261 1.12.0-custom-149 update cr
  deploy/bundle.yaml
  deploy/operator.yaml
Labels: size/XS

#1258 CUSTOM-149: Fix liveness probe if custom replset name for 1.14.0
  Jenkinsfile
  e2e-tests/custom-replset-name/compare/find-2nd.json
  e2e-tests/custom-replset-name/compare/find.json
  e2e-tests/custom-replset-name/conf/backup-aws-s3.yml
  e2e-tests/custom-replset-name/conf/backup-gcp-cs.yml
  e2e-tests/custom-replset-name/conf/backup-minio.yml
  e2e-tests/custom-replset-name/conf/restore.yml
  e2e-tests/custom-replset-name/conf/some-name.yml
  e2e-tests/custom-replset-name/run
  e2e-tests/functions
  e2e-tests/init-deploy/compare/backup-44.json
  e2e-tests/init-deploy/compare/clusterAdmin-44.json
  pkg/psmdb/container.go
  pkg/psmdb/mongos.go
Labels: size/L

#1262 update cr
  deploy/bundle.yaml
  deploy/cw-bundle.yaml
  deploy/cw-operator.yaml
  deploy/operator.yaml
Labels: size/XS
