Repository percona/percona-server-mongodb-operator, pull requests merged in 2023-03, with the labels that each got.

#1182 Fix for version-service semver channel name
  e2e-tests/demand-backup-physical/compare/statefulset_some-name-rs0_restore-oc.yml
  e2e-tests/functions
  e2e-tests/mongod-major-upgrade-sharded/run
  e2e-tests/mongod-major-upgrade/run
  e2e-tests/service-per-pod/compare/statefulset_node-port-rs0-oc.yml
  e2e-tests/service-per-pod/run
  e2e-tests/version-service/run
Labels: size/XL

#1183 Fixing compare files for openshift
  e2e-tests/mongod-major-upgrade-sharded/run
  e2e-tests/mongod-major-upgrade/run
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-rs0-1130-oc.yml
  e2e-tests/upgrade-consistency/run
  e2e-tests/upgrade-sharded/run
  e2e-tests/upgrade/run
Labels: size/M

#1186 Enhance debug processing section
  e2e-tests/functions
Labels: size/XS

#1184 Use separate namespace for getting mongod version
  e2e-tests/cross-site-sharded/run
  e2e-tests/demand-backup-physical-sharded/compare/statefulset_some-name-rs0_restore_sharded-oc.yml
  e2e-tests/demand-backup-physical-sharded/run
  e2e-tests/demand-backup-physical/run
  e2e-tests/demand-backup-sharded/run
  e2e-tests/functions
  e2e-tests/mongod-major-upgrade-sharded/run
  e2e-tests/mongod-major-upgrade/run
  e2e-tests/pitr-sharded/compare/statefulset_some-name-mongos-oc.yml
Labels: size/L

#1187 K8SPSMDB-794 - Fix demand-backup-eks-credentials test
  e2e-tests/demand-backup-eks-credentials/compare/statefulset_some-name-rs0.yml
  e2e-tests/demand-backup-eks-credentials/run
Labels: size/XS

#1188 K8SPSMDB-878 - Fix EKS tests
  e2e-tests/demand-backup-sharded/run
  e2e-tests/expose-sharded/run
  e2e-tests/init-deploy/run
  e2e-tests/multi-cluster-service/run
  e2e-tests/pitr-sharded/run
  e2e-tests/upgrade-consistency/run
Labels: size/S

#1190 K8SPSMDB-881 Force error exit on restore error
  e2e-tests/functions
Labels: size/S

#1192 fix cross-site-sharded
  e2e-tests/cross-site-sharded/conf/cross-site-sharded-main.yml
  e2e-tests/cross-site-sharded/conf/cross-site-sharded-replica.yml
  e2e-tests/cross-site-sharded/disaster_recovery.js
  e2e-tests/cross-site-sharded/run
Labels: size/S, size/M

#1173 K8SPSMDB-877 - Implement dynamic test execution and duration report
  Jenkinsfile
  e2e-tests/run-pr.csv
Labels: size/L

#1196 CLOUD-775 - Fix cancelation of parallel pipeline build
  Jenkinsfile
Labels: size/S

#1195 K8SPSMDB-794 post release changes
  deploy/bundle.yaml
  deploy/cr-minimal.yaml
  deploy/cr.yaml
  deploy/cw-bundle.yaml
  deploy/cw-operator.yaml
  deploy/operator.yaml
  e2e-tests/functions
  e2e-tests/upgrade-consistency/compare/service_some-name-rs0-1150.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-rs0-1150-oc.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-rs0-1150.yml
  e2e-tests/upgrade-consistency/run
  e2e-tests/upgrade-sharded/run
  e2e-tests/upgrade/run
  version/version.go
Labels: size/L

#1197 K8SPSMDB-877 - Add list of tests for release pipelines and minikube
  e2e-tests/run-minikube.csv
  e2e-tests/run-release.csv
Labels: size/M
