Repository percona/percona-server-mongodb-operator, pull requests merged in 2023-02, with the labels that each got.

#1118 K8SPSMDB-848: Remove formatted strings from log messages
  cmd/manager/main.go
  pkg/apis/psmdb/v1/psmdb_defaults.go
  pkg/apis/psmdb/v1/psmdb_types.go
  pkg/controller/perconaservermongodb/smart.go
  pkg/controller/perconaservermongodb/version.go
  pkg/psmdb/mongos.go
  pkg/psmdb/pmm.go
  pkg/psmdb/statefulset.go
Labels: size/M

#1014 K8SPSMDB-758: Prioritize ServiceMesh FQDN for config servers if DNSMode is set to ServiceMesh
  pkg/psmdb/service.go
Labels: size/XS, community

#1127 K8SPSMDB-793 Removing irrelavent example
  deploy/cr.yaml
Labels: size/XS

#1128 K8SPSMDB-820 Display namespace for removed backup job
  pkg/controller/perconaservermongodb/backup.go
Labels: size/XS

#1129 K8SPSMDB-754: Use proper logger in controllers
  healthcheck/tools/db/config.go
  healthcheck/tools/db/ssl.go
  healthcheck/tools/util.go
  pkg/controller/perconaservermongodb/backup.go
  pkg/controller/perconaservermongodb/balancer.go
  pkg/controller/perconaservermongodb/fcv.go
  pkg/controller/perconaservermongodb/finalizers.go
  pkg/controller/perconaservermongodb/mgo.go
  pkg/controller/perconaservermongodb/psmdb_controller.go
  pkg/controller/perconaservermongodb/smart.go
  pkg/controller/perconaservermongodb/ssl.go
  pkg/controller/perconaservermongodb/status.go
  pkg/controller/perconaservermongodb/users.go
  pkg/controller/perconaservermongodb/version.go
  pkg/controller/perconaservermongodbbackup/backup.go
  pkg/controller/perconaservermongodbbackup/perconaservermongodbbackup_controller.go
  pkg/controller/perconaservermongodbrestore/perconaservermongodbrestore_controller.go
  pkg/k8s/utils.go
Labels: size/L

#1133 K8SPSMDB-856 Fix for license check
  Jenkinsfile
Labels: size/XS

#1134 K8SPSMDB-856 Sync crVersion and compare files
  e2e-tests/upgrade-consistency/compare/service_some-name-rs0-1120.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-rs0-1120-oc.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-rs0-1120.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-rs0-1130-oc.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-rs0-1130.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-rs0-1140-oc.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-rs0-1140.yml
  e2e-tests/upgrade-consistency/run
Labels: size/M

#1131 K8SPSMDB-658: Improve cluster pausing logs
  pkg/apis/psmdb/v1/psmdb_defaults.go
Labels: size/XS

#1108 K8SPSMDB-737: Mongo 6 support
  Jenkinsfile
  build/pbm-entry.sh
  build/ps-entry.sh
  e2e-tests/cross-site-sharded/run
  e2e-tests/data-sharded/run
  e2e-tests/functions
  e2e-tests/init-deploy/compare/backup-60.json
  e2e-tests/init-deploy/compare/clusterAdmin-60.json
  e2e-tests/init-deploy/compare/clusterMonitor-60.json
  e2e-tests/init-deploy/compare/userAdmin-60.json
  e2e-tests/smart-update/run
  pkg/controller/perconaservermongodb/mgo.go
Labels: size/XXL

#1138 K8SPSMDB-737: Update major upgrade to support upgrade from v5.0 to 6.0.
  pkg/controller/perconaservermongodb/version.go
Labels: size/XS

#1137 K8SPSMDB-845: delete backup finalizer fails with PBM v2
  e2e-tests/demand-backup-sharded/conf/backup-aws-s3.yml
  e2e-tests/demand-backup-sharded/conf/backup-azure-blob.yml
  e2e-tests/demand-backup-sharded/conf/backup-gcp-cs.yml
  e2e-tests/demand-backup-sharded/conf/backup-minio.yml
  e2e-tests/demand-backup-sharded/run
  e2e-tests/demand-backup/run
  pkg/controller/perconaservermongodbbackup/perconaservermongodbbackup_controller.go
Labels: size/L

#1141 K8SPSMDB- 770: Enrich the rest of the logs with namespace and cluster name keys
  pkg/controller/perconaservermongodb/backup.go
  pkg/controller/perconaservermongodb/mgo.go
  pkg/controller/perconaservermongodb/psmdb_controller.go
  pkg/psmdb/container.go
  pkg/psmdb/init.go
  pkg/psmdb/pmm.go
  pkg/psmdb/service.go
  pkg/psmdb/statefulset.go
Labels: size/L

#1119 K8SPSMDB-841 add expose test
  Jenkinsfile
  e2e-tests/cross-site-sharded/run
  e2e-tests/demand-backup-eks-credentials/run
  e2e-tests/demand-backup-sharded/run
  e2e-tests/demand-backup/run
  e2e-tests/expose-sharded/compare/find-2nd.json
  e2e-tests/expose-sharded/compare/find-3nd.json
  e2e-tests/expose-sharded/compare/find-4nd.json
  e2e-tests/expose-sharded/compare/find-5nd.json
  e2e-tests/expose-sharded/compare/find-6nd.json
  e2e-tests/expose-sharded/compare/find.json
  e2e-tests/expose-sharded/compare/statefulset_some-name-cfg-4-oc.yml
  e2e-tests/expose-sharded/compare/statefulset_some-name-cfg-oc.yml
  e2e-tests/expose-sharded/compare/statefulset_some-name-cfg.yml
  e2e-tests/expose-sharded/compare/statefulset_some-name-mongos-4-oc.yml
  e2e-tests/expose-sharded/compare/statefulset_some-name-mongos-oc.yml
  e2e-tests/expose-sharded/compare/statefulset_some-name-mongos.yml
  e2e-tests/expose-sharded/compare/statefulset_some-name-rs0-4-oc.yml
  e2e-tests/expose-sharded/compare/statefulset_some-name-rs0-oc.yml
  e2e-tests/expose-sharded/compare/statefulset_some-name-rs0.yml
  e2e-tests/expose-sharded/conf/mongos-secret.yml
  e2e-tests/expose-sharded/conf/some-name-rs0.yml
  e2e-tests/expose-sharded/run
  e2e-tests/functions
  e2e-tests/pitr-sharded/run
  e2e-tests/pitr/run
Labels: size/XXL

#1144 CLOUD-749 - Fix running of chaos-mesh tests
  e2e-tests/functions
  e2e-tests/operator-self-healing-chaos/run
  e2e-tests/self-healing-chaos/run
Labels: size/M

#1115 K8SPSMDB-817 - Allow external nodes to be added when the replicaset is not exposed
  Jenkinsfile
  e2e-tests/serviceless-external-nodes/compare/rs.txt
  e2e-tests/serviceless-external-nodes/conf/external.yaml
  e2e-tests/serviceless-external-nodes/conf/main.yaml
  e2e-tests/serviceless-external-nodes/conf/secrets.yaml
  e2e-tests/serviceless-external-nodes/run
  pkg/apis/psmdb/v1/psmdb_defaults.go
Labels: size/L, community

#1132 K8SPSMDB-708: Apply securityContext to init containers.
  config/crd/bases/psmdb.percona.com_perconaservermongodbs.yaml
  deploy/bundle.yaml
  deploy/cr.yaml
  deploy/crd.yaml
  deploy/cw-bundle.yaml
  e2e-tests/security-context/compare/statefulset_sec-context-rs0-changed.yml
  e2e-tests/security-context/compare/statefulset_sec-context-rs0.yml
  e2e-tests/security-context/conf/sec-context-rs0-changed.yml
  e2e-tests/security-context/conf/sec-context-rs0.yml
  e2e-tests/version-service/conf/crd.yaml
  pkg/apis/psmdb/v1/psmdb_types.go
  pkg/apis/psmdb/v1/zz_generated.deepcopy.go
  pkg/psmdb/init.go
Labels: size/L

#1150 K8SPSMDB-817 comment broken test
  Jenkinsfile
Labels: size/XS

#1147 K8SPSMDB-852 delete unsused API vars
  e2e-tests/upgrade-sharded/run
  e2e-tests/upgrade/run
Labels: size/S

#1149 K8SPSMDB-767: fix finalizers
  pkg/apis/psmdb/v1/psmdb_types.go
  pkg/controller/perconaservermongodb/finalizers.go
Labels: size/XS

#1139 K8SPSMDB-853: add more telemetry
  go.mod
  go.sum
  pkg/controller/perconaservermongodb/version.go
  pkg/controller/perconaservermongodb/version_test.go
  pkg/controller/perconaservermongodb/vs.go
  versionserviceclient/models/googlerpc_status.go
  versionserviceclient/models/protobuf_any.go
  versionserviceclient/models/version_operator_response.go
  versionserviceclient/models/version_operator_version.go
  versionserviceclient/models/version_product_response.go
  versionserviceclient/models/version_status.go
  versionserviceclient/models/version_version.go
  versionserviceclient/models/version_version_matrix.go
  versionserviceclient/models/version_version_response.go
  versionserviceclient/version_service/version_service_apply_parameters.go
  versionserviceclient/version_service/version_service_apply_responses.go
  versionserviceclient/version_service/version_service_client.go
  versionserviceclient/version_service/version_service_operator_parameters.go
  versionserviceclient/version_service/version_service_operator_responses.go
  versionserviceclient/version_service/version_service_product_parameters.go
  versionserviceclient/version_service/version_service_product_responses.go
Labels: size/XL

#1156 K8SPSMDB-866: decrease the amount of pmm secret logs
  pkg/controller/perconaservermongodb/users.go
  pkg/psmdb/pmm.go
Labels: size/S

#1151 K8SPSMDB-713: Run PBM resync after physical restore
  e2e-tests/demand-backup-physical/conf/backup.yml
  e2e-tests/demand-backup-physical/run
  e2e-tests/expose-sharded/compare/statefulset_some-name-cfg-4-oc.yml
  e2e-tests/expose-sharded/compare/statefulset_some-name-cfg-oc.yml
  e2e-tests/expose-sharded/compare/statefulset_some-name-cfg.yml
  e2e-tests/expose-sharded/compare/statefulset_some-name-mongos-4-oc.yml
  e2e-tests/expose-sharded/compare/statefulset_some-name-mongos-oc.yml
  e2e-tests/expose-sharded/compare/statefulset_some-name-mongos.yml
  e2e-tests/expose-sharded/compare/statefulset_some-name-rs0-4-oc.yml
  e2e-tests/expose-sharded/compare/statefulset_some-name-rs0-oc.yml
  e2e-tests/expose-sharded/compare/statefulset_some-name-rs0.yml
  e2e-tests/scheduled-backup/run
  pkg/apis/psmdb/v1/psmdb_types.go
  pkg/controller/perconaservermongodb/backup.go
  pkg/controller/perconaservermongodb/psmdb_controller.go
  pkg/controller/perconaservermongodbrestore/physical.go
Labels: size/L

#1146 CLOUD-727: Update manifests
  config/crd/bases/psmdb.percona.com_perconaservermongodbs.yaml
  deploy/bundle.yaml
  deploy/crd.yaml
  deploy/cw-bundle.yaml
  e2e-tests/version-service/conf/crd.yaml
Labels: size/XXL

#1148 K8SPSMDB-737 - Update version-service test for MongoDB 6.0
  e2e-tests/version-service/conf/operator.9.9.9.psmdb-operator.json
  e2e-tests/version-service/conf/version-service-major-rs0.yml
  e2e-tests/version-service/run
Labels: size/S

#1159 K8SPSMDB-866 fix the log condition
  pkg/controller/perconaservermongodb/users.go
Labels: size/XS

#1155 K8SPSMDB-867: Use local FQDNs unless DNS mode is external
  Jenkinsfile
  e2e-tests/expose-sharded/run
  e2e-tests/recover-no-primary/conf/some-name-exposed.yml
  e2e-tests/recover-no-primary/conf/some-name-sharded.yml
  e2e-tests/recover-no-primary/conf/some-name.yml
  e2e-tests/recover-no-primary/run
  pkg/apis/psmdb/v1/psmdb_defaults.go
  pkg/apis/psmdb/v1/psmdb_types.go
  pkg/controller/perconaservermongodb/mgo.go
  pkg/psmdb/service.go
Labels: size/XL

#1153 K8SPSMDB-713: Don't allow physical restores if there's an arbiter
  pkg/controller/perconaservermongodbrestore/physical.go
Labels: size/XS

#1160 K8SPSMDB-853 fix condition
  pkg/controller/perconaservermongodb/version.go
  pkg/controller/perconaservermongodb/version_test.go
Labels: size/S

#1116 K8SPSMDB-846: cluster fails when replset resized to 1
  e2e-tests/scaling/run
  pkg/apis/psmdb/v1/psmdb_types.go
  pkg/controller/perconaservermongodb/mgo.go
  pkg/controller/perconaservermongodb/psmdb_controller.go
  pkg/controller/perconaservermongodb/smart.go
  pkg/controller/perconaservermongodb/status.go
  pkg/controller/perconaservermongodb/users.go
  pkg/psmdb/backup/pbm.go
  pkg/psmdb/client.go
  pkg/psmdb/getters.go
Labels: size/L

#1158 K8SPSMDB-817  fix serviceless-external-nodes test
  Jenkinsfile
  e2e-tests/run
  e2e-tests/serviceless-external-nodes/conf/external.yml
  e2e-tests/serviceless-external-nodes/conf/main.yml
  e2e-tests/serviceless-external-nodes/conf/secrets.yml
  e2e-tests/serviceless-external-nodes/run
Labels: size/L

#1130 K8SPSMDB-851 Mongod major version upgrade test
  Jenkinsfile
  e2e-tests/functions
  e2e-tests/mongod-major-upgrade/compare/find-2.json
  e2e-tests/mongod-major-upgrade/compare/find-3.json
  e2e-tests/mongod-major-upgrade/compare/find.json
  e2e-tests/mongod-major-upgrade/conf/backup-minio.yml
  e2e-tests/mongod-major-upgrade/conf/operator.main.psmdb-operator.dep.json
  e2e-tests/mongod-major-upgrade/conf/operator.main.psmdb-operator.json
  e2e-tests/mongod-major-upgrade/conf/restore.yml
  e2e-tests/mongod-major-upgrade/conf/some-name-rs0.yml
  e2e-tests/mongod-major-upgrade/conf/vs.yml
  e2e-tests/mongod-major-upgrade/run
  e2e-tests/run
Labels: size/L

#1142 K8SPSMDB-864 add possibility of enabling/disabling debug mode for e2e tests
  Jenkinsfile
  e2e-tests/arbiter/run
  e2e-tests/cross-site-sharded/run
  e2e-tests/data-at-rest-encryption/run
  e2e-tests/data-sharded/run
  e2e-tests/default-cr/run
  e2e-tests/demand-backup-eks-credentials/run
  e2e-tests/demand-backup/run
  e2e-tests/functions
  e2e-tests/init-deploy/run
  e2e-tests/limits/run
  e2e-tests/liveness/run
  e2e-tests/monitoring-2-0/run
  e2e-tests/non-voting/run
  e2e-tests/one-pod/run
  e2e-tests/operator-self-healing-chaos/run
  e2e-tests/pitr-sharded/run
  e2e-tests/pitr/run
  e2e-tests/rs-shard-migration/run
  e2e-tests/scaling/run
  e2e-tests/scheduled-backup/run
  e2e-tests/security-context/run
  e2e-tests/self-healing-chaos/run
  e2e-tests/service-per-pod/run
  e2e-tests/smart-update/run
  e2e-tests/storage/run
  e2e-tests/upgrade-consistency/run
  e2e-tests/upgrade-sharded/run
  e2e-tests/upgrade/run
  e2e-tests/users/run
  e2e-tests/version-service/run
Labels: size/XL

#1135 K8SPSMDB-851 - Add test for major mongod upgrade in sharding setup
  Jenkinsfile
  e2e-tests/mongod-major-upgrade-sharded/compare/find-2.json
  e2e-tests/mongod-major-upgrade-sharded/compare/find-3.json
  e2e-tests/mongod-major-upgrade-sharded/compare/find.json
  e2e-tests/mongod-major-upgrade-sharded/conf/backup-minio.yml
  e2e-tests/mongod-major-upgrade-sharded/conf/operator.main.psmdb-operator.dep.json
  e2e-tests/mongod-major-upgrade-sharded/conf/operator.main.psmdb-operator.json
  e2e-tests/mongod-major-upgrade-sharded/conf/restore.yml
  e2e-tests/mongod-major-upgrade-sharded/conf/some-name.yml
  e2e-tests/mongod-major-upgrade-sharded/conf/vs.yml
  e2e-tests/mongod-major-upgrade-sharded/run
  e2e-tests/run
Labels: size/L

#1165 CLOUD-748 - Remove automatic tests from PR template
  .github/pull_request_template.md
Labels: size/XS

#1161 K8SPSMDB-867: Fix using MCS addresses
  Jenkinsfile
  e2e-tests/functions
  e2e-tests/multi-cluster-service/conf/some-name.yml
  e2e-tests/multi-cluster-service/run
  e2e-tests/self-healing-chaos/run
  pkg/controller/perconaservermongodb/external_service.go
  pkg/controller/perconaservermongodb/mgo.go
  pkg/psmdb/service.go
Labels: size/L

#1167 K8SPSMDB-708 Fix the initImage example in cr.yaml
  deploy/cr.yaml
Labels: size/XS

#1170 Add backup type into restore example for backupSource
  deploy/backup/restore.yaml
Labels: size/XS

#1169 K8SPSMDB-853: fix `version_test` unit-test
  pkg/controller/perconaservermongodb/version_test.go
Labels: size/XS

#1172 K8SPSMDB-769 update rs-shard-migration
  e2e-tests/rs-shard-migration/run
Labels: size/XS

#1171 K8SPSMDB-873: Change HOME dir for mongosh
  build/ps-entry.sh
  pkg/controller/perconaservermongodb/version_test.go
Labels: size/S
