Repository percona/percona-server-mongodb-operator, pull requests merged in 2024-09, with the labels that each got.

#1638 K8SPSMDB-1098 fix monitoring test
  e2e-tests/functions
  e2e-tests/monitoring-2-0/run
Labels: size/S

#1644 K8SPSMDB-1098: Release 1.17.0
  deploy/bundle.yaml
  deploy/cr-minimal.yaml
  deploy/cr.yaml
  deploy/cw-bundle.yaml
  deploy/cw-operator.yaml
  deploy/operator.yaml
  e2e-tests/default-cr/run
  e2e-tests/demand-backup-physical-sharded/run
  e2e-tests/functions
  e2e-tests/init-deploy/compare/backup-60.json
  e2e-tests/init-deploy/compare/clusterAdmin-60.json
  e2e-tests/init-deploy/compare/clusterMonitor-60.json
  e2e-tests/pvc-resize/run
  e2e-tests/service-per-pod/run
  go.mod
Labels: size/M

#1645 K8SPSMDB-1098: Update main branch after 1.17.0 release
  deploy/bundle.yaml
  deploy/cr-minimal.yaml
  deploy/cr.yaml
  deploy/cw-bundle.yaml
  deploy/cw-operator.yaml
  deploy/operator.yaml
  e2e-tests/functions
  e2e-tests/upgrade-consistency-sharded-tls/compare/service_some-name-cfg-1161.yml
  e2e-tests/upgrade-consistency-sharded-tls/compare/service_some-name-cfg-1162.yml
  e2e-tests/upgrade-consistency-sharded-tls/compare/service_some-name-cfg-1180.yml
  e2e-tests/upgrade-consistency-sharded-tls/compare/service_some-name-rs0-1160.yml
  e2e-tests/upgrade-consistency-sharded-tls/compare/service_some-name-rs0-1161.yml
  e2e-tests/upgrade-consistency-sharded-tls/compare/service_some-name-rs0-1162.yml
  e2e-tests/upgrade-consistency-sharded-tls/compare/service_some-name-rs0-1180.yml
  e2e-tests/upgrade-consistency-sharded-tls/compare/statefulset_some-name-cfg-1160-oc.yml
  e2e-tests/upgrade-consistency-sharded-tls/compare/statefulset_some-name-cfg-1160.yml
  e2e-tests/upgrade-consistency-sharded-tls/compare/statefulset_some-name-cfg-1161.yml
  e2e-tests/upgrade-consistency-sharded-tls/compare/statefulset_some-name-cfg-1162-oc.yml
  e2e-tests/upgrade-consistency-sharded-tls/compare/statefulset_some-name-cfg-1162.yml
  e2e-tests/upgrade-consistency-sharded-tls/compare/statefulset_some-name-cfg-1170-oc.yml
  e2e-tests/upgrade-consistency-sharded-tls/compare/statefulset_some-name-cfg-1170.yml
  e2e-tests/upgrade-consistency-sharded-tls/compare/statefulset_some-name-cfg-1180-oc.yml
  e2e-tests/upgrade-consistency-sharded-tls/compare/statefulset_some-name-cfg-1180.yml
  e2e-tests/upgrade-consistency-sharded-tls/compare/statefulset_some-name-rs0-1161.yml
  e2e-tests/upgrade-consistency-sharded-tls/compare/statefulset_some-name-rs0-1162-oc.yml
  e2e-tests/upgrade-consistency-sharded-tls/compare/statefulset_some-name-rs0-1162.yml
  e2e-tests/upgrade-consistency-sharded-tls/compare/statefulset_some-name-rs0-1170-oc.yml
  e2e-tests/upgrade-consistency-sharded-tls/compare/statefulset_some-name-rs0-1170.yml
  e2e-tests/upgrade-consistency-sharded-tls/compare/statefulset_some-name-rs0-1180-oc.yml
  e2e-tests/upgrade-consistency-sharded-tls/compare/statefulset_some-name-rs0-1180.yml
  e2e-tests/upgrade-consistency-sharded-tls/conf/some-name.yml
  e2e-tests/upgrade-consistency-sharded-tls/run
  e2e-tests/upgrade-consistency/compare/service_some-name-rs0-1150.yml
  e2e-tests/upgrade-consistency/compare/service_some-name-rs0-1160.yml
  e2e-tests/upgrade-consistency/compare/service_some-name-rs0-1180.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-rs0-1160-oc.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-rs0-1160.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-rs0-1162-oc.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-rs0-1162.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-rs0-1170-oc.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-rs0-1170.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-rs0-1180-oc.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-rs0-1180.yml
  e2e-tests/upgrade-consistency/conf/some-name-rs0.yml
  e2e-tests/upgrade-consistency/run
  pkg/controller/perconaservermongodb/testdata/reconcile-statefulset/cfg-arbiter.yaml
  pkg/controller/perconaservermongodb/testdata/reconcile-statefulset/cfg-mongod.yaml
  pkg/controller/perconaservermongodb/testdata/reconcile-statefulset/cfg-nv.yaml
  pkg/controller/perconaservermongodb/testdata/reconcile-statefulset/rs0-mongod.yaml
  pkg/controller/perconaservermongodb/testdata/reconcile-statefulset/rs0-nv.yaml
  pkg/psmdb/backup/testdata/cr-with-pbm-config.yaml
  version/version.go
Labels: size/XXL

#1634 K8SPSMDB-1047: Fix overwriting writeConcernMajorityJournalDefault
  pkg/psmdb/mongo/models.go
Labels: size/XS

#1641 K8SPSMDB-739: standardize `expose` sections
  config/crd/bases/psmdb.percona.com_perconaservermongodbs.yaml
  deploy/bundle.yaml
  deploy/cr.yaml
  deploy/crd.yaml
  deploy/cw-bundle.yaml
  e2e-tests/arbiter/conf/arbiter-clusterip-rs0.yml
  e2e-tests/balancer/conf/some-name-rs0.yml
  e2e-tests/cross-site-sharded/conf/cross-site-sharded-main.yml
  e2e-tests/cross-site-sharded/conf/cross-site-sharded-replica.yml
  e2e-tests/cross-site-sharded/run
  e2e-tests/custom-replset-name/conf/some-name.yml
  e2e-tests/custom-tls/conf/some-name.yml
  e2e-tests/data-at-rest-encryption/conf/some-name-unencrypted.yml
  e2e-tests/data-at-rest-encryption/conf/some-name.yml
  e2e-tests/data-sharded/conf/some-name.yml
  e2e-tests/demand-backup-physical-sharded/conf/some-name-sharded.yml
  e2e-tests/demand-backup-physical/conf/some-name-arbiter-nv.yml
  e2e-tests/demand-backup-physical/conf/some-name.yml
  e2e-tests/demand-backup-sharded/conf/some-name-rs0.yml
  e2e-tests/demand-backup/conf/some-name-rs0.yml
  e2e-tests/expose-sharded/conf/some-name-rs0.yml
  e2e-tests/expose-sharded/run
  e2e-tests/finalizer/conf/some-name.yml
  e2e-tests/ignore-labels-annotations/conf/some-name.yml
  e2e-tests/ignore-labels-annotations/run
  e2e-tests/ldap-tls/conf/some-name-sharded.yml
  e2e-tests/ldap/conf/some-name-sharded.yml
  e2e-tests/mongod-major-upgrade-sharded/conf/some-name.yml
  e2e-tests/mongod-major-upgrade/conf/some-name-rs0.yml
  e2e-tests/monitoring-2-0/conf/monitoring-rs0.yml
  e2e-tests/multi-cluster-service/conf/some-name.yml
  e2e-tests/one-pod/conf/one-pod-rs0.yml
  e2e-tests/pitr-physical/conf/some-name-rs0.yml
  e2e-tests/pitr-sharded/conf/eks-some-name-rs0.yml
  e2e-tests/pitr-sharded/conf/some-name-rs0.yml
  e2e-tests/recover-no-primary/conf/some-name-exposed.yml
  e2e-tests/recover-no-primary/conf/some-name-sharded.yml
  e2e-tests/recover-no-primary/conf/some-name.yml
  e2e-tests/recover-no-primary/run
  e2e-tests/scaling/run
  e2e-tests/service-per-pod/conf/cluster-ip-rs0.yml
  e2e-tests/service-per-pod/conf/local-balancer-rs0.yml
  e2e-tests/service-per-pod/conf/node-port-rs0.yml
  e2e-tests/service-per-pod/run
  e2e-tests/serviceless-external-nodes/conf/external.yml
  e2e-tests/serviceless-external-nodes/conf/main.yml
  e2e-tests/split-horizon/conf/some-name-3horizons.yml
  e2e-tests/split-horizon/conf/some-name-5horizons.yml
  e2e-tests/split-horizon/conf/some-name.yml
  e2e-tests/tls-issue-cert-manager/conf/some-name.yml
  e2e-tests/upgrade-consistency-sharded-tls/conf/some-name.yml
  e2e-tests/version-service/conf/crd.yaml
  pkg/apis/psmdb/v1/psmdb_defaults.go
  pkg/apis/psmdb/v1/psmdb_types.go
  pkg/apis/psmdb/v1/zz_generated.deepcopy.go
  pkg/psmdb/mongos.go
  pkg/psmdb/service.go
Labels: size/XL

#1631 CLOUD-857: Add Helm Chart checkbox in PR template
  .github/pull_request_template.md
Labels: size/XS

#1652 K8SPSMDB-1113: add `percona.com/delete-pitr-chunks` finalizer
  deploy/cr.yaml
  pkg/controller/perconaservermongodb/finalizers.go
  pkg/controller/perconaservermongodbbackup/perconaservermongodbbackup_controller.go
  pkg/naming/naming.go
  pkg/psmdb/backup/fake/pbm.go
  pkg/psmdb/backup/pbm.go
Labels: size/L

#1650 K8SPSMDB-894: add support for partial restores
  config/crd/bases/psmdb.percona.com_perconaservermongodbrestores.yaml
  deploy/backup/restore.yaml
  deploy/bundle.yaml
  deploy/crd.yaml
  deploy/cw-bundle.yaml
  e2e-tests/demand-backup/run
  e2e-tests/pitr/conf/restore.yml
  e2e-tests/pitr/run
  e2e-tests/version-service/conf/crd.yaml
  pkg/apis/psmdb/v1/perconaservermongodbrestore_types.go
  pkg/apis/psmdb/v1/zz_generated.deepcopy.go
  pkg/controller/perconaservermongodbrestore/logical.go
  pkg/controller/perconaservermongodbrestore/perconaservermongodbrestore_controller.go
  pkg/controller/perconaservermongodbrestore/validate.go
Labels: size/L

#1655 K8SPSMDB-1160: disable pvc resizing by default
  config/crd/bases/psmdb.percona.com_perconaservermongodbs.yaml
  deploy/bundle.yaml
  deploy/cr.yaml
  deploy/crd.yaml
  deploy/cw-bundle.yaml
  e2e-tests/pvc-resize/run
  e2e-tests/version-service/conf/crd.yaml
  pkg/apis/psmdb/v1/psmdb_types.go
  pkg/controller/perconaservermongodb/statefulset.go
  pkg/controller/perconaservermongodb/volumes.go
Labels: size/L

#1629 K8SPSMDB-1002: add crd preferer primary node
  config/crd/bases/psmdb.percona.com_perconaservermongodbs.yaml
  deploy/bundle.yaml
  deploy/cr.yaml
  deploy/crd.yaml
  deploy/cw-bundle.yaml
  e2e-tests/version-service/conf/crd.yaml
  pkg/apis/psmdb/v1/psmdb_types.go
  pkg/apis/psmdb/v1/zz_generated.deepcopy.go
  pkg/controller/perconaservermongodb/mgo.go
  pkg/controller/perconaservermongodb/mgo_test.go
  pkg/psmdb/mongo/mongo.go
  pkg/psmdb/mongo/mongo_test.go
Labels: size/L, community

#1659 Revert "CLOUD-727: Bump k8s.io/client-go from 0.30.3 to 0.31.0"
  Makefile
  config/crd/bases/psmdb.percona.com_perconaservermongodbbackups.yaml
  config/crd/bases/psmdb.percona.com_perconaservermongodbrestores.yaml
  config/crd/bases/psmdb.percona.com_perconaservermongodbs.yaml
  deploy/bundle.yaml
  deploy/crd.yaml
  deploy/cw-bundle.yaml
  e2e-tests/version-service/conf/crd.yaml
  go.mod
  go.sum
Labels: size/XXL

#1640 K8SPSMDB-1140: Allow users to override hostnames in replset config
  config/crd/bases/psmdb.percona.com_perconaservermongodbs.yaml
  deploy/bundle.yaml
  deploy/cr.yaml
  deploy/crd.yaml
  deploy/cw-bundle.yaml
  e2e-tests/functions
  e2e-tests/replset-overrides/compare/find-2nd.json
  e2e-tests/replset-overrides/compare/find.json
  e2e-tests/replset-overrides/conf/backup-minio.yml
  e2e-tests/replset-overrides/conf/external-services.yml
  e2e-tests/replset-overrides/conf/restore.yml
  e2e-tests/replset-overrides/conf/some-name-overridden.yml
  e2e-tests/replset-overrides/conf/some-name.yml
  e2e-tests/replset-overrides/run
  e2e-tests/run-distro.csv
  e2e-tests/run-pr.csv
  e2e-tests/run-release.csv
  e2e-tests/version-service/conf/crd.yaml
  pkg/apis/psmdb/v1/psmdb_types.go
  pkg/apis/psmdb/v1/zz_generated.deepcopy.go
  pkg/controller/perconaservermongodb/connections.go
  pkg/controller/perconaservermongodb/connections_test.go
  pkg/controller/perconaservermongodb/custom_users.go
  pkg/controller/perconaservermongodb/fcv.go
  pkg/controller/perconaservermongodb/mgo.go
  pkg/controller/perconaservermongodb/psmdb_controller.go
  pkg/controller/perconaservermongodb/smart.go
  pkg/controller/perconaservermongodb/status.go
  pkg/controller/perconaservermongodb/users.go
  pkg/controller/perconaservermongodb/version.go
  pkg/psmdb/backup/pbm.go
  pkg/psmdb/client.go
  pkg/psmdb/mongo/fake/client.go
  pkg/psmdb/mongo/mongo.go
  pkg/psmdb/service.go
Labels: size/XXL

#1646 K8SPSMDB-1158: Upgrade PBM to v2.6.0
  deploy/cr.yaml
  e2e-tests/functions
  e2e-tests/pitr-physical/run
  go.mod
  go.sum
  pkg/controller/perconaservermongodb/backup.go
  pkg/controller/perconaservermongodb/testdata/reconcile-statefulset/cfg-arbiter.yaml
  pkg/controller/perconaservermongodb/testdata/reconcile-statefulset/cfg-mongod.yaml
  pkg/controller/perconaservermongodb/testdata/reconcile-statefulset/cfg-nv.yaml
  pkg/controller/perconaservermongodb/testdata/reconcile-statefulset/rs0-mongod.yaml
  pkg/controller/perconaservermongodb/testdata/reconcile-statefulset/rs0-nv.yaml
  pkg/controller/perconaservermongodbbackup/backup.go
  pkg/controller/perconaservermongodbbackup/perconaservermongodbbackup_controller.go
  pkg/controller/perconaservermongodbrestore/logical.go
  pkg/psmdb/backup/fake/pbm.go
  pkg/psmdb/backup/pbm.go
  pkg/psmdb/backup/testdata/cr-with-pbm-config.yaml
Labels: size/L

#1662 K8SPSMDB-1168: pbm: use unique names for downloaded certificates
  pkg/psmdb/backup/pbm.go
Labels: size/XS, community

#1660 CLOUD-727 update k8s.io/client-go
  Makefile
  config/crd/bases/psmdb.percona.com_perconaservermongodbbackups.yaml
  config/crd/bases/psmdb.percona.com_perconaservermongodbrestores.yaml
  config/crd/bases/psmdb.percona.com_perconaservermongodbs.yaml
  deploy/bundle.yaml
  deploy/crd.yaml
  deploy/cw-bundle.yaml
  e2e-tests/version-service/conf/crd.yaml
  go.mod
  go.sum
  pkg/psmdb/tls/certmanager.go
Labels: size/XXL

#1651 K8SPSMDB-1170: set error state on failed reconcile of replset
  pkg/controller/perconaservermongodb/psmdb_controller.go
Labels: size/XS
