Repository percona/percona-server-mongodb-operator, pull requests merged in 2024-11, with the labels that each got.

#1688 K8SPSMDB-1153 Update images and versions for 1.18.0 release
  deploy/bundle.yaml
  deploy/cr-minimal.yaml
  deploy/cr.yaml
  deploy/cw-bundle.yaml
  deploy/cw-operator.yaml
  deploy/operator.yaml
  pkg/controller/perconaservermongodb/testdata/reconcile-statefulset/cfg-arbiter.yaml
  pkg/controller/perconaservermongodb/testdata/reconcile-statefulset/cfg-mongod.yaml
  pkg/controller/perconaservermongodb/testdata/reconcile-statefulset/cfg-nv.yaml
  pkg/controller/perconaservermongodb/testdata/reconcile-statefulset/rs0-arbiter.yaml
  pkg/controller/perconaservermongodb/testdata/reconcile-statefulset/rs0-mongod.yaml
  pkg/controller/perconaservermongodb/testdata/reconcile-statefulset/rs0-nv.yaml
  pkg/psmdb/backup/testdata/cr-with-pbm-config.yaml
Labels: size/M

#1671 K8SPSMDB-1136 Add file with release versions
  e2e-tests/release_images
Labels: size/XS

#1695 K8SPSMDB-1124: Fix setting authenticationRestrictions
  pkg/psmdb/mongo/mongo.go
Labels: size/S

#1694 K8SPSMDB-1132: Fix cluster init if deployed with keyFile auth
  build/ps-entry.sh
Labels: size/S

#1702 K8SPSMDB-1124: Fix role update
  pkg/controller/perconaservermongodb/custom_users.go
  pkg/psmdb/mongo/mongo.go
Labels: size/M

#1704 K8SPSMDB-967: Initialize envtest
  .github/workflows/test.yml
  Makefile
  go.mod
  go.sum
  pkg/controller/perconaservermongodb/controller_test.go
  pkg/controller/perconaservermongodb/finalizers_test.go
  pkg/controller/perconaservermongodb/helpers_test.go
  pkg/controller/perconaservermongodb/statefulset_test.go
  pkg/controller/perconaservermongodb/suite_test.go
  pkg/controller/perconaservermongodb/testdata/reconcile-statefulset/cfg-arbiter.yaml
  pkg/controller/perconaservermongodb/testdata/reconcile-statefulset/cfg-mongod.yaml
  pkg/controller/perconaservermongodb/testdata/reconcile-statefulset/cfg-nv.yaml
  pkg/controller/perconaservermongodb/testdata/reconcile-statefulset/rs0-arbiter.yaml
  pkg/controller/perconaservermongodb/testdata/reconcile-statefulset/rs0-mongod.yaml
  pkg/controller/perconaservermongodb/testdata/reconcile-statefulset/rs0-nv.yaml
Labels: size/L

#1703 CLOUD-868: Remove monitoring-2.0 from psmdb distro tests
  e2e-tests/run-distro.csv
Labels: size/XS

#1689 K8SPSMDB-1133: Allow overriding member priorities
  config/crd/bases/psmdb.percona.com_perconaservermongodbs.yaml
  deploy/bundle.yaml
  deploy/cr.yaml
  deploy/crd.yaml
  deploy/cw-bundle.yaml
  e2e-tests/replset-overrides/compare/priorities.json
  e2e-tests/replset-overrides/conf/some-name-override-priority.yml
  e2e-tests/replset-overrides/run
  e2e-tests/version-service/conf/crd.yaml
  pkg/apis/psmdb/v1/psmdb_types.go
  pkg/apis/psmdb/v1/zz_generated.deepcopy.go
  pkg/controller/perconaservermongodb/mgo.go
  pkg/psmdb/mongo/mongo.go
  pkg/psmdb/mongo/mongo_test.go
Labels: size/XL

#1705 K8SPSMDB-1180: Fix deleting old scheduled backups
  e2e-tests/functions
  e2e-tests/scheduled-backup/conf/some-name-rs0-2.yml
  e2e-tests/scheduled-backup/conf/some-name-rs0-3.yml
  e2e-tests/scheduled-backup/run
  pkg/controller/perconaservermongodb/backup.go
  pkg/psmdb/backup/pbm.go
Labels: size/M

#1701 K8SPSMDB-1199 Automate Kubernetes Providers versions provisioning for Jenkins jobs
  e2e-tests/release_versions
Labels: size/XS

#1707 K8SPSMDB-1140 Add TLS secrets examples to deploy/cr.yaml
  deploy/cr.yaml
Labels: size/XS

#1709 Wait for resync to finish after physical restore in tests
  e2e-tests/demand-backup-physical-sharded/run
  e2e-tests/demand-backup-physical/run
  e2e-tests/functions
Labels: size/S

#1682 K8SPSMDB-1109: Add filesystem storage support for backups/restores
  Makefile
  config/crd/bases/psmdb.percona.com_perconaservermongodbbackups.yaml
  config/crd/bases/psmdb.percona.com_perconaservermongodbrestores.yaml
  config/crd/bases/psmdb.percona.com_perconaservermongodbs.yaml
  deploy/bundle.yaml
  deploy/cr.yaml
  deploy/crd.yaml
  deploy/cw-bundle.yaml
  e2e-tests/demand-backup-fs/compare/find-2nd.json
  e2e-tests/demand-backup-fs/compare/find-3rd.json
  e2e-tests/demand-backup-fs/compare/find-4th.json
  e2e-tests/demand-backup-fs/compare/find-5th.json
  e2e-tests/demand-backup-fs/compare/find.json
  e2e-tests/demand-backup-fs/compare/statefulset_some-name-rs0.yml
  e2e-tests/demand-backup-fs/conf/backup-nfs.yml
  e2e-tests/demand-backup-fs/conf/nfs-server.yaml
  e2e-tests/demand-backup-fs/conf/pitr.yml
  e2e-tests/demand-backup-fs/conf/restore.yml
  e2e-tests/demand-backup-fs/conf/some-name.yaml
  e2e-tests/demand-backup-fs/run
  e2e-tests/functions
  e2e-tests/run-pr.csv
  e2e-tests/run-release.csv
  e2e-tests/version-service/conf/crd.yaml
  pkg/apis/psmdb/v1/perconaservermongodbbackup_types.go
  pkg/apis/psmdb/v1/perconaservermongodbrestore_types.go
  pkg/apis/psmdb/v1/psmdb_types.go
  pkg/apis/psmdb/v1/zz_generated.deepcopy.go
  pkg/controller/perconaservermongodb/backup.go
  pkg/controller/perconaservermongodb/users.go
  pkg/controller/perconaservermongodbbackup/backup.go
  pkg/controller/perconaservermongodbbackup/perconaservermongodbbackup_controller.go
  pkg/controller/perconaservermongodbrestore/logical.go
  pkg/controller/perconaservermongodbrestore/perconaservermongodbrestore_controller.go
  pkg/controller/perconaservermongodbrestore/physical.go
  pkg/controller/perconaservermongodbrestore/validate.go
  pkg/naming/naming.go
  pkg/psmdb/backup/pbm.go
  pkg/psmdb/statefulset.go
Labels: size/XXL

#1714 Release 1.18.0 push test
  e2e-tests/data-at-rest-encryption/run
  e2e-tests/demand-backup-physical-sharded/run
  e2e-tests/demand-backup-physical/run
  e2e-tests/pvc-resize/run
  e2e-tests/serviceless-external-nodes/compare/statefulset_mydb-rs0-oc.yml
  e2e-tests/serviceless-external-nodes/run
Labels: size/L

#1673 K8SPSMDB-1215: fix ExternalTrafficPolicy for different service types
  deploy/cr.yaml
  e2e-tests/service-per-pod/compare/service_local-balancer-rs0-0.yml
  e2e-tests/service-per-pod/compare/service_node-port-rs0-0-updated.yml
  e2e-tests/service-per-pod/compare/service_node-port-rs0-0.yml
  pkg/psmdb/mongos.go
  pkg/psmdb/service.go
  version/version.go
Labels: size/S, community

#1719 Update CODEOWNERS
  .github/CODEOWNERS
Labels: size/XS

#1718 K8SPSMDB-1160 Disable PVC resize in the cr.yaml example
  deploy/cr.yaml
Labels: size/XS

#1708 K8SPSMDB-1156: simplify smartUpdate if rs isn't initialized
  pkg/controller/perconaservermongodb/smart.go
Labels: size/M

#1715 K8SPSMDB-1205: Allow backups in unmanaged clusters
  e2e-tests/cross-site-sharded/run
  pkg/apis/psmdb/v1/psmdb_defaults.go
  pkg/apis/psmdb/v1/psmdb_types.go
  pkg/controller/perconaservermongodbbackup/backup.go
  pkg/controller/perconaservermongodbrestore/perconaservermongodbrestore_controller.go
  pkg/psmdb/backup/pbm.go
Labels: size/M

#1717 K8SPSMDB-1179 make externalTrafficPolicy configurable
  deploy/cr.yaml
  pkg/psmdb/mongos.go
  pkg/psmdb/service.go
Labels: size/M

#1683 K8SPSMDB-754 update logs level
  pkg/apis/psmdb/v1/psmdb_types.go
  pkg/controller/perconaservermongodb/finalizers.go
  pkg/controller/perconaservermongodb/users.go
  pkg/psmdb/tls/certmanager.go
Labels: size/S

#1730 Update README.md
  README.md
Labels: size/XS

#1692 K8SPSMDB-1075 use controller runtime builder
  pkg/controller/perconaservermongodb/psmdb_controller.go
  pkg/controller/perconaservermongodbbackup/perconaservermongodbbackup_controller.go
  pkg/controller/perconaservermongodbrestore/perconaservermongodbrestore_controller.go
Labels: size/L
