Repository percona/percona-server-mongodb-operator, pull requests merged in 2024-01, with the labels that each got.

#1408 CLOUD-727 we can set day only for weekly interval
  .github/dependabot.yml
Labels: size/XS

#1399 cloud-828 Update 1-feature-request.yml
  .github/ISSUE_TEMPLATE/1-feature-request.yml
Labels: size/XS

#1382 K8SPSMDB-1018: fix incorrect Bash quoting in ps-entry.sh script
  build/ps-entry.sh
Labels: size/S, community

#1412 K8SPSMDB-1018 - Fix upgrade-consistency test to work with new image
  e2e-tests/functions
  e2e-tests/upgrade-consistency-sharded/compare/statefulset_some-name-cfg-1160-oc.yml
  e2e-tests/upgrade-consistency-sharded/compare/statefulset_some-name-cfg-1160.yml
  e2e-tests/upgrade-consistency-sharded/compare/statefulset_some-name-rs0-1160-oc.yml
  e2e-tests/upgrade-consistency-sharded/compare/statefulset_some-name-rs0-1160.yml
  e2e-tests/upgrade-consistency-sharded/conf/some-name.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-rs0-1160-oc.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-rs0-1160.yml
  e2e-tests/upgrade-consistency/conf/some-name-rs0.yml
Labels: size/S

#1415 K8SPSMDB-1033 - Change operator container port for metrics to 8080
  config/crd/bases/psmdb.percona.com_perconaservermongodbs.yaml
  deploy/bundle.yaml
  deploy/crd.yaml
  deploy/cw-bundle.yaml
  deploy/cw-operator.yaml
  deploy/operator.yaml
  e2e-tests/version-service/conf/crd.yaml
Labels: size/XXL

#1356 K8SPSMDB-948: Multi arch build
  .github/workflows/reviewdog.yml
  .github/workflows/scan.yml
  .github/workflows/test.yml
  Jenkinsfile
  build/Dockerfile
  e2e-tests/build
Labels: size/M, community

#1424 CLOUD-820 Update README to mention documentation
  README.md
Labels: size/M

#1418 CLOUD-835: Add action to check if manifests are up-to-date
  .github/pull_request_template.md
  .github/workflows/reviewdog.yml
Labels: size/S

#1377 K8SPSMDB-1035: Allow empty secretName for backup jobs
  pkg/controller/perconaservermongodb/backup.go
Labels: size/S, community

#1426 K8SPSMDB-1035 test case for PR1377
  e2e-tests/pitr-sharded/conf/backup-aws-s3.yml
  e2e-tests/pitr-sharded/conf/eks-some-name-rs0.yml
  e2e-tests/pitr-sharded/run
Labels: size/L
