Repository percona/percona-server-mongodb-operator, pull requests merged in 2024-08, with the labels that each got.

#1612 K8SPSMDB-1117: Fix converting to volume size to GiB
  e2e-tests/pvc-resize/compare/statefulset_some-name-rs0-oc.yml
  e2e-tests/pvc-resize/compare/statefulset_some-name-rs0.yml
  e2e-tests/pvc-resize/conf/some-name-eks.yml
  e2e-tests/pvc-resize/conf/some-name.yml
  e2e-tests/pvc-resize/run
  pkg/controller/perconaservermongodb/volumes.go
Labels: size/M

#1587 K8SPSMDB-934: add more logs to `mongodb-healthcheck`
  cmd/mongodb-healthcheck/db/config.go
  cmd/mongodb-healthcheck/db/db.go
  cmd/mongodb-healthcheck/db/ssl.go
  cmd/mongodb-healthcheck/db/ssl_test.go
  cmd/mongodb-healthcheck/healthcheck/health.go
  cmd/mongodb-healthcheck/healthcheck/readiness.go
  cmd/mongodb-healthcheck/main.go
  cmd/mongodb-healthcheck/tool/config.go
  cmd/mongodb-healthcheck/tool/env.go
  cmd/mongodb-healthcheck/tool/tool.go
  cmd/mongodb-healthcheck/tool/version.go
  e2e-tests/functions
  e2e-tests/liveness/run
  e2e-tests/pvc-resize/run
  go.mod
  go.sum
  healthcheck/healthcheck.go
  healthcheck/pkg/default.go
  healthcheck/pkg/env.go
  healthcheck/pkg/pod/k8s/pods.go
  healthcheck/pkg/pod/k8s/task.go
  healthcheck/pkg/pod/mocks/Source.go
  healthcheck/pkg/pod/mocks/Task.go
  healthcheck/pkg/pod/mocks/TaskState.go
  healthcheck/pkg/pod/pod.go
  healthcheck/pkg/pod/task.go
  healthcheck/tools/testutils/testing.go
  healthcheck/tools/tool/tool.go
  healthcheck/version.go
  pkg/psmdb/mongo/mongo.go
Labels: size/XXL

#1605 K8SPSMDB-919: validation before restore
  pkg/apis/psmdb/v1/psmdb_types.go
  pkg/controller/perconaservermongodb/backup.go
  pkg/controller/perconaservermongodbrestore/helpers_test.go
  pkg/controller/perconaservermongodbrestore/logical.go
  pkg/controller/perconaservermongodbrestore/perconaservermongodbrestore_controller.go
  pkg/controller/perconaservermongodbrestore/physical.go
  pkg/controller/perconaservermongodbrestore/validate.go
  pkg/controller/perconaservermongodbrestore/validate_test.go
  pkg/psmdb/backup/fake/pbm.go
  pkg/psmdb/backup/pbm.go
Labels: size/XL

#1617 K8SPSMDB-1098: Update images for 1.17.0 release
  deploy/bundle.yaml
  deploy/cr-minimal.yaml
  deploy/cr.yaml
  deploy/cw-bundle.yaml
  deploy/cw-operator.yaml
  deploy/operator.yaml
  e2e-tests/functions
  go.mod
Labels: size/S

#1626 K8SPSMDB-1098 fix demand-backup-physical-sharded test
  e2e-tests/demand-backup-physical-sharded/run
Labels: size/XS

#1627 K8SPSMDB-1098 fix tls-issue-cert-manager test
  e2e-tests/functions
  e2e-tests/liveness/run
  e2e-tests/tls-issue-cert-manager/compare/statefulset_some-name-cfg-tls-disabled-oc.yml
  e2e-tests/tls-issue-cert-manager/compare/statefulset_some-name-cfg-tls-disabled.yml
  e2e-tests/tls-issue-cert-manager/compare/statefulset_some-name-mongos-tls-disabled-oc.yml
  e2e-tests/tls-issue-cert-manager/compare/statefulset_some-name-mongos-tls-disabled.yml
  e2e-tests/tls-issue-cert-manager/compare/statefulset_some-name-rs0-tls-disabled-oc.yml
  e2e-tests/tls-issue-cert-manager/compare/statefulset_some-name-rs0-tls-disabled.yml
  e2e-tests/tls-issue-cert-manager/run
Labels: size/S

#1630 K8SPSMDB-1089: fix deleting cluster with wrong options
  pkg/controller/perconaservermongodb/psmdb_controller.go
Labels: size/S

#1632 K8SPSMDB-899: add missing labels to secrets
  pkg/controller/perconaservermongodb/psmdb_controller.go
Labels: size/XS
