Repository percona/percona-server-mongodb-operator, pull requests merged in 2024-07, with the labels that each got.

#1583 K8SPSMDB-1105 change defult resource value for pbm-agent
  Jenkinsfile
  deploy/cr.yaml
  e2e-tests/functions
Labels: size/XS

#1588 K8SPSMDB-1117: Improve PVC resizing
  pkg/apis/psmdb/v1/psmdb_types.go
  pkg/controller/perconaservermongodb/volumes.go
Labels: size/L

#1589 K8SPSMDB-1089: ignore finalizers on errors when `.status.state="Error"`
  pkg/controller/perconaservermongodb/finalizers.go
  pkg/controller/perconaservermongodb/finalizers_test.go
  pkg/controller/perconaservermongodb/helpers_test.go
Labels: size/L

#1595 K8SPSMDB-1120 Update images and versions for 1.16.2 release
  Jenkinsfile
  deploy/bundle.yaml
  deploy/cr-minimal.yaml
  deploy/cr.yaml
  deploy/cw-bundle.yaml
  deploy/cw-operator.yaml
  deploy/operator.yaml
  version/version.go
Labels: size/S

#1592 K8SPSMDB-1110 fix panic if annotations are nil
  pkg/controller/perconaservermongodb/smart.go
Labels: size/XS

#1594 K8SPSMDB-1119: Bump PBM to v2.5.0
  go.mod
  go.sum
  pkg/psmdb/backup/pbm.go
Labels: size/S

#1599 K8SPSMDB-1117: Fix pvc-resize test on EKS
  e2e-tests/pvc-resize/run
  pkg/controller/perconaservermongodb/status.go
Labels: size/S

#1598 K8SPSMDB-1094: Check FCV
  pkg/controller/perconaservermongodb/psmdb_controller.go
Labels: size/XS

#1600 K8SPSMDB-925: Use ClusterIP as host for internal mongos client
  pkg/controller/perconaservermongodb/status.go
  pkg/psmdb/client.go
  pkg/psmdb/service.go
Labels: size/M

#1586 K8SPSMDB-994: Allow creating cluster with split-horizon configured
  e2e-tests/functions
  e2e-tests/split-horizon/conf/some-name.yml
  e2e-tests/split-horizon/run
  pkg/controller/perconaservermongodb/mgo.go
Labels: size/M

#1585 K8SPSMDB-899: add labels to all objects
  .github/workflows/reviewdog.yml
  e2e-tests/tls-issue-cert-manager/compare/certificate_some-name-ssl-internal.yml
  e2e-tests/tls-issue-cert-manager/compare/certificate_some-name-ssl.yml
  e2e-tests/tls-issue-cert-manager/compare/issuer_some-name-psmdb-ca-issuer.yml
  e2e-tests/tls-issue-cert-manager/compare/issuer_some-name-psmdb-issuer.yml
  pkg/apis/psmdb/v1/psmdb_types.go
  pkg/controller/perconaservermongodb/backup.go
  pkg/controller/perconaservermongodb/connections_test.go
  pkg/controller/perconaservermongodb/external_service.go
  pkg/controller/perconaservermongodb/finalizers_test.go
  pkg/controller/perconaservermongodb/getters.go
  pkg/controller/perconaservermongodb/mgo.go
  pkg/controller/perconaservermongodb/psmdb_controller.go
  pkg/controller/perconaservermongodb/secrets.go
  pkg/controller/perconaservermongodb/smart.go
  pkg/controller/perconaservermongodb/ssl.go
  pkg/controller/perconaservermongodb/statefulset.go
  pkg/controller/perconaservermongodb/statefulset_test.go
  pkg/controller/perconaservermongodb/status.go
  pkg/controller/perconaservermongodb/users.go
  pkg/controller/perconaservermongodb/volumes.go
  pkg/controller/perconaservermongodbrestore/physical.go
  pkg/naming/labels.go
  pkg/naming/naming.go
  pkg/psmdb/backup/job.go
  pkg/psmdb/getters.go
  pkg/psmdb/mongos.go
  pkg/psmdb/pdb.go
  pkg/psmdb/service.go
  pkg/psmdb/statefulset.go
  pkg/psmdb/tls/certmanager.go
Labels: size/XL

#1604 K8SPSMDB-1092: Print pbm-agent logs in physical restores
  build/physical-restore-ps-entry.sh
Labels: size/XS

#1597 K8SPSMDB add security context for pmm container
  config/crd/bases/psmdb.percona.com_perconaservermongodbs.yaml
  deploy/bundle.yaml
  deploy/cr.yaml
  deploy/crd.yaml
  deploy/cw-bundle.yaml
  e2e-tests/functions
  e2e-tests/tls-issue-cert-manager/run
  e2e-tests/version-service/conf/crd.yaml
  pkg/apis/psmdb/v1/psmdb_defaults.go
  pkg/apis/psmdb/v1/psmdb_types.go
  pkg/apis/psmdb/v1/zz_generated.deepcopy.go
  pkg/psmdb/pmm.go
Labels: size/L

#1606 K8SPSMDB-1120 Release 1.16.2
  deploy/bundle.yaml
  deploy/cr-minimal.yaml
  deploy/cr.yaml
  deploy/cw-bundle.yaml
  deploy/cw-operator.yaml
  deploy/operator.yaml
  version/version.go
Labels: size/S

#1609 K8SPSMDB-1120 new version code preparations in main branch for the next release
  deploy/bundle.yaml
  deploy/cr-minimal.yaml
  deploy/cr.yaml
  deploy/cw-bundle.yaml
  deploy/cw-operator.yaml
  deploy/operator.yaml
  version/version.go
Labels: size/S

#1590 K8SPSMDB-1057 update finalizer
  deploy/backup/backup.yaml
  deploy/cr.yaml
  e2e-tests/demand-backup-eks-credentials/conf/backup-aws-s3.yml
  e2e-tests/demand-backup-physical-sharded/conf/backup.yml
  e2e-tests/demand-backup-physical/conf/backup.yml
  e2e-tests/demand-backup-physical/conf/some-name-arbiter-nv.yml
  e2e-tests/demand-backup-physical/conf/some-name.yml
  e2e-tests/demand-backup-sharded/conf/backup-aws-s3.yml
  e2e-tests/demand-backup-sharded/conf/backup-azure-blob.yml
  e2e-tests/demand-backup-sharded/conf/backup-gcp-cs.yml
  e2e-tests/demand-backup-sharded/conf/backup-minio.yml
  e2e-tests/demand-backup/conf/backup-aws-s3.yml
  e2e-tests/demand-backup/conf/backup-azure-blob.yml
  e2e-tests/demand-backup/conf/backup-gcp-cs.yml
  e2e-tests/demand-backup/conf/backup-minio.yml
  e2e-tests/finalizer/conf/some-name.yml
  e2e-tests/pitr/conf/backup-minio.yml
  e2e-tests/pvc-resize/conf/some-name-eks.yml
  e2e-tests/pvc-resize/conf/some-name.yml
  e2e-tests/upgrade-consistency-sharded-tls/conf/some-name.yml
  e2e-tests/version-service/conf/version-service-exact-rs0.yml
  e2e-tests/version-service/conf/version-service-latest-rs0.yml
  e2e-tests/version-service/conf/version-service-major-rs0.yml
  e2e-tests/version-service/conf/version-service-recommended-rs0.yml
  e2e-tests/version-service/conf/version-service-unreachable-rs0.yml
  e2e-tests/version-service/run
  pkg/apis/psmdb/v1/psmdb_types.go
  pkg/controller/perconaservermongodb/finalizers.go
  pkg/controller/perconaservermongodb/finalizers_test.go
  pkg/controller/perconaservermongodb/psmdb_controller.go
  pkg/controller/perconaservermongodbbackup/perconaservermongodbbackup_controller.go
  pkg/naming/naming.go
  pkg/psmdb/backup/job.go
Labels: size/L

#1610 K8SPSMDB-1120 Update upgrade-consistency test for 1.16.2 release
  e2e-tests/upgrade-consistency/compare/service_some-name-rs0-1162.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-rs0-1162-oc.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-rs0-1162.yml
  e2e-tests/upgrade-consistency/run
Labels: size/XS
