Repository percona/percona-server-mongodb-operator, pull requests merged in 2024-03, with the labels that each got.

#1453 K8SPSMDB-999 deprecate SA for backup
  deploy/cr.yaml
  pkg/apis/psmdb/v1/psmdb_defaults.go
Labels: size/XS

#1454 K8SPSMDB-940 add SA to mongos
  e2e-tests/demand-backup-sharded/compare/statefulset_some-name-mongos-4-oc.yml
  e2e-tests/demand-backup-sharded/compare/statefulset_some-name-mongos-oc.yml
  e2e-tests/demand-backup-sharded/compare/statefulset_some-name-mongos-secret-oc.yml
  e2e-tests/demand-backup-sharded/compare/statefulset_some-name-mongos-secret.yml
  e2e-tests/demand-backup-sharded/compare/statefulset_some-name-mongos.yml
  e2e-tests/expose-sharded/compare/statefulset_some-name-mongos-4-oc.yml
  e2e-tests/expose-sharded/compare/statefulset_some-name-mongos-oc.yml
  e2e-tests/expose-sharded/compare/statefulset_some-name-mongos.yml
  e2e-tests/monitoring-2-0/compare/statefulset_monitoring-mongos-oc.yml
  e2e-tests/monitoring-2-0/compare/statefulset_monitoring-mongos.yml
  e2e-tests/pitr-sharded/compare/statefulset_some-name-mongos-oc.yml
  e2e-tests/pitr-sharded/compare/statefulset_some-name-mongos.yml
  e2e-tests/upgrade-sharded/run
  pkg/apis/psmdb/v1/psmdb_defaults.go
  pkg/psmdb/mongos.go
Labels: size/M

#1468 K8SPSMDB-1011: Fix broken username change
  e2e-tests/users/run
  healthcheck/tools/db/config.go
Labels: size/M

#1462 K8SPSMDB-948 Multi arch build improvements
  build/Dockerfile
Labels: size/S, community

#1448 K8SPSMDB-1004: Configurable split horizon port
  pkg/controller/perconaservermongodb/mgo.go
  pkg/psmdb/pmm.go
Labels: size/XS

#1477 K8SPSMDB-948 by default build only 'linux/amd64' arch
  e2e-tests/build
Labels: size/S

#1355 K8SPSMDB-996: fix `mongodb-healthcheck` logs
  cmd/mongodb-healthcheck/main.go
  go.mod
  go.sum
  healthcheck/tools/command/command.go
  healthcheck/tools/db/db.go
  healthcheck/tools/db/ssl.go
  healthcheck/tools/util.go
Labels: size/L

#1485 K8SPSMDB-1051: Bump PBM version to 2.4.0
  Jenkinsfile
  e2e-tests/functions
  e2e-tests/pitr-physical/run
  go.mod
  go.sum
  pkg/apis/psmdb/v1/perconaservermongodbbackup_types.go
  pkg/apis/psmdb/v1/psmdb_types.go
  pkg/controller/perconaservermongodb/backup.go
  pkg/controller/perconaservermongodb/version.go
  pkg/controller/perconaservermongodb/version_test.go
  pkg/controller/perconaservermongodbbackup/backup.go
  pkg/controller/perconaservermongodbbackup/perconaservermongodbbackup_controller.go
  pkg/controller/perconaservermongodbrestore/logical.go
  pkg/controller/perconaservermongodbrestore/perconaservermongodbrestore_controller.go
  pkg/controller/perconaservermongodbrestore/physical.go
  pkg/psmdb/backup/backup.go
  pkg/psmdb/backup/fake/pbm.go
  pkg/psmdb/backup/job.go
  pkg/psmdb/backup/pbm.go
Labels: size/XL

#1484 K8SPSMDB-1050 change labels which were depricated
  pkg/apis/psmdb/v1/psmdb_defaults.go
Labels: size/S

#1467 K8SPSMDB-1038: don't delete mongos svc on pause
  e2e-tests/monitoring-2-0/run
  pkg/controller/perconaservermongodb/psmdb_controller.go
Labels: size/S

#1488 [K8SPSMDB-1000 add endpoint for Azure
  config/crd/bases/psmdb.percona.com_perconaservermongodbbackups.yaml
  config/crd/bases/psmdb.percona.com_perconaservermongodbrestores.yaml
  config/crd/bases/psmdb.percona.com_perconaservermongodbs.yaml
  deploy/bundle.yaml
  deploy/cr.yaml
  deploy/crd.yaml
  deploy/cw-bundle.yaml
  e2e-tests/demand-backup/conf/some-name-rs0.yml
  e2e-tests/demand-backup/run
  e2e-tests/version-service/conf/crd.yaml
  go.mod
  go.sum
  pkg/apis/psmdb/v1/psmdb_types.go
  pkg/controller/perconaservermongodbbackup/backup.go
  pkg/controller/perconaservermongodbbackup/perconaservermongodbbackup_controller.go
  pkg/psmdb/backup/pbm.go
Labels: size/M

#1480 K8SPSMDB-732: add TLS support for LDAP
  Makefile
  build/ps-entry.sh
  config/crd/bases/psmdb.percona.com_perconaservermongodbbackups.yaml
  config/crd/bases/psmdb.percona.com_perconaservermongodbrestores.yaml
  config/crd/bases/psmdb.percona.com_perconaservermongodbs.yaml
  deploy/bundle.yaml
  deploy/cr.yaml
  deploy/crd.yaml
  deploy/cw-bundle.yaml
  e2e-tests/arbiter/run
  e2e-tests/data-sharded/run
  e2e-tests/ldap-tls/compare/authInfo.json
  e2e-tests/ldap-tls/conf/mongod.conf
  e2e-tests/ldap-tls/conf/mongos.conf
  e2e-tests/ldap-tls/conf/openldap.yaml
  e2e-tests/ldap-tls/conf/some-name-sharded.yml
  e2e-tests/ldap-tls/conf/some-name.yml
  e2e-tests/ldap-tls/run
  e2e-tests/ldap/compare/authInfo.json
  e2e-tests/ldap/conf/mongod.conf
  e2e-tests/ldap/conf/mongos.conf
  e2e-tests/ldap/conf/openldap.yaml
  e2e-tests/ldap/conf/some-name-sharded.yml
  e2e-tests/ldap/conf/some-name.yml
  e2e-tests/ldap/run
  e2e-tests/monitoring-2-0/run
  e2e-tests/non-voting/run
  e2e-tests/run-distro.csv
  e2e-tests/run-minikube.csv
  e2e-tests/run-pr.csv
  e2e-tests/run-release.csv
  e2e-tests/service-per-pod/run
  e2e-tests/storage/run
  e2e-tests/upgrade-sharded/run
  e2e-tests/version-service/conf/crd.yaml
  pkg/apis/psmdb/v1/psmdb_defaults.go
  pkg/apis/psmdb/v1/psmdb_types.go
  pkg/apis/psmdb/v1/zz_generated.deepcopy.go
  pkg/controller/perconaservermongodb/psmdb_controller.go
  pkg/controller/perconaservermongodb/users.go
  pkg/psmdb/const.go
  pkg/psmdb/container.go
  pkg/psmdb/mongo/fake/client.go
  pkg/psmdb/mongos.go
Labels: size/XXL

#1489 K8SPSMDB-1058: add `find` privilege to `system.version`
  e2e-tests/init-deploy/compare/clusterMonitor-50.json
  e2e-tests/init-deploy/compare/clusterMonitor-60.json
  e2e-tests/init-deploy/compare/clusterMonitor.json
  pkg/controller/perconaservermongodb/mgo.go
Labels: size/M

#1479 K8SPSMDB-491: Support existing cert-manager issuer
  config/crd/bases/psmdb.percona.com_perconaservermongodbs.yaml
  deploy/bundle.yaml
  deploy/cr.yaml
  deploy/crd.yaml
  deploy/cw-bundle.yaml
  e2e-tests/version-service/conf/crd.yaml
  pkg/apis/psmdb/v1/psmdb_types.go
  pkg/apis/psmdb/v1/zz_generated.deepcopy.go
  pkg/psmdb/tls/certmanager.go
  pkg/psmdb/tls/certmanager_test.go
Labels: size/L

#1384 K8SPSMDB-1014: add `upgrade-consistency-sharded-tls` test
  e2e-tests/functions
  e2e-tests/run-minikube.csv
  e2e-tests/run-pr.csv
  e2e-tests/run-release.csv
  e2e-tests/tls-issue-cert-manager/run
  e2e-tests/upgrade-consistency-sharded-tls/compare/service_some-name-cfg-1140.yml
  e2e-tests/upgrade-consistency-sharded-tls/compare/service_some-name-cfg-1150.yml
  e2e-tests/upgrade-consistency-sharded-tls/compare/service_some-name-cfg-1160.yml
  e2e-tests/upgrade-consistency-sharded-tls/compare/service_some-name-rs0-1130.yml
  e2e-tests/upgrade-consistency-sharded-tls/compare/service_some-name-rs0-1140.yml
  e2e-tests/upgrade-consistency-sharded-tls/compare/service_some-name-rs0-1150.yml
  e2e-tests/upgrade-consistency-sharded-tls/compare/service_some-name-rs0-1160.yml
  e2e-tests/upgrade-consistency-sharded-tls/compare/statefulset_some-name-cfg-1140-oc.yml
  e2e-tests/upgrade-consistency-sharded-tls/compare/statefulset_some-name-cfg-1140.yml
  e2e-tests/upgrade-consistency-sharded-tls/compare/statefulset_some-name-cfg-1150-oc.yml
  e2e-tests/upgrade-consistency-sharded-tls/compare/statefulset_some-name-cfg-1150.yml
  e2e-tests/upgrade-consistency-sharded-tls/compare/statefulset_some-name-cfg-1160-oc.yml
  e2e-tests/upgrade-consistency-sharded-tls/compare/statefulset_some-name-cfg-1160.yml
  e2e-tests/upgrade-consistency-sharded-tls/compare/statefulset_some-name-rs0-1140-oc.yml
  e2e-tests/upgrade-consistency-sharded-tls/compare/statefulset_some-name-rs0-1140.yml
  e2e-tests/upgrade-consistency-sharded-tls/compare/statefulset_some-name-rs0-1150-oc.yml
  e2e-tests/upgrade-consistency-sharded-tls/compare/statefulset_some-name-rs0-1150.yml
  e2e-tests/upgrade-consistency-sharded-tls/compare/statefulset_some-name-rs0-1160-oc.yml
  e2e-tests/upgrade-consistency-sharded-tls/compare/statefulset_some-name-rs0-1160.yml
  e2e-tests/upgrade-consistency-sharded-tls/conf/some-name.yml
  e2e-tests/upgrade-consistency-sharded-tls/run
  e2e-tests/upgrade-consistency-sharded/run
Labels: size/L

#1386 K8SPSMDB-1061: Refactor `reconcileStatefulSet`
  pkg/apis/psmdb/v1/psmdb_types.go
  pkg/controller/perconaservermongodb/helpers_test.go
  pkg/controller/perconaservermongodb/psmdb_controller.go
  pkg/controller/perconaservermongodb/statefulset.go
  pkg/controller/perconaservermongodb/statefulset_test.go
  pkg/controller/perconaservermongodb/status.go
  pkg/controller/perconaservermongodb/testdata/reconcile-statefulset/cfg-arbiter.yaml
  pkg/controller/perconaservermongodb/testdata/reconcile-statefulset/cfg-mongod.yaml
  pkg/controller/perconaservermongodb/testdata/reconcile-statefulset/cfg-nv.yaml
  pkg/controller/perconaservermongodb/testdata/reconcile-statefulset/rs0-arbiter.yaml
  pkg/controller/perconaservermongodb/testdata/reconcile-statefulset/rs0-mongod.yaml
  pkg/controller/perconaservermongodb/testdata/reconcile-statefulset/rs0-nv.yaml
  pkg/psmdb/backup/agent.go
  pkg/psmdb/backup/pbm.go
  pkg/psmdb/mongos.go
  pkg/psmdb/statefulset.go
Labels: size/XXL
