Repository percona/percona-server-mongodb-operator, pull requests merged in 2024-05, with the labels that each got.

#1540 K8SPSMDB-755: Fix tlsMode for mongos
  e2e-tests/conf/cmctl.yml
  e2e-tests/functions
  e2e-tests/tls-issue-cert-manager/compare/statefulset_some-name-cfg-tls-disabled.yml
  e2e-tests/tls-issue-cert-manager/compare/statefulset_some-name-cfg.yml
  e2e-tests/tls-issue-cert-manager/compare/statefulset_some-name-mongos-tls-disabled.yml
  e2e-tests/tls-issue-cert-manager/compare/statefulset_some-name-mongos.yml
  e2e-tests/tls-issue-cert-manager/compare/statefulset_some-name-rs0-tls-disabled.yml
  e2e-tests/tls-issue-cert-manager/compare/statefulset_some-name-rs0.yml
  e2e-tests/tls-issue-cert-manager/conf/some-name.yml
  e2e-tests/tls-issue-cert-manager/run
  pkg/controller/perconaservermongodb/status_test.go
  pkg/psmdb/mongos.go
Labels: size/XXL

#1544 K8SPSMDB-1082 - First delete non-voting/arbiter STS
  pkg/controller/perconaservermongodb/psmdb_controller.go
Labels: size/XS

#1543 K8SPSMDB-733: Improve failure detection for PVC resize
  deploy/bundle.yaml
  deploy/cw-bundle.yaml
  deploy/cw-rbac.yaml
  deploy/rbac.yaml
  e2e-tests/conf/client.yml
  e2e-tests/pvc-resize/conf/resourcequota.yml
  e2e-tests/pvc-resize/run
  pkg/apis/psmdb/v1/psmdb_types.go
  pkg/controller/perconaservermongodb/statefulset.go
  pkg/controller/perconaservermongodb/volumes.go
Labels: size/L

#1542 K8SPSMDB-1084 MongoDB connections leak in backup feature
  pkg/psmdb/backup/pbm.go
Labels: size/XS, community

#1545 K8SPSMDB-780: Fix upgrade from v1.15.0
  e2e-tests/init-deploy/compare/statefulset_another-name-rs0-4-oc.yml
  e2e-tests/init-deploy/compare/statefulset_another-name-rs0-oc.yml
  e2e-tests/init-deploy/compare/statefulset_another-name-rs0.yml
  e2e-tests/tls-issue-cert-manager/compare/statefulset_some-name-cfg-tls-disabled.yml
  e2e-tests/tls-issue-cert-manager/compare/statefulset_some-name-mongos-tls-disabled.yml
  e2e-tests/tls-issue-cert-manager/compare/statefulset_some-name-rs0-tls-disabled.yml
  pkg/apis/psmdb/v1/psmdb_defaults.go
  pkg/controller/perconaservermongodb/psmdb_controller.go
  pkg/controller/perconaservermongodb/ssl.go
  pkg/controller/perconaservermongodb/statefulset.go
  pkg/psmdb/container.go
  pkg/psmdb/mongos.go
Labels: size/M

#1546 K8SPSMDB-1083: Disable liveness probe during physical restore
  build/physical-restore-ps-entry.sh
Labels: size/XS

#1547 K8SPSMDB-998 Update images and versions for 1.16.0 release
  deploy/bundle.yaml
  deploy/cr-minimal.yaml
  deploy/cr.yaml
  deploy/cw-bundle.yaml
  deploy/cw-operator.yaml
  deploy/operator.yaml
  e2e-tests/functions
  pkg/controller/perconaservermongodb/testdata/reconcile-statefulset/cfg-arbiter.yaml
  pkg/controller/perconaservermongodb/testdata/reconcile-statefulset/cfg-mongod.yaml
  pkg/controller/perconaservermongodb/testdata/reconcile-statefulset/cfg-nv.yaml
  pkg/controller/perconaservermongodb/testdata/reconcile-statefulset/rs0-arbiter.yaml
  pkg/controller/perconaservermongodb/testdata/reconcile-statefulset/rs0-mongod.yaml
  pkg/controller/perconaservermongodb/testdata/reconcile-statefulset/rs0-nv.yaml
Labels: size/M

#1535 K8SPSMDB-1074 fixed MongoDB Cluster cannot failover when down time all pods using mode External (NodePort and LB) by chungtd
  e2e-tests/ignore-labels-annotations/compare/service_some-name-cfg-0-crmeta.yml
  e2e-tests/ignore-labels-annotations/compare/service_some-name-cfg-0-manual.yml
  e2e-tests/ignore-labels-annotations/compare/service_some-name-cfg-0-no-ignored-meta.yml
  e2e-tests/ignore-labels-annotations/compare/service_some-name-cfg-0-one-service-label-annotation.yml
  e2e-tests/ignore-labels-annotations/compare/service_some-name-cfg-0-two-service-labels-annotations.yml
  e2e-tests/ignore-labels-annotations/compare/service_some-name-rs0-0-crmeta.yml
  e2e-tests/ignore-labels-annotations/compare/service_some-name-rs0-0-manual.yml
  e2e-tests/ignore-labels-annotations/compare/service_some-name-rs0-0-no-ignored-meta.yml
  e2e-tests/ignore-labels-annotations/compare/service_some-name-rs0-0-one-service-label-annotation.yml
  e2e-tests/ignore-labels-annotations/compare/service_some-name-rs0-0-two-service-labels-annotations.yml
  e2e-tests/service-per-pod/compare/service_cluster-ip-rs0-0.yml
  e2e-tests/service-per-pod/compare/service_local-balancer-rs0-0.yml
  e2e-tests/service-per-pod/compare/service_node-port-rs0-0-updated.yml
  e2e-tests/service-per-pod/compare/service_node-port-rs0-0.yml
  pkg/psmdb/service.go
Labels: size/S, community

#1555 K8SPSMDB-1054: Fix isMaster output during physical restore
  pkg/controller/perconaservermongodbrestore/physical.go
Labels: size/M

#1561 K8SPSMDB-998 new version code preparations in main branch for the next version
  deploy/bundle.yaml
  deploy/cr-minimal.yaml
  deploy/cr.yaml
  deploy/cw-bundle.yaml
  deploy/cw-operator.yaml
  deploy/operator.yaml
  pkg/controller/perconaservermongodb/testdata/reconcile-statefulset/cfg-arbiter.yaml
  pkg/controller/perconaservermongodb/testdata/reconcile-statefulset/cfg-mongod.yaml
  pkg/controller/perconaservermongodb/testdata/reconcile-statefulset/cfg-nv.yaml
  pkg/controller/perconaservermongodb/testdata/reconcile-statefulset/rs0-arbiter.yaml
  pkg/controller/perconaservermongodb/testdata/reconcile-statefulset/rs0-mongod.yaml
  pkg/controller/perconaservermongodb/testdata/reconcile-statefulset/rs0-nv.yaml
  version/version.go
Labels: size/M
