Repository percona/percona-server-mongodb-operator, pull requests merged in 2024-12, with the labels that each got.

#1720 K8SPSMDB-1088: Prevent duplicate backup commands
  pkg/controller/perconaservermongodbbackup/backup.go
  pkg/controller/perconaservermongodbbackup/perconaservermongodbbackup_controller.go
Labels: size/XS

#1753 K8SPSMDB-675: Fix constantly updated status conditions
  e2e-tests/expose-sharded/compare/statefulset_some-name-cfg-4-oc.yml
  e2e-tests/expose-sharded/compare/statefulset_some-name-cfg-oc.yml
  e2e-tests/expose-sharded/compare/statefulset_some-name-cfg.yml
  e2e-tests/expose-sharded/compare/statefulset_some-name-rs0-4-oc.yml
  e2e-tests/expose-sharded/compare/statefulset_some-name-rs0-oc.yml
  e2e-tests/expose-sharded/compare/statefulset_some-name-rs0-sharding-disabled-oc.yml
  e2e-tests/expose-sharded/compare/statefulset_some-name-rs0-sharding-disabled.yml
  e2e-tests/expose-sharded/compare/statefulset_some-name-rs0-sharding-enabled-oc.yml
  e2e-tests/expose-sharded/compare/statefulset_some-name-rs0-sharding-enabled.yml
  e2e-tests/expose-sharded/compare/statefulset_some-name-rs0.yml
  e2e-tests/run-pr.csv
  e2e-tests/run-release.csv
  e2e-tests/stable-resource-version/conf/some-name.yml
  e2e-tests/stable-resource-version/run
  pkg/apis/psmdb/v1/psmdb_types.go
  pkg/controller/perconaservermongodb/psmdb_controller.go
  pkg/controller/perconaservermongodb/version.go
Labels: size/L

#1747 CLOUD-727 bump go ver to 1.23
  .github/workflows/reviewdog.yml
  .github/workflows/test.yml
  Jenkinsfile
  build/Dockerfile
  go.mod
Labels: size/S

#1762 K8SPSMDB-1238: Bump PBM to 2.8.0
  go.mod
  go.sum
  pkg/controller/perconaservermongodbbackup/perconaservermongodbbackup_controller.go
  pkg/psmdb/backup/pbm.go
Labels: size/S

#1608 K8SPSMDB-1123 add psmdb 8.0 support
  e2e-tests/functions
  e2e-tests/init-deploy/compare/backup-80.json
  e2e-tests/init-deploy/compare/clusterAdmin-80.json
  e2e-tests/init-deploy/compare/clusterMonitor-80.json
  e2e-tests/init-deploy/compare/userAdmin-80.json
  e2e-tests/init-deploy/run
  pkg/controller/perconaservermongodb/version.go
Labels: size/XXL
