Repository percona/percona-server-mongodb-operator, pull requests merged in 2024-10, with the labels that each got.

#1665 K8SPSMDB-1146: Fix annotation key
  pkg/controller/perconaservermongodb/custom_users.go
Labels: size/S

#1639 K8SPSMDB-1132: add `spec.secrets.keyFile` field
  config/crd/bases/psmdb.percona.com_perconaservermongodbs.yaml
  deploy/bundle.yaml
  deploy/cr.yaml
  deploy/crd.yaml
  deploy/cw-bundle.yaml
  e2e-tests/serviceless-external-nodes/compare/statefulset_mydb-rs0.yml
  e2e-tests/serviceless-external-nodes/conf/external.yml
  e2e-tests/serviceless-external-nodes/conf/main.yml
  e2e-tests/serviceless-external-nodes/conf/secrets.yml
  e2e-tests/serviceless-external-nodes/run
  e2e-tests/version-service/conf/crd.yaml
  pkg/apis/psmdb/v1/psmdb_defaults.go
  pkg/apis/psmdb/v1/psmdb_types.go
  pkg/controller/perconaservermongodb/psmdb_controller.go
  pkg/psmdb/const.go
  pkg/psmdb/container.go
  pkg/psmdb/mongos.go
  pkg/psmdb/statefulset.go
Labels: size/L

#1666 K8SPSMDB-739: remove `loadBalancerIP`
  config/crd/bases/psmdb.percona.com_perconaservermongodbs.yaml
  deploy/bundle.yaml
  deploy/cr.yaml
  deploy/crd.yaml
  deploy/cw-bundle.yaml
  e2e-tests/version-service/conf/crd.yaml
  pkg/apis/psmdb/v1/psmdb_types.go
  pkg/psmdb/mongos.go
  pkg/psmdb/service.go
Labels: size/M

#1670 K8SPSMDB-1175: fix `clusterAuthMode`
  pkg/psmdb/container.go
  pkg/psmdb/mongos.go
Labels: size/XS

#1674 K8SPSMDB-739: fix switching `servicePerPod`
  deploy/cr.yaml
  pkg/controller/perconaservermongodb/psmdb_controller.go
  pkg/controller/perconaservermongodb/service.go
  pkg/controller/perconaservermongodbrestore/physical.go
Labels: size/L

#1676 K8SPSMDB-739: add test for mongos servicePerPod
  Jenkinsfile
  e2e-tests/balancer/run
Labels: size/M

#1680 K8SPSMDB-1170: set `error` state when pods are in `CrashLoopBackOff`
  Jenkinsfile
  pkg/apis/psmdb/v1/psmdb_defaults.go
  pkg/controller/perconaservermongodb/mgo.go
Labels: size/M

#1678 K8SPSMDB-1181 use Snyk for container scanning
  .github/workflows/scan.yml
Labels: size/M

#1672 K8SPSMDB-1177: Bump PBM to 2.7.0
  e2e-tests/conf/client_with_tls.yml
  e2e-tests/demand-backup-physical/run
  e2e-tests/functions
  e2e-tests/pitr-physical/run
  go.mod
  go.sum
  pkg/controller/perconaservermongodbbackup/perconaservermongodbbackup_controller.go
  pkg/controller/perconaservermongodbrestore/physical.go
  pkg/psmdb/backup/pbm.go
Labels: size/L

#1691 K8SPSMDB-1156: fix deletion of cluster with finalizers
  pkg/controller/perconaservermongodb/finalizers.go
Labels: size/S
