Repository percona/percona-server-mongodb-operator, pull requests merged in 2024-04, with the labels that each got.

#1486 K8SPSMDB-1055: add latest restorable time for PITR
  config/crd/bases/psmdb.percona.com_perconaservermongodbbackups.yaml
  config/crd/bases/psmdb.percona.com_perconaservermongodbrestores.yaml
  deploy/bundle.yaml
  deploy/crd.yaml
  deploy/cw-bundle.yaml
  e2e-tests/functions
  e2e-tests/pitr-physical/run
  e2e-tests/pitr-sharded/run
  e2e-tests/pitr/run
  e2e-tests/version-service/conf/crd.yaml
  pkg/apis/psmdb/v1/perconaservermongodbbackup_types.go
  pkg/apis/psmdb/v1/zz_generated.deepcopy.go
  pkg/controller/perconaservermongodb/backup.go
  pkg/controller/perconaservermongodbbackup/perconaservermongodbbackup_controller.go
  pkg/psmdb/backup/pbm.go
Labels: size/XL

#1494 PBM-1265: Fix pitr-physical
  e2e-tests/functions
  e2e-tests/pitr-physical/conf/some-name-rs0.yml
  e2e-tests/pitr-physical/run
Labels: size/S

#1392 K8SPSMDB-1032: Added possibility to specify nodeport for mongos expose
  config/crd/bases/psmdb.percona.com_perconaservermongodbs.yaml
  deploy/bundle.yaml
  deploy/cr.yaml
  deploy/crd.yaml
  deploy/cw-bundle.yaml
  e2e-tests/version-service/conf/crd.yaml
  pkg/apis/psmdb/v1/psmdb_types.go
  pkg/psmdb/mongos.go
Labels: size/M, community

#1495 CLOUD-833 - Add release and after-release targets to Makefile
  Makefile
Labels: size/M

#1496 CLOUD-833 - Minor update for release and after-release Makefile targets
  Makefile
Labels: size/XS

#1499 K8SPSMDB-1064 improve getting of latest_restorable_time
  e2e-tests/functions
Labels: size/M

#1501 K8SPSMDB-1064 - Minor fix in pitr-sharded test for sporadic failure
  e2e-tests/pitr-sharded/run
Labels: size/XS

#1470 K8SPSMDB-1013: Mongo 7 support
  build/ps-entry.sh
  deploy/cr.yaml
  e2e-tests/cross-site-sharded/run
  e2e-tests/data-sharded/run
  e2e-tests/functions
  e2e-tests/init-deploy/compare/backup-70.json
  e2e-tests/init-deploy/compare/clusterAdmin-70.json
  e2e-tests/init-deploy/compare/clusterMonitor-70.json
  e2e-tests/init-deploy/compare/userAdmin-70.json
  e2e-tests/init-deploy/run
  e2e-tests/mongod-major-upgrade-sharded/compare/find-4.json
  e2e-tests/mongod-major-upgrade-sharded/conf/some-name.yml
  e2e-tests/mongod-major-upgrade/compare/find-4.json
  e2e-tests/mongod-major-upgrade/conf/some-name-rs0.yml
  e2e-tests/version-service/conf/operator.9.9.9.psmdb-operator.json
  e2e-tests/version-service/conf/version-service-exact-rs0.yml
  e2e-tests/version-service/run
  pkg/controller/perconaservermongodb/mgo.go
  pkg/controller/perconaservermongodb/testdata/reconcile-statefulset/cfg-arbiter.yaml
  pkg/controller/perconaservermongodb/testdata/reconcile-statefulset/cfg-mongod.yaml
  pkg/controller/perconaservermongodb/testdata/reconcile-statefulset/cfg-nv.yaml
  pkg/controller/perconaservermongodb/testdata/reconcile-statefulset/rs0-arbiter.yaml
  pkg/controller/perconaservermongodb/testdata/reconcile-statefulset/rs0-mongod.yaml
  pkg/controller/perconaservermongodb/testdata/reconcile-statefulset/rs0-nv.yaml
  pkg/controller/perconaservermongodb/version.go
  pkg/psmdb/mongo/mongo.go
Labels: size/XXL

#1505 K8SPSMD-1015: Log backup operations
  pkg/apis/psmdb/v1/psmdb_types.go
  pkg/controller/perconaservermongodbbackup/backup.go
  pkg/controller/perconaservermongodbbackup/perconaservermongodbbackup_controller.go
  pkg/controller/perconaservermongodbrestore/logical.go
  pkg/psmdb/backup/backup.go
  pkg/psmdb/backup/pbm.go
Labels: size/S

#1511 K8SPSMDB-1065: Fix checking oplog slicing locks
  e2e-tests/functions
  e2e-tests/pitr/run
  pkg/psmdb/backup/pbm.go
Labels: size/M

#1510 K8SPSMDB-995 add sse to secret
  config/crd/bases/psmdb.percona.com_perconaservermongodbs.yaml
  deploy/bundle.yaml
  deploy/cr.yaml
  deploy/crd.yaml
  deploy/cw-bundle.yaml
  deploy/sse-secret.yaml
  e2e-tests/version-service/conf/crd.yaml
  pkg/apis/psmdb/v1/psmdb_defaults.go
  pkg/apis/psmdb/v1/psmdb_types.go
  pkg/controller/perconaservermongodb/psmdb_controller.go
  pkg/controller/perconaservermongodb/version.go
  pkg/controller/perconaservermongodbbackup/perconaservermongodbbackup_controller.go
  pkg/psmdb/backup/pbm.go
Labels: size/L

#1490 K8SPSMDB-951: Custom PBM config
  Makefile
  config/crd/bases/psmdb.percona.com_perconaservermongodbbackups.yaml
  config/crd/bases/psmdb.percona.com_perconaservermongodbrestores.yaml
  config/crd/bases/psmdb.percona.com_perconaservermongodbs.yaml
  deploy/bundle.yaml
  deploy/cr.yaml
  deploy/crd.yaml
  deploy/cw-bundle.yaml
  e2e-tests/version-service/conf/crd.yaml
  pkg/apis/psmdb/v1/psmdb_types.go
  pkg/apis/psmdb/v1/zz_generated.deepcopy.go
  pkg/psmdb/backup/pbm.go
Labels: size/L

#1516 K8SPSMDB-1000 Fix Azure storage endpointUrl in deploy/cr.yaml
  deploy/cr.yaml
Labels: size/XS

#1503 K8SPSMDB-1053: add cluster prefix to `pbm-config` secret
  e2e-tests/demand-backup-physical-sharded/compare/statefulset_some-name-rs0_restore_sharded-oc.yml
  e2e-tests/demand-backup-physical-sharded/compare/statefulset_some-name-rs0_restore_sharded.yml
  e2e-tests/demand-backup-physical/compare/statefulset_some-name-rs0_restore-arbiter-nv-oc.yml
  e2e-tests/demand-backup-physical/compare/statefulset_some-name-rs0_restore-arbiter-nv.yml
  e2e-tests/demand-backup-physical/compare/statefulset_some-name-rs0_restore-oc.yml
  e2e-tests/demand-backup-physical/compare/statefulset_some-name-rs0_restore.yml
  pkg/controller/perconaservermongodbrestore/physical.go
Labels: size/S

#1521 K8SPSMDB - Fix default-cr and upgrade-consistency-sharded-tls tests
  e2e-tests/default-cr/compare/statefulset_minimal-cluster-cfg-oc.yml
  e2e-tests/default-cr/compare/statefulset_minimal-cluster-cfg.yml
  e2e-tests/default-cr/compare/statefulset_minimal-cluster-rs0-oc.yml
  e2e-tests/default-cr/compare/statefulset_minimal-cluster-rs0.yml
  e2e-tests/default-cr/compare/statefulset_my-cluster-name-cfg-oc.yml
  e2e-tests/default-cr/compare/statefulset_my-cluster-name-cfg.yml
  e2e-tests/default-cr/compare/statefulset_my-cluster-name-rs0-oc.yml
  e2e-tests/default-cr/compare/statefulset_my-cluster-name-rs0.yml
  e2e-tests/upgrade-consistency-sharded-tls/compare/statefulset_some-name-cfg-1140-oc.yml
  e2e-tests/upgrade-consistency-sharded-tls/compare/statefulset_some-name-cfg-1150-oc.yml
Labels: size/S

#1512 K8SPSMDB-993: increase timeout for waiting pbm resync
  e2e-tests/demand-backup-physical-sharded/run
  e2e-tests/demand-backup-physical/run
  e2e-tests/pitr-physical/run
  pkg/controller/perconaservermongodbrestore/physical.go
Labels: size/M

#1487 K8SPSMDB-733: Automate volume scaling
  e2e-tests/pvc-resize/compare/statefulset_some-name-rs0.yml
  e2e-tests/pvc-resize/run
  e2e-tests/run-pr.csv
  e2e-tests/run-release.csv
  pkg/apis/psmdb/v1/psmdb_types.go
  pkg/controller/perconaservermongodb/statefulset.go
  pkg/controller/perconaservermongodb/volumes.go
  pkg/k8s/annotations.go
Labels: size/XL

#1517 K8SPSMDB-951: Fix custom PBM config cr.yaml example
  config/crd/bases/psmdb.percona.com_perconaservermongodbs.yaml
  deploy/bundle.yaml
  deploy/cr.yaml
  deploy/crd.yaml
  deploy/cw-bundle.yaml
  e2e-tests/version-service/conf/crd.yaml
  pkg/apis/psmdb/v1/psmdb_types.go
  pkg/apis/psmdb/v1/zz_generated.deepcopy.go
  pkg/psmdb/backup/pbm.go
  pkg/psmdb/backup/pbm_test.go
  pkg/psmdb/backup/testdata/cr-with-pbm-config.yaml
Labels: size/L

#1523 K8SPSMDB-755: Allow users to disallow invalid certificates
  config/crd/bases/psmdb.percona.com_perconaservermongodbs.yaml
  deploy/bundle.yaml
  deploy/cr.yaml
  deploy/crd.yaml
  deploy/cw-bundle.yaml
  e2e-tests/demand-backup-physical-sharded/run
  e2e-tests/demand-backup-physical/run
  e2e-tests/version-service/conf/crd.yaml
  pkg/apis/psmdb/v1/psmdb_defaults.go
  pkg/apis/psmdb/v1/psmdb_defaults_test.go
  pkg/apis/psmdb/v1/psmdb_types.go
  pkg/apis/psmdb/v1/zz_generated.deepcopy.go
  pkg/psmdb/container.go
Labels: size/L

#1524 K8SPSMDB-1056: S3 storage delete-backup finalizer without secrets
  e2e-tests/demand-backup-eks-credentials/conf/backup-aws-s3.yml
  e2e-tests/demand-backup-eks-credentials/run
  pkg/controller/perconaservermongodbbackup/perconaservermongodbbackup_controller.go
Labels: size/S

#1531 K8SPSMDB-1071 - Add containerSecurityContext and podSecurityContext into cr.yaml
  deploy/cr.yaml
Labels: size/S

#1383 K8SPSMDB-1014: update cert-manager certs and issuers
  clientcmd/clientcmd.go
  e2e-tests/tls-issue-cert-manager/compare/certificate_some-name-ssl-internal.yml
  e2e-tests/tls-issue-cert-manager/compare/certificate_some-name-ssl.yml
  e2e-tests/tls-issue-cert-manager/compare/issuer_some-name-psmdb-ca-issuer.yml
  e2e-tests/tls-issue-cert-manager/compare/issuer_some-name-psmdb-issuer.yml
  e2e-tests/upgrade-consistency-sharded-tls/compare/statefulset_some-name-cfg-1150-oc.yml
  e2e-tests/upgrade-consistency-sharded-tls/compare/statefulset_some-name-cfg-1150.yml
  e2e-tests/upgrade-consistency-sharded-tls/compare/statefulset_some-name-cfg-1160-oc.yml
  e2e-tests/upgrade-consistency-sharded-tls/compare/statefulset_some-name-cfg-1160.yml
  e2e-tests/upgrade-consistency-sharded-tls/compare/statefulset_some-name-rs0-1150-oc.yml
  e2e-tests/upgrade-consistency-sharded-tls/compare/statefulset_some-name-rs0-1150.yml
  e2e-tests/upgrade-consistency-sharded-tls/compare/statefulset_some-name-rs0-1160-oc.yml
  e2e-tests/upgrade-consistency-sharded-tls/compare/statefulset_some-name-rs0-1160.yml
  e2e-tests/upgrade-consistency-sharded-tls/run
  pkg/apis/psmdb/v1/perconaservermongodbrestore_types.go
  pkg/apis/psmdb/v1/psmdb_types.go
  pkg/controller/perconaservermongodb/psmdb_controller.go
  pkg/controller/perconaservermongodb/smart.go
  pkg/controller/perconaservermongodb/ssl.go
  pkg/controller/perconaservermongodb/statefulset_test.go
  pkg/controller/perconaservermongodb/status_test.go
  pkg/controller/perconaservermongodbbackup/perconaservermongodbbackup_controller.go
  pkg/controller/perconaservermongodbrestore/logical.go
  pkg/controller/perconaservermongodbrestore/perconaservermongodbrestore_controller.go
  pkg/controller/perconaservermongodbrestore/physical.go
  pkg/psmdb/backup/pbm.go
  pkg/psmdb/mongos.go
  pkg/psmdb/statefulset.go
  pkg/psmdb/tls/certmanager.go
  pkg/psmdb/tls/certmanager_test.go
  pkg/psmdb/tls/fake/certmanager.go
  pkg/psmdb/tls/pem.go
  pkg/psmdb/tls/tls.go
  pkg/util/apply.go
  version/server.go
Labels: size/XXL

#1360 K8SPSMDB-1003: Kubernetes node zone/region tag
  deploy/cw-bundle.yaml
  deploy/cw-rbac.yaml
  e2e-tests/cross-site-sharded/run
  e2e-tests/serviceless-external-nodes/run
  pkg/controller/perconaservermongodb/mgo.go
  pkg/psmdb/getters.go
Labels: size/L, community

#1534 CLOUD-727: Bump sigs.k8s.io/controller-runtime from 0.17.3 to 0.18.0
  config/crd/bases/psmdb.percona.com_perconaservermongodbs.yaml
  deploy/bundle.yaml
  deploy/crd.yaml
  deploy/cw-bundle.yaml
  e2e-tests/version-service/conf/crd.yaml
  go.mod
  go.sum
  pkg/controller/perconaservermongodb/psmdb_controller.go
  pkg/controller/perconaservermongodbbackup/perconaservermongodbbackup_controller.go
  pkg/controller/perconaservermongodbrestore/perconaservermongodbrestore_controller.go
Labels: size/XXL

#1538 [K8SPSMDB-940 add SA to CR
  deploy/cr.yaml
Labels: size/XS
