Repository percona/percona-server-mongodb-operator, pull requests merged in 2025-02, with the labels that each got.

#1821 K8SPSMDB-1274: Disable balancer before restore
  e2e-tests/balancer/run
  pkg/controller/perconaservermongodb/connections.go
  pkg/controller/perconaservermongodb/mgo.go
  pkg/controller/perconaservermongodb/secrets.go
  pkg/controller/perconaservermongodbrestore/perconaservermongodbrestore_controller.go
  pkg/psmdb/client.go
  pkg/psmdb/connections.go
  pkg/psmdb/credentials.go
Labels: size/L

#1806 K8SPSMDB-1275: Fix getLastErrorModes deserialization
  pkg/psmdb/mongo/models.go
Labels: size/S, community

#1825 K8SPSMDB-1283: Update images, versions and upgrade-consistency for 1.19.1 release
  deploy/bundle.yaml
  deploy/cr-minimal.yaml
  deploy/cr.yaml
  deploy/cw-bundle.yaml
  deploy/cw-operator.yaml
  deploy/operator.yaml
  e2e-tests/functions
  e2e-tests/release_versions
  e2e-tests/upgrade-consistency/compare/service_some-name-rs0-1191.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-rs0-1191-oc.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-rs0-1191.yml
  e2e-tests/upgrade-consistency/run
  pkg/controller/perconaservermongodb/suite_test.go
  pkg/controller/perconaservermongodb/testdata/reconcile-statefulset/cfg-arbiter.yaml
  pkg/controller/perconaservermongodb/testdata/reconcile-statefulset/cfg-mongod.yaml
  pkg/controller/perconaservermongodb/testdata/reconcile-statefulset/cfg-nv.yaml
  pkg/controller/perconaservermongodb/testdata/reconcile-statefulset/rs0-arbiter.yaml
  pkg/controller/perconaservermongodb/testdata/reconcile-statefulset/rs0-mongod.yaml
  pkg/controller/perconaservermongodb/testdata/reconcile-statefulset/rs0-nv.yaml
  version/version.go
Labels: size/M

#1681 K8SPSMDB-1183 bundle generations for psmdb
  .github/CODEOWNERS
  .github/dependabot.yml
  .gitignore
  config/bundle/kustomization.yaml
  config/community/kustomization.yaml
  config/crd/kustomization.yaml
  config/manager/cluster/kustomization.yaml
  config/manager/namespace/kustomization.yaml
  config/marketplace/kustomization.yaml
  config/operator/kustomization.yaml
  config/rbac/cluster/kustomization.yaml
  config/rbac/namespace/kustomization.yaml
  config/redhat/kustomization.yaml
  installers/olm/Makefile
  installers/olm/README.md
  installers/olm/bundle.Dockerfile
  installers/olm/bundle.annotations.yaml
  installers/olm/bundle.csv.yaml
  installers/olm/bundle.relatedImages.yaml
  installers/olm/generate.sh
Labels: size/XL

#1834 K8SPSMDB-1291 Jenkinsfile cluster-version set to 1.29 from 1.28
  Jenkinsfile
Labels: size/XS

#1837 K8SPSMDB-1283 - use 7.0.15-9-multi for 1.19.1 as default in cr
  deploy/cr-minimal.yaml
  deploy/cr.yaml
Labels: size/XS

#1829 K8SPSMDB-1245 Telemetry ClusterWideEnabled not handling multiple comma-separated namespaces
  pkg/controller/perconaservermongodb/version.go
  pkg/controller/perconaservermongodb/version_test.go
Labels: size/M

#1839 K8SPSMDB-1283: Update main branch after 1.19.1 release
  deploy/bundle.yaml
  deploy/cr-minimal.yaml
  deploy/cr.yaml
  deploy/cw-bundle.yaml
  deploy/cw-operator.yaml
  deploy/operator.yaml
  e2e-tests/functions
  e2e-tests/release_versions
  e2e-tests/upgrade-consistency-sharded-tls/compare/service_some-name-cfg-1191.yml
  e2e-tests/upgrade-consistency-sharded-tls/compare/service_some-name-rs0-1191.yml
  e2e-tests/upgrade-consistency-sharded-tls/compare/statefulset_some-name-cfg-1191-oc.yml
  e2e-tests/upgrade-consistency-sharded-tls/compare/statefulset_some-name-cfg-1191.yml
  e2e-tests/upgrade-consistency-sharded-tls/compare/statefulset_some-name-rs0-1191-oc.yml
  e2e-tests/upgrade-consistency-sharded-tls/compare/statefulset_some-name-rs0-1191.yml
  e2e-tests/upgrade-consistency-sharded-tls/run
  e2e-tests/upgrade-consistency/compare/service_some-name-rs0-1191.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-rs0-1191-oc.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-rs0-1191.yml
  e2e-tests/upgrade-consistency/run
  pkg/controller/perconaservermongodb/suite_test.go
  pkg/controller/perconaservermongodb/testdata/reconcile-statefulset/cfg-arbiter.yaml
  pkg/controller/perconaservermongodb/testdata/reconcile-statefulset/cfg-mongod.yaml
  pkg/controller/perconaservermongodb/testdata/reconcile-statefulset/cfg-nv.yaml
  pkg/controller/perconaservermongodb/testdata/reconcile-statefulset/rs0-arbiter.yaml
  pkg/controller/perconaservermongodb/testdata/reconcile-statefulset/rs0-mongod.yaml
  pkg/controller/perconaservermongodb/testdata/reconcile-statefulset/rs0-nv.yaml
  version/version.go
Labels: size/M

#1819 K8SPSMDB-1234 Ability to use non default port 27017 for Mongo components
  build/ps-entry.sh
  cmd/mongodb-healthcheck/healthcheck/health.go
  cmd/mongodb-healthcheck/tool/config.go
  e2e-tests/demand-backup-sharded/compare/statefulset_some-name-cfg-4-oc.yml
  e2e-tests/demand-backup-sharded/compare/statefulset_some-name-cfg-oc.yml
  e2e-tests/demand-backup-sharded/compare/statefulset_some-name-cfg.yml
  e2e-tests/demand-backup-sharded/compare/statefulset_some-name-mongos-4-oc.yml
  e2e-tests/demand-backup-sharded/compare/statefulset_some-name-mongos-oc.yml
  e2e-tests/demand-backup-sharded/compare/statefulset_some-name-mongos-secret-oc.yml
  e2e-tests/demand-backup-sharded/compare/statefulset_some-name-mongos-secret.yml
  e2e-tests/demand-backup-sharded/compare/statefulset_some-name-mongos.yml
  e2e-tests/demand-backup-sharded/compare/statefulset_some-name-rs0-4-oc.yml
  e2e-tests/demand-backup-sharded/compare/statefulset_some-name-rs0-oc.yml
  e2e-tests/demand-backup-sharded/compare/statefulset_some-name-rs0.yml
  e2e-tests/demand-backup-sharded/compare/statefulset_some-name-rs1-oc.yml
  e2e-tests/demand-backup-sharded/compare/statefulset_some-name-rs1.yml
  e2e-tests/demand-backup-sharded/compare/statefulset_some-name-rs2-oc.yml
  e2e-tests/demand-backup-sharded/compare/statefulset_some-name-rs2.yml
  e2e-tests/demand-backup-sharded/conf/some-name-rs0.yml
  e2e-tests/demand-backup-sharded/run
  e2e-tests/functions
  e2e-tests/monitoring-2-0/compare/service_monitoring-mongos.yml
  e2e-tests/monitoring-2-0/compare/service_monitoring-rs0.yml
  e2e-tests/monitoring-2-0/compare/statefulset_monitoring-cfg-oc.yml
  e2e-tests/monitoring-2-0/compare/statefulset_monitoring-cfg.yml
  e2e-tests/monitoring-2-0/compare/statefulset_monitoring-mongos-oc.yml
  e2e-tests/monitoring-2-0/compare/statefulset_monitoring-mongos.yml
  e2e-tests/monitoring-2-0/compare/statefulset_monitoring-rs0-no-pmm-oc.yml
  e2e-tests/monitoring-2-0/compare/statefulset_monitoring-rs0-no-pmm.yml
  e2e-tests/monitoring-2-0/compare/statefulset_monitoring-rs0-oc.yml
  e2e-tests/monitoring-2-0/compare/statefulset_monitoring-rs0.yml
  e2e-tests/monitoring-2-0/conf/monitoring-rs0.yml
  e2e-tests/monitoring-2-0/run
  pkg/apis/psmdb/v1/psmdb_defaults.go
  pkg/apis/psmdb/v1/psmdb_types.go
  pkg/apis/psmdb/v1/psmdb_types_test.go
  pkg/controller/perconaservermongodb/connections_test.go
  pkg/controller/perconaservermongodb/mgo.go
  pkg/controller/perconaservermongodb/psmdb_controller.go
  pkg/controller/perconaservermongodb/status_test.go
  pkg/psmdb/client.go
  pkg/psmdb/container.go
  pkg/psmdb/mongo/models.go
  pkg/psmdb/mongo/mongo.go
  pkg/psmdb/mongos.go
  pkg/psmdb/pmm.go
  pkg/psmdb/service.go
  pkg/psmdb/service_test.go
  pkg/psmdb/statefulset.go
Labels: size/XXL

#1814 K8SPSMDB-1231: handle `no mongod containers in running state` error
  pkg/controller/perconaservermongodb/mgo.go
Labels: size/XS

#1840 K8SPSMDB-128 - revert images and versions after 1.19.1 release
  deploy/bundle.yaml
  deploy/cr-minimal.yaml
  deploy/cr.yaml
  deploy/cw-bundle.yaml
  deploy/cw-operator.yaml
  deploy/operator.yaml
  e2e-tests/upgrade-consistency-sharded-tls/compare/service_some-name-cfg-1200.yml
  e2e-tests/upgrade-consistency-sharded-tls/compare/service_some-name-rs0-1200.yml
  e2e-tests/upgrade-consistency-sharded-tls/compare/statefulset_some-name-cfg-1180-oc.yml
  e2e-tests/upgrade-consistency-sharded-tls/compare/statefulset_some-name-cfg-1180.yml
  e2e-tests/upgrade-consistency-sharded-tls/compare/statefulset_some-name-cfg-1191-oc.yml
  e2e-tests/upgrade-consistency-sharded-tls/compare/statefulset_some-name-cfg-1191.yml
  e2e-tests/upgrade-consistency-sharded-tls/compare/statefulset_some-name-cfg-1200-oc.yml
  e2e-tests/upgrade-consistency-sharded-tls/compare/statefulset_some-name-cfg-1200.yml
  e2e-tests/upgrade-consistency-sharded-tls/compare/statefulset_some-name-rs0-1180-oc.yml
  e2e-tests/upgrade-consistency-sharded-tls/compare/statefulset_some-name-rs0-1180.yml
  e2e-tests/upgrade-consistency-sharded-tls/compare/statefulset_some-name-rs0-1191-oc.yml
  e2e-tests/upgrade-consistency-sharded-tls/compare/statefulset_some-name-rs0-1191.yml
  e2e-tests/upgrade-consistency-sharded-tls/compare/statefulset_some-name-rs0-1200-oc.yml
  e2e-tests/upgrade-consistency-sharded-tls/compare/statefulset_some-name-rs0-1200.yml
  e2e-tests/upgrade-consistency-sharded-tls/conf/some-name.yml
  e2e-tests/upgrade-consistency-sharded-tls/run
  pkg/controller/perconaservermongodb/suite_test.go
  pkg/controller/perconaservermongodb/testdata/reconcile-statefulset/cfg-arbiter.yaml
  pkg/controller/perconaservermongodb/testdata/reconcile-statefulset/cfg-mongod.yaml
  pkg/controller/perconaservermongodb/testdata/reconcile-statefulset/cfg-nv.yaml
  pkg/controller/perconaservermongodb/testdata/reconcile-statefulset/rs0-arbiter.yaml
  pkg/controller/perconaservermongodb/testdata/reconcile-statefulset/rs0-mongod.yaml
  pkg/controller/perconaservermongodb/testdata/reconcile-statefulset/rs0-nv.yaml
  version/version.go
Labels: size/M

#1842 K8SPSMDB-1097 add NumParallelCollections to CR
  config/crd/bases/psmdb.percona.com_perconaservermongodbs.yaml
  deploy/bundle.yaml
  deploy/cr.yaml
  deploy/crd.yaml
  deploy/cw-bundle.yaml
  e2e-tests/version-service/conf/crd.yaml
  pkg/apis/psmdb/v1/psmdb_types.go
  pkg/psmdb/backup/pbm.go
  pkg/psmdb/backup/pbm_test.go
  pkg/psmdb/backup/testdata/cr-with-pbm-config.yaml
Labels: size/M

#1828 K8SPSMDB-1290: Bump PBM to v2.9.0
  e2e-tests/balancer/conf/some-name-rs0.yml
  e2e-tests/balancer/data.js
  e2e-tests/balancer/run
  e2e-tests/functions
  go.mod
  go.sum
  pkg/controller/perconaservermongodb/connections.go
  pkg/controller/perconaservermongodb/mgo.go
  pkg/controller/perconaservermongodb/secrets.go
  pkg/controller/perconaservermongodbrestore/perconaservermongodbrestore_controller.go
  pkg/psmdb/client.go
  pkg/psmdb/connections.go
  pkg/psmdb/credentials.go
Labels: size/L

#1844 CLOUD-727 automate labeling and PR management
  .github/labeler.yml
  .github/workflows/labeler.yml
  .github/workflows/stale.yml
Labels: size/M, ci

#1845 CLOUD-727 remove Inel from dependabot and add George
  .github/dependabot.yml
Labels: size/XS

#1848 K8SPSMDB-1290: Revert custom PBM image in e2e-tests
  e2e-tests/functions
Labels: size/XS, tests

#1826 K8SPSMDB-1197: fix healthcheck log rotation
  build/Dockerfile
  cmd/mongodb-healthcheck/logger/logger.go
  cmd/mongodb-healthcheck/logger/lumberjack/LICENSE
  cmd/mongodb-healthcheck/logger/lumberjack/README.md
  cmd/mongodb-healthcheck/logger/lumberjack/chown.go
  cmd/mongodb-healthcheck/logger/lumberjack/chown_linux.go
  cmd/mongodb-healthcheck/logger/lumberjack/example_test.go
  cmd/mongodb-healthcheck/logger/lumberjack/go.mod
  cmd/mongodb-healthcheck/logger/lumberjack/go.sum
  cmd/mongodb-healthcheck/logger/lumberjack/linux_test.go
  cmd/mongodb-healthcheck/logger/lumberjack/lumberjack.go
  cmd/mongodb-healthcheck/logger/lumberjack/lumberjack_test.go
  cmd/mongodb-healthcheck/logger/lumberjack/rotate_test.go
  cmd/mongodb-healthcheck/logger/lumberjack/testing_test.go
  cmd/mongodb-healthcheck/main.go
  cmd/mongodb-healthcheck/test/logrotation.sh
  go.mod
  go.sum
Labels: size/XXL, dependencies, build

#1736 K8SPSMDB-1276: Optimize TLS and CA certificate file writes in getMongoUri function
  pkg/psmdb/backup/pbm.go
Labels: size/M, community

#1851 CLOUD-727 fix labeler
  .github/workflows/labeler.yml
Labels: size/XS, ci

#1852 CLOUD-727 fix misprint
  .github/workflows/labeler.yml
Labels: size/XS, ci
