Repository percona/percona-server-mongodb-operator, pull requests merged in 2025-03, with the labels that each got.

#1853 K8SPSMDB-1219: Main storage checks should only happen in versions >= 1.20
  e2e-tests/custom-replset-name/conf/some-name.yml
  pkg/apis/psmdb/v1/psmdb_defaults.go
  pkg/controller/perconaservermongodb/pbm.go
Labels: size/XS, tests

#1836 K8SPSMDB-1237: add incremental backups
  config/crd/bases/psmdb.percona.com_perconaservermongodbbackups.yaml
  config/crd/bases/psmdb.percona.com_perconaservermongodbs.yaml
  deploy/bundle.yaml
  deploy/cr.yaml
  deploy/crd.yaml
  deploy/cw-bundle.yaml
  e2e-tests/demand-backup-incremental-sharded/compare/find-not-base-sharded.json
  e2e-tests/demand-backup-incremental-sharded/compare/find-sharded.json
  e2e-tests/demand-backup-incremental-sharded/compare/find.json
  e2e-tests/demand-backup-incremental-sharded/compare/statefulset_some-name-rs0_restore_sharded-oc.yml
  e2e-tests/demand-backup-incremental-sharded/compare/statefulset_some-name-rs0_restore_sharded.yml
  e2e-tests/demand-backup-incremental-sharded/conf/backup.yml
  e2e-tests/demand-backup-incremental-sharded/conf/restore.yml
  e2e-tests/demand-backup-incremental-sharded/conf/some-name-sharded.yml
  e2e-tests/demand-backup-incremental-sharded/run
  e2e-tests/demand-backup-incremental/compare/find-not-base.json
  e2e-tests/demand-backup-incremental/compare/find.json
  e2e-tests/demand-backup-incremental/compare/statefulset_some-name-rs0_restore-arbiter-nv-oc.yml
  e2e-tests/demand-backup-incremental/compare/statefulset_some-name-rs0_restore-arbiter-nv.yml
  e2e-tests/demand-backup-incremental/compare/statefulset_some-name-rs0_restore-oc.yml
  e2e-tests/demand-backup-incremental/compare/statefulset_some-name-rs0_restore.yml
  e2e-tests/demand-backup-incremental/conf/backup.yml
  e2e-tests/demand-backup-incremental/conf/restore.yml
  e2e-tests/demand-backup-incremental/conf/secrets.yml
  e2e-tests/demand-backup-incremental/conf/some-name-arbiter-nv.yml
  e2e-tests/demand-backup-incremental/conf/some-name.yml
  e2e-tests/demand-backup-incremental/run
  e2e-tests/multi-storage/run
  e2e-tests/run-distro.csv
  e2e-tests/run-minikube.csv
  e2e-tests/run-pr.csv
  e2e-tests/run-release.csv
  e2e-tests/version-service/conf/crd.yaml
  go.mod
  go.sum
  pkg/apis/psmdb/v1/perconaservermongodbbackup_types.go
  pkg/apis/psmdb/v1/psmdb_types.go
  pkg/controller/perconaservermongodb/backup.go
  pkg/controller/perconaservermongodbbackup/backup.go
  pkg/controller/perconaservermongodbbackup/perconaservermongodbbackup_controller.go
  pkg/controller/perconaservermongodbrestore/logical.go
  pkg/controller/perconaservermongodbrestore/perconaservermongodbrestore_controller.go
Labels: size/XXL, tests, dependencies

#1854 K8SPSMDB-1219: Add main storage example
  deploy/cr.yaml
Labels: size/XS

#1863 K8SPSMDB-1306: Fix panic if user has a custom PBM config without timeouts
  pkg/controller/perconaservermongodb/pbm.go
  pkg/controller/perconaservermongodb/pbm_test.go
  pkg/psmdb/backup/pbm.go
Labels: size/L

#1861 K8SPSMDB-1302: Fix stuck physical restore if update strategy is SmartUpdate
  e2e-tests/demand-backup-incremental-sharded/compare/statefulset_some-name-rs0_restore_sharded-oc.yml
  e2e-tests/demand-backup-incremental-sharded/compare/statefulset_some-name-rs0_restore_sharded.yml
  e2e-tests/demand-backup-incremental/compare/statefulset_some-name-rs0_restore-arbiter-nv-oc.yml
  e2e-tests/demand-backup-incremental/compare/statefulset_some-name-rs0_restore-arbiter-nv.yml
  e2e-tests/demand-backup-incremental/compare/statefulset_some-name-rs0_restore-oc.yml
  e2e-tests/demand-backup-incremental/compare/statefulset_some-name-rs0_restore.yml
  e2e-tests/demand-backup-physical-sharded/compare/statefulset_some-name-rs0_restore_sharded-oc.yml
  e2e-tests/demand-backup-physical-sharded/compare/statefulset_some-name-rs0_restore_sharded.yml
  e2e-tests/demand-backup-physical-sharded/conf/some-name-sharded.yml
  e2e-tests/demand-backup-physical/compare/statefulset_some-name-rs0_restore-arbiter-nv-oc.yml
  e2e-tests/demand-backup-physical/compare/statefulset_some-name-rs0_restore-arbiter-nv.yml
  e2e-tests/demand-backup-physical/compare/statefulset_some-name-rs0_restore-oc.yml
  e2e-tests/demand-backup-physical/compare/statefulset_some-name-rs0_restore.yml
  e2e-tests/demand-backup-physical/conf/some-name-arbiter-nv.yml
  e2e-tests/demand-backup-physical/conf/some-name.yml
  e2e-tests/demand-backup-physical/run
  pkg/controller/perconaservermongodb/pbm.go
  pkg/controller/perconaservermongodb/smart.go
  pkg/controller/perconaservermongodbrestore/physical.go
  pkg/naming/labels.go
  pkg/naming/naming.go
  pkg/psmdb/mongo/mongo.go
Labels: size/L, tests
