Repository percona/percona-server-mongodb-operator, pull requests merged in 2025-04, with the labels that each got.

#1885 K8SPSMDB-1316: Allow customizing cluster name in PMM
  config/crd/bases/psmdb.percona.com_perconaservermongodbs.yaml
  deploy/bundle.yaml
  deploy/cr.yaml
  deploy/crd.yaml
  deploy/cw-bundle.yaml
  e2e-tests/version-service/conf/crd.yaml
  pkg/apis/psmdb/v1/psmdb_types.go
  pkg/psmdb/pmm.go
Labels: size/M, tests

#1884 K8SPSMDB-1329: Add loadBalancerClass
  config/crd/bases/psmdb.percona.com_perconaservermongodbs.yaml
  deploy/bundle.yaml
  deploy/cr.yaml
  deploy/crd.yaml
  deploy/cw-bundle.yaml
  e2e-tests/version-service/conf/crd.yaml
  pkg/apis/psmdb/v1/psmdb_types.go
  pkg/apis/psmdb/v1/zz_generated.deepcopy.go
  pkg/psmdb/mongos.go
  pkg/psmdb/mongos_test.go
  pkg/psmdb/service.go
  pkg/psmdb/service_test.go
Labels: size/L, tests

#1886 K8SPSMDB-1341: Bump PBM to v2.9.1
  go.mod
  go.sum
Labels: size/XS, dependencies

#1889 K8SPSMDB-1347 When password does not exist, properly update the secret and set the boolean to true
  pkg/controller/perconaservermongodb/custom_users.go
  pkg/controller/perconaservermongodb/custom_users_test.go
Labels: size/L

#1887 K8SPSMDB-1325: Add directShardOperation role to clusterAdmin and clusterMonitor
  e2e-tests/custom-replset-name/conf/some-name.yml
  e2e-tests/functions
  e2e-tests/init-deploy/compare/clusterAdmin-60.json
  e2e-tests/init-deploy/compare/clusterAdmin-70.json
  e2e-tests/init-deploy/compare/clusterAdmin-80.json
  e2e-tests/init-deploy/compare/clusterMonitor-60.json
  e2e-tests/init-deploy/compare/clusterMonitor-70.json
  e2e-tests/init-deploy/compare/clusterMonitor-80.json
  e2e-tests/version-service/conf/version-service-major-rs0.yml
  e2e-tests/version-service/run
  pkg/controller/perconaservermongodb/connections_test.go
  pkg/controller/perconaservermongodb/custom_users.go
  pkg/controller/perconaservermongodb/mgo.go
  pkg/controller/perconaservermongodb/mgo_test.go
  pkg/psmdb/mongo/fake/client.go
  pkg/psmdb/mongo/models.go
  pkg/psmdb/mongo/mongo.go
Labels: size/L, tests

#1891 K8SPSMDB-1316: add pmm.customClusterName e2e-test
  e2e-tests/monitoring-2-0/run
Labels: size/S, tests

#1892 K8SPSMDB-1294: Use server's preferred version of MCS APIs
  cmd/manager/main.go
  pkg/mcs/register.go
Labels: size/S

#1894 K8SPSMDB-1237: fix .keep for incremental backups
  deploy/cr.yaml
  pkg/controller/perconaservermongodb/backup.go
Labels: size/M

#1903 K8SPSMDB-1265: Update versions for 1.20.0 release
  deploy/bundle.yaml
  deploy/cr-minimal.yaml
  deploy/cr.yaml
  deploy/cw-bundle.yaml
  deploy/cw-operator.yaml
  deploy/operator.yaml
  e2e-tests/functions
  e2e-tests/release_versions
  pkg/controller/perconaservermongodb/suite_test.go
  pkg/controller/perconaservermongodb/testdata/reconcile-statefulset/cfg-arbiter.yaml
  pkg/controller/perconaservermongodb/testdata/reconcile-statefulset/cfg-mongod.yaml
  pkg/controller/perconaservermongodb/testdata/reconcile-statefulset/cfg-nv.yaml
  pkg/controller/perconaservermongodb/testdata/reconcile-statefulset/rs0-arbiter.yaml
  pkg/controller/perconaservermongodb/testdata/reconcile-statefulset/rs0-mongod.yaml
  pkg/controller/perconaservermongodb/testdata/reconcile-statefulset/rs0-nv.yaml
Labels: size/M, tests
