Repository percona/percona-server-mongodb-operator, pull requests merged in 2025-06, with the labels that each got.

#1928 K8SPSMDB-1072: add `retention` section to backup tasks
  config/crd/bases/psmdb.percona.com_perconaservermongodbs.yaml
  deploy/bundle.yaml
  deploy/cr.yaml
  deploy/crd.yaml
  deploy/cw-bundle.yaml
  e2e-tests/scheduled-backup/conf/some-name-rs0-2.yml
  e2e-tests/scheduled-backup/conf/some-name-rs0-3.yml
  e2e-tests/version-service/conf/crd.yaml
  pkg/apis/psmdb/v1/psmdb_defaults.go
  pkg/apis/psmdb/v1/psmdb_types.go
  pkg/apis/psmdb/v1/zz_generated.deepcopy.go
  pkg/controller/perconaservermongodb/backup.go
  pkg/controller/perconaservermongodb/version_test.go
  pkg/psmdb/backup/job.go
Labels: size/L, tests

#1908 K8SPSMDB-1339: Validate PiTR target before starting restore
  build/physical-restore-ps-entry.sh
  config/crd/bases/psmdb.percona.com_perconaservermongodbbackups.yaml
  config/crd/bases/psmdb.percona.com_perconaservermongodbrestores.yaml
  deploy/bundle.yaml
  deploy/crd.yaml
  deploy/cw-bundle.yaml
  e2e-tests/demand-backup-incremental-sharded/compare/statefulset_some-name-rs0_restore_sharded-oc.yml
  e2e-tests/demand-backup-incremental-sharded/compare/statefulset_some-name-rs0_restore_sharded.yml
  e2e-tests/demand-backup-incremental/compare/statefulset_some-name-rs0_restore-arbiter-nv-oc.yml
  e2e-tests/demand-backup-incremental/compare/statefulset_some-name-rs0_restore-arbiter-nv.yml
  e2e-tests/demand-backup-incremental/compare/statefulset_some-name-rs0_restore-oc.yml
  e2e-tests/demand-backup-incremental/compare/statefulset_some-name-rs0_restore.yml
  e2e-tests/demand-backup-physical-aws/compare/statefulset_some-name-rs0_restore-oc.yml
  e2e-tests/demand-backup-physical-aws/compare/statefulset_some-name-rs0_restore.yml
  e2e-tests/demand-backup-physical-azure/compare/statefulset_some-name-rs0_restore-oc.yml
  e2e-tests/demand-backup-physical-azure/compare/statefulset_some-name-rs0_restore.yml
  e2e-tests/demand-backup-physical-gcp/compare/statefulset_some-name-rs0_restore-oc.yml
  e2e-tests/demand-backup-physical-gcp/compare/statefulset_some-name-rs0_restore.yml
  e2e-tests/demand-backup-physical-minio/compare/statefulset_some-name-rs0_restore-arbiter-nv-oc.yml
  e2e-tests/demand-backup-physical-minio/compare/statefulset_some-name-rs0_restore-arbiter-nv.yml
  e2e-tests/demand-backup-physical-minio/compare/statefulset_some-name-rs0_restore-oc.yml
  e2e-tests/demand-backup-physical-minio/compare/statefulset_some-name-rs0_restore.yml
  e2e-tests/demand-backup-physical-sharded-aws/compare/statefulset_some-name-rs0_restore_sharded-oc.yml
  e2e-tests/demand-backup-physical-sharded-aws/compare/statefulset_some-name-rs0_restore_sharded.yml
  e2e-tests/demand-backup-physical-sharded-azure/compare/statefulset_some-name-rs0_restore_sharded-oc.yml
  e2e-tests/demand-backup-physical-sharded-azure/compare/statefulset_some-name-rs0_restore_sharded.yml
  e2e-tests/demand-backup-physical-sharded-gcp/compare/statefulset_some-name-rs0_restore_sharded-oc.yml
  e2e-tests/demand-backup-physical-sharded-gcp/compare/statefulset_some-name-rs0_restore_sharded.yml
  e2e-tests/demand-backup-physical-sharded-minio/compare/statefulset_some-name-rs0_restore_sharded-oc.yml
  e2e-tests/demand-backup-physical-sharded-minio/compare/statefulset_some-name-rs0_restore_sharded.yml
  e2e-tests/demand-backup-physical-sharded-parallel/compare/statefulset_some-name-rs0_restore_sharded-oc.yml
  e2e-tests/demand-backup-physical-sharded-parallel/compare/statefulset_some-name-rs0_restore_sharded.yml
  e2e-tests/functions
  e2e-tests/multi-storage/run
  e2e-tests/pitr-physical/run
  e2e-tests/pitr/conf/some-name-rs0.yml
  e2e-tests/version-service/conf/crd.yaml
  pkg/apis/psmdb/v1/perconaservermongodbbackup_types.go
  pkg/apis/psmdb/v1/zz_generated.deepcopy.go
  pkg/controller/perconaservermongodbbackup/backup.go
  pkg/controller/perconaservermongodbrestore/perconaservermongodbrestore_controller.go
  pkg/controller/perconaservermongodbrestore/physical.go
  pkg/controller/perconaservermongodbrestore/validate.go
  pkg/controller/perconaservermongodbrestore/validate_test.go
Labels: size/XL, tests, build

#1957 K8SPSMDB-297 fix broken e2e test default cr
  e2e-tests/default-cr/compare/statefulset_my-cluster-name-cfg-oc.yml
  e2e-tests/default-cr/compare/statefulset_my-cluster-name-cfg.yml
  e2e-tests/default-cr/compare/statefulset_my-cluster-name-rs0-oc.yml
  e2e-tests/default-cr/compare/statefulset_my-cluster-name-rs0.yml
Labels: size/L, tests

#1940 K8SPSMDB-1319 Don't run scheduled backup if DB is unhealthy and startingDeadlineSeconds added.
  config/crd/bases/psmdb.percona.com_perconaservermongodbbackups.yaml
  config/crd/bases/psmdb.percona.com_perconaservermongodbs.yaml
  deploy/backup/backup.yaml
  deploy/bundle.yaml
  deploy/cr.yaml
  deploy/crd.yaml
  deploy/cw-bundle.yaml
  e2e-tests/version-service/conf/crd.yaml
  pkg/apis/psmdb/v1/perconaservermongodbbackup_types.go
  pkg/apis/psmdb/v1/psmdb_types.go
  pkg/apis/psmdb/v1/zz_generated.deepcopy.go
  pkg/controller/perconaservermongodbbackup/backup.go
  pkg/controller/perconaservermongodbbackup/deadline.go
  pkg/controller/perconaservermongodbbackup/deadline_test.go
  pkg/controller/perconaservermongodbbackup/perconaservermongodbbackup_controller.go
Labels: size/L, tests

#1897 K8SPSMDB-1398 Suppress storage discrepancy error if external volume autoscaling is enabled
  config/crd/bases/psmdb.percona.com_perconaservermongodbs.yaml
  deploy/bundle.yaml
  deploy/cr.yaml
  deploy/crd.yaml
  deploy/cw-bundle.yaml
  e2e-tests/version-service/conf/crd.yaml
  pkg/apis/psmdb/v1/psmdb_types.go
  pkg/controller/perconaservermongodb/volumes.go
Labels: size/M, community

#1958 Release 1.20.1
  .github/workflows/reviewdog.yml
  e2e-tests/demand-backup-physical-sharded-parallel/conf/some-name-sharded.yml
  e2e-tests/functions
  e2e-tests/release_versions
  e2e-tests/upgrade-consistency-sharded-tls/compare/service_some-name-cfg-1201.yml
  e2e-tests/upgrade-consistency-sharded-tls/compare/service_some-name-rs0-1201.yml
  e2e-tests/upgrade-consistency-sharded-tls/compare/statefulset_some-name-cfg-1201-oc.yml
  e2e-tests/upgrade-consistency-sharded-tls/compare/statefulset_some-name-cfg-1201.yml
  e2e-tests/upgrade-consistency-sharded-tls/compare/statefulset_some-name-rs0-1201-oc.yml
  e2e-tests/upgrade-consistency-sharded-tls/compare/statefulset_some-name-rs0-1201.yml
  e2e-tests/upgrade-consistency-sharded-tls/run
  e2e-tests/upgrade-consistency/compare/service_some-name-rs0-1201.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-rs0-1201-oc.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-rs0-1201.yml
  e2e-tests/upgrade-consistency/run
Labels: size/M, tests, ci

#1968 CLOUD-914: Fix cleaning namespaces function
  e2e-tests/functions
Labels: size/XS, tests

#1967 CLOUD-911: Add snyk config
  .e2eignore
  .snyk
Labels: size/S
