Repository percona/percona-server-mongodb-operator, pull requests merged in 2025-05, with the labels that each got.

#1905 K8SPSMDB-1265: Fix compare files with correct PBM_MONGODB_URI
  e2e-tests/default-cr/compare/statefulset_my-cluster-name-cfg-oc.yml
  e2e-tests/default-cr/compare/statefulset_my-cluster-name-cfg.yml
  e2e-tests/default-cr/compare/statefulset_my-cluster-name-rs0-oc.yml
  e2e-tests/default-cr/compare/statefulset_my-cluster-name-rs0.yml
  e2e-tests/demand-backup-eks-credentials-irsa/compare/statefulset_some-name-rs0.yml
Labels: size/S, tests

#1907 K8SPSMDB-1366: Fix reconfiguring PBM after sharding is toggled
  e2e-tests/rs-shard-migration/compare/statefulset_some-name-rs0.yml
  e2e-tests/rs-shard-migration/conf/backup-minio.yml
  e2e-tests/rs-shard-migration/conf/some-name.yml
  e2e-tests/rs-shard-migration/run
  pkg/controller/perconaservermongodb/psmdb_controller.go
Labels: size/L, tests

#1909 K8SPSMDB-1265: update oc compare for rs-shard-migration
  e2e-tests/rs-shard-migration/compare/statefulset_some-name-rs0-oc.yml
Labels: size/M, tests

#1913 K8SPSMDB-1371: Prevent panic if no oplogs are in PBM metadata
  pkg/controller/perconaservermongodbrestore/physical.go
Labels: size/XS

#1920 K8SPSMDB-1378: Prevent parallel backups
  e2e-tests/demand-backup-incremental-sharded/run
  e2e-tests/demand-backup-incremental/run
  e2e-tests/demand-backup-physical-sharded/run
  e2e-tests/demand-backup-physical/run
  e2e-tests/functions
  pkg/apis/psmdb/v1/perconaservermongodbbackup_types.go
  pkg/controller/perconaservermongodbbackup/perconaservermongodbbackup_controller.go
  pkg/k8s/lease.go
  pkg/k8s/lease_test.go
  pkg/naming/backup.go
  pkg/naming/naming.go
  pkg/psmdb/backup/backup.go
Labels: size/L, tests

#1923 K8SPSMDB-1292 Trim spaces from count in check_backup_count function for e2e tests
  e2e-tests/scheduled-backup/run
Labels: size/XS, tests

#1927 K8SPSMDB-1268 && K8SPSMDB-1297 add data dir for pmm3
  e2e-tests/monitoring-pmm3/compare/statefulset_monitoring-pmm3-cfg-oc.yml
  e2e-tests/monitoring-pmm3/compare/statefulset_monitoring-pmm3-cfg.yml
  e2e-tests/monitoring-pmm3/compare/statefulset_monitoring-pmm3-mongos-oc.yml
  e2e-tests/monitoring-pmm3/compare/statefulset_monitoring-pmm3-mongos.yml
  e2e-tests/monitoring-pmm3/compare/statefulset_monitoring-pmm3-rs0-oc.yml
  e2e-tests/monitoring-pmm3/compare/statefulset_monitoring-pmm3-rs0.yml
  pkg/psmdb/pmm/pmm.go
  pkg/psmdb/pmm/pmm_test.go
Labels: size/S, tests

#1924 K8SPSMDB-1297 add data dir to proc
  e2e-tests/monitoring-2-0/compare/statefulset_monitoring-cfg-oc.yml
  e2e-tests/monitoring-2-0/compare/statefulset_monitoring-cfg.yml
  e2e-tests/monitoring-2-0/compare/statefulset_monitoring-mongos-oc.yml
  e2e-tests/monitoring-2-0/compare/statefulset_monitoring-mongos.yml
  e2e-tests/monitoring-2-0/compare/statefulset_monitoring-rs0-oc.yml
  e2e-tests/monitoring-2-0/compare/statefulset_monitoring-rs0.yml
  pkg/psmdb/const.go
  pkg/psmdb/init.go
  pkg/psmdb/pmm.go
  pkg/psmdb/statefulset.go
Labels: size/M, tests

#1904 K8SPSMDB-1265: Update versions for 1.20.0 release
  deploy/bundle.yaml
  deploy/cr-minimal.yaml
  deploy/cr.yaml
  deploy/cw-bundle.yaml
  deploy/cw-operator.yaml
  deploy/operator.yaml
  e2e-tests/balancer/conf/some-name-rs0.yml
  e2e-tests/default-cr/compare/statefulset_my-cluster-name-cfg-oc.yml
  e2e-tests/default-cr/compare/statefulset_my-cluster-name-cfg.yml
  e2e-tests/default-cr/compare/statefulset_my-cluster-name-rs0-oc.yml
  e2e-tests/default-cr/compare/statefulset_my-cluster-name-rs0.yml
  e2e-tests/demand-backup-eks-credentials-irsa/compare/statefulset_some-name-rs0.yml
  e2e-tests/demand-backup-incremental-sharded/run
  e2e-tests/demand-backup-sharded/run
  e2e-tests/functions
  e2e-tests/one-pod/run
  e2e-tests/pitr-physical/run
  e2e-tests/release_versions
  e2e-tests/rs-shard-migration/compare/statefulset_some-name-rs0-oc.yml
  pkg/controller/perconaservermongodb/suite_test.go
  pkg/controller/perconaservermongodb/testdata/reconcile-statefulset/cfg-arbiter.yaml
  pkg/controller/perconaservermongodb/testdata/reconcile-statefulset/cfg-mongod.yaml
  pkg/controller/perconaservermongodb/testdata/reconcile-statefulset/cfg-nv.yaml
  pkg/controller/perconaservermongodb/testdata/reconcile-statefulset/rs0-arbiter.yaml
  pkg/controller/perconaservermongodb/testdata/reconcile-statefulset/rs0-mongod.yaml
  pkg/controller/perconaservermongodb/testdata/reconcile-statefulset/rs0-nv.yaml
Labels: size/L, tests

#1916 K8SPSMDB-1268 pmm3 support
  cmd/mongodb-healthcheck/logger/logger.go
  deploy/secrets.yaml
  e2e-tests/default-cr/run
  e2e-tests/functions
  e2e-tests/monitoring-2-0/conf/monitoring-2-0.yml
  e2e-tests/monitoring-pmm3/compare/service_monitoring-pmm3-mongos.yml
  e2e-tests/monitoring-pmm3/compare/service_monitoring-pmm3-rs0.yml
  e2e-tests/monitoring-pmm3/compare/statefulset_monitoring-pmm3-cfg-oc.yml
  e2e-tests/monitoring-pmm3/compare/statefulset_monitoring-pmm3-cfg.yml
  e2e-tests/monitoring-pmm3/compare/statefulset_monitoring-pmm3-mongos-oc.yml
  e2e-tests/monitoring-pmm3/compare/statefulset_monitoring-pmm3-mongos.yml
  e2e-tests/monitoring-pmm3/compare/statefulset_monitoring-pmm3-rs0-no-pmm-oc.yml
  e2e-tests/monitoring-pmm3/compare/statefulset_monitoring-pmm3-rs0-no-pmm.yml
  e2e-tests/monitoring-pmm3/compare/statefulset_monitoring-pmm3-rs0-oc.yml
  e2e-tests/monitoring-pmm3/compare/statefulset_monitoring-pmm3-rs0.yml
  e2e-tests/monitoring-pmm3/conf/monitoring-pmm3-rs0.yml
  e2e-tests/monitoring-pmm3/conf/secrets.yml
  e2e-tests/monitoring-pmm3/run
  e2e-tests/release_versions
  e2e-tests/run-pr.csv
  e2e-tests/run-release.csv
  pkg/apis/psmdb/v1/psmdb_types.go
  pkg/controller/perconaservermongodb/psmdb_controller.go
  pkg/controller/perconaservermongodb/volumes.go
  pkg/psmdb/config/const.go
  pkg/psmdb/container.go
  pkg/psmdb/init.go
  pkg/psmdb/mongos.go
  pkg/psmdb/pmm/pmm.go
  pkg/psmdb/pmm/pmm_test.go
  pkg/psmdb/service.go
  pkg/psmdb/statefulset.go
Labels: size/XXL, tests

#1934 K8SPSMDB-1285: add version label to the crd
  Makefile
  config/crd/kustomization.yaml
  config/crd/patches/versionlabel_in_psmdb.yaml
  config/crd/patches/versionlabel_in_psmdbbackup.yaml
  config/crd/patches/versionlabel_in_psmdbrestore.yaml
  deploy/bundle.yaml
  deploy/crd.yaml
  deploy/cw-bundle.yaml
  deploy/cw-operator.yaml
  deploy/operator.yaml
  e2e-tests/version-service/conf/crd.yaml
  pkg/apis/psmdb/v1/psmdb_defaults.go
  pkg/apis/psmdb/v1/psmdb_defaults_test.go
  pkg/apis/psmdb/v1/psmdb_types.go
  pkg/apis/psmdb/v1/zz_generated.deepcopy.go
  pkg/controller/perconaservermongodb/connections_test.go
  pkg/controller/perconaservermongodb/finalizers_test.go
  pkg/controller/perconaservermongodb/psmdb_controller.go
  pkg/controller/perconaservermongodb/statefulset_test.go
  pkg/controller/perconaservermongodb/status_test.go
  pkg/controller/perconaservermongodb/suite_test.go
  pkg/controller/perconaservermongodb/version_test.go
  pkg/controller/perconaservermongodbbackup/perconaservermongodbbackup_controller.go
  pkg/controller/perconaservermongodbrestore/perconaservermongodbrestore_controller.go
  pkg/naming/labels.go
  pkg/psmdb/init.go
  pkg/psmdb/mongos_test.go
  pkg/psmdb/pmm/pmm_test.go
  pkg/psmdb/service_test.go
  pkg/version/server.go
  pkg/version/version.go
  pkg/version/version.txt
  pkg/version/version_test.go
  version/version.go
Labels: size/L, tests

#1937 K8SPSMDB-1265: Update main branch after 1.20.0 release
  deploy/cr-minimal.yaml
  deploy/cr.yaml
  e2e-tests/upgrade-consistency-sharded-tls/compare/service_some-name-cfg-1210.yml
  e2e-tests/upgrade-consistency-sharded-tls/compare/service_some-name-rs0-1210.yml
  e2e-tests/upgrade-consistency-sharded-tls/compare/statefulset_some-name-cfg-1191-oc.yml
  e2e-tests/upgrade-consistency-sharded-tls/compare/statefulset_some-name-cfg-1191.yml
  e2e-tests/upgrade-consistency-sharded-tls/compare/statefulset_some-name-cfg-1200-oc.yml
  e2e-tests/upgrade-consistency-sharded-tls/compare/statefulset_some-name-cfg-1200.yml
  e2e-tests/upgrade-consistency-sharded-tls/compare/statefulset_some-name-cfg-1210-oc.yml
  e2e-tests/upgrade-consistency-sharded-tls/compare/statefulset_some-name-cfg-1210.yml
  e2e-tests/upgrade-consistency-sharded-tls/compare/statefulset_some-name-rs0-1191-oc.yml
  e2e-tests/upgrade-consistency-sharded-tls/compare/statefulset_some-name-rs0-1191.yml
  e2e-tests/upgrade-consistency-sharded-tls/compare/statefulset_some-name-rs0-1200-oc.yml
  e2e-tests/upgrade-consistency-sharded-tls/compare/statefulset_some-name-rs0-1200.yml
  e2e-tests/upgrade-consistency-sharded-tls/compare/statefulset_some-name-rs0-1210-oc.yml
  e2e-tests/upgrade-consistency-sharded-tls/compare/statefulset_some-name-rs0-1210.yml
  e2e-tests/upgrade-consistency-sharded-tls/conf/some-name.yml
  e2e-tests/upgrade-consistency-sharded-tls/run
  e2e-tests/upgrade-consistency/compare/service_some-name-rs0-1210.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-rs0-1210-oc.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-rs0-1210.yml
  e2e-tests/upgrade-consistency/conf/some-name-rs0.yml
  e2e-tests/upgrade-consistency/run
  pkg/controller/perconaservermongodb/suite_test.go
  pkg/controller/perconaservermongodb/testdata/reconcile-statefulset/cfg-arbiter.yaml
  pkg/controller/perconaservermongodb/testdata/reconcile-statefulset/cfg-mongod.yaml
  pkg/controller/perconaservermongodb/testdata/reconcile-statefulset/cfg-nv.yaml
  pkg/controller/perconaservermongodb/testdata/reconcile-statefulset/rs0-arbiter.yaml
  pkg/controller/perconaservermongodb/testdata/reconcile-statefulset/rs0-mongod.yaml
  pkg/controller/perconaservermongodb/testdata/reconcile-statefulset/rs0-nv.yaml
Labels: size/L, tests

#1939 K8SPSMDB-1344: Add size into backup status
  config/crd/bases/psmdb.percona.com_perconaservermongodbbackups.yaml
  config/crd/bases/psmdb.percona.com_perconaservermongodbrestores.yaml
  deploy/bundle.yaml
  deploy/crd.yaml
  deploy/cw-bundle.yaml
  e2e-tests/version-service/conf/crd.yaml
  pkg/apis/psmdb/v1/perconaservermongodbbackup_types.go
  pkg/controller/perconaservermongodbbackup/backup.go
Labels: size/M, tests

#1938 K8SPSMDB-1318: Support concurrent reconciles
  cmd/manager/main.go
  deploy/bundle.yaml
  deploy/cw-bundle.yaml
  deploy/cw-operator.yaml
  deploy/operator.yaml
Labels: size/S

#1915 K8SPSMDB-1308: Improve physical restore logs
  build/physical-restore-ps-entry.sh
  e2e-tests/functions
Labels: size/M, tests, build

#1925 K8SPSMDB-723: Hidden replicaset members
  config/crd/bases/psmdb.percona.com_perconaservermongodbs.yaml
  deploy/bundle.yaml
  deploy/cr.yaml
  deploy/crd.yaml
  deploy/cw-bundle.yaml
  e2e-tests/functions
  e2e-tests/non-voting-and-hidden/compare/find.json
  e2e-tests/non-voting-and-hidden/compare/statefulset_nonvoting-rs0-nv.yml
  e2e-tests/non-voting-and-hidden/compare/statefulset_some-name-rs0-hidden.yml
  e2e-tests/non-voting-and-hidden/compare/statefulset_some-name-rs0-nv-oc.yml
  e2e-tests/non-voting-and-hidden/compare/statefulset_some-name-rs0-nv.yml
  e2e-tests/non-voting-and-hidden/compare/statefulset_some-name-rs0.yml
  e2e-tests/non-voting-and-hidden/conf/backup-minio.yml
  e2e-tests/non-voting-and-hidden/conf/restore.yml
  e2e-tests/non-voting-and-hidden/conf/some-name.yml
  e2e-tests/non-voting-and-hidden/run
  e2e-tests/non-voting/conf/nonvoting-rs0.yml
  e2e-tests/non-voting/run
  e2e-tests/run
  e2e-tests/run-distro.csv
  e2e-tests/run-pr.csv
  e2e-tests/run-release.csv
  e2e-tests/version-service/conf/crd.yaml
  pkg/apis/psmdb/v1/psmdb_defaults.go
  pkg/apis/psmdb/v1/psmdb_types.go
  pkg/apis/psmdb/v1/zz_generated.deepcopy.go
  pkg/controller/perconaservermongodb/mgo.go
  pkg/controller/perconaservermongodb/psmdb_controller.go
  pkg/controller/perconaservermongodb/smart.go
  pkg/controller/perconaservermongodb/statefulset.go
  pkg/controller/perconaservermongodb/statefulset_test.go
  pkg/controller/perconaservermongodb/status.go
  pkg/controller/perconaservermongodb/testdata/reconcile-statefulset/cfg-hidden.yaml
  pkg/controller/perconaservermongodb/testdata/reconcile-statefulset/rs0-hidden.yaml
  pkg/controller/perconaservermongodbrestore/physical.go
  pkg/naming/labels.go
  pkg/naming/naming.go
  pkg/psmdb/getters.go
  pkg/psmdb/mongo/mongo.go
  pkg/psmdb/mongos.go
  pkg/psmdb/statefulset.go
Labels: size/XXL, tests

#1945 K8SPSMDB-1262: Fix demand-backup-fs on openshift
  e2e-tests/demand-backup-fs/conf/nfs-server.yml
  e2e-tests/demand-backup-fs/conf/rbac-oc.yml
  e2e-tests/demand-backup-fs/conf/some-name-oc.yml
  e2e-tests/demand-backup-fs/conf/some-name.yml
  e2e-tests/demand-backup-fs/run
Labels: size/L, tests

#1936 K8SPSMDB-297 support persistent logs
  build/Dockerfile
  build/init-entrypoint.sh
  build/logcollector/entrypoint.sh
  build/logcollector/fluentbit/custom/default.conf
  build/logcollector/fluentbit/fluentbit.conf
  build/logcollector/fluentbit/fluentbit_mongo.conf
  build/logcollector/fluentbit/parsers_multiline.conf
  build/logcollector/logrotate/logrotate.conf
  build/ps-entry.sh
  config/crd/bases/psmdb.percona.com_perconaservermongodbs.yaml
  deploy/bundle.yaml
  deploy/cr.yaml
  deploy/crd.yaml
  deploy/cw-bundle.yaml
  e2e-tests/init-deploy/compare/statefulset_another-name-rs0-4-oc.yml
  e2e-tests/init-deploy/compare/statefulset_another-name-rs0-oc.yml
  e2e-tests/init-deploy/compare/statefulset_another-name-rs0.yml
  e2e-tests/init-deploy/conf/another-name-rs0.yml
  e2e-tests/init-deploy/run
  e2e-tests/version-service/conf/crd.yaml
  pkg/apis/psmdb/v1/psmdb_defaults_test.go
  pkg/apis/psmdb/v1/psmdb_types.go
  pkg/apis/psmdb/v1/zz_generated.deepcopy.go
  pkg/controller/perconaservermongodb/psmdb_controller.go
  pkg/controller/perconaservermongodb/statefulset.go
  pkg/controller/perconaservermongodb/testdata/reconcile-statefulset/cfg-arbiter.yaml
  pkg/controller/perconaservermongodb/testdata/reconcile-statefulset/cfg-hidden.yaml
  pkg/controller/perconaservermongodb/testdata/reconcile-statefulset/cfg-mongod.yaml
  pkg/controller/perconaservermongodb/testdata/reconcile-statefulset/cfg-nv.yaml
  pkg/controller/perconaservermongodb/testdata/reconcile-statefulset/rs0-arbiter.yaml
  pkg/controller/perconaservermongodb/testdata/reconcile-statefulset/rs0-hidden.yaml
  pkg/controller/perconaservermongodb/testdata/reconcile-statefulset/rs0-mongod.yaml
  pkg/controller/perconaservermongodb/testdata/reconcile-statefulset/rs0-nv.yaml
  pkg/psmdb/config/const.go
  pkg/psmdb/container.go
  pkg/psmdb/logcollector/container.go
  pkg/psmdb/logcollector/container_test.go
  pkg/psmdb/statefulset.go
Labels: size/XXL, tests, build
