Repository percona/percona-server-mongodb-operator, pull requests merged in 2025-01, with the labels that each got.

#1770 K8SPSMDB-1164: Prevent $external DB user from dealing with passwords
  pkg/apis/psmdb/v1/psmdb_types.go
  pkg/controller/perconaservermongodb/custom_users.go
Labels: size/M

#1773 K8SPSMDB-1109: Fix demand-backup-fs on EKS
  e2e-tests/demand-backup-fs/run
Labels: size/S

#1775 K8SPSMDB-1248 Add wait_for_running check after cluster creation in self-healing-chaos tests
  e2e-tests/self-healing-chaos/run
Labels: size/XS

#1774 CLOUD-881: Use release_versions in Makefile release rule
  Makefile
Labels: size/XS

#1777 K8SPSMDB-1224: Update images and versions for 1.19.0 release
  Makefile
  deploy/bundle.yaml
  deploy/cr-minimal.yaml
  deploy/cr.yaml
  deploy/cw-bundle.yaml
  deploy/cw-operator.yaml
  deploy/operator.yaml
  e2e-tests/functions
  e2e-tests/release_versions
  pkg/controller/perconaservermongodb/suite_test.go
  pkg/controller/perconaservermongodb/testdata/reconcile-statefulset/cfg-arbiter.yaml
  pkg/controller/perconaservermongodb/testdata/reconcile-statefulset/cfg-mongod.yaml
  pkg/controller/perconaservermongodb/testdata/reconcile-statefulset/cfg-nv.yaml
  pkg/controller/perconaservermongodb/testdata/reconcile-statefulset/rs0-arbiter.yaml
  pkg/controller/perconaservermongodb/testdata/reconcile-statefulset/rs0-mongod.yaml
  pkg/controller/perconaservermongodb/testdata/reconcile-statefulset/rs0-nv.yaml
Labels: size/L

#1779 K8SPSMDB-1224: Fix secretKeyRef key in demand-backup-eks-credentials-irsa test
  e2e-tests/demand-backup-eks-credentials-irsa/compare/statefulset_some-name-rs0.yml
Labels: size/XS

#1784 K8SPSMDB-1109: Fix demand-backup-fs in Azure
  e2e-tests/demand-backup-fs/run
Labels: size/XS

#1780 Update codeowners
  .e2eignore
  .github/CODEOWNERS
  README.md
Labels: size/S

#1788 K8SPSMDB-1224: Update tests to Mongo 8.0
  Makefile
  e2e-tests/demand-backup-fs/conf/some-name.yaml
  e2e-tests/replset-overrides/conf/some-name-overridden.yml
  e2e-tests/replset-overrides/conf/some-name-override-priority.yml
  e2e-tests/replset-overrides/conf/some-name.yml
  e2e-tests/version-service/conf/operator.9.9.9.psmdb-operator.json
  e2e-tests/version-service/run
  pkg/psmdb/backup/testdata/cr-with-pbm-config.yaml
Labels: size/S

#1781 K8SPSMDB-1249: Fix smart update for pods that are not member of replset
  Makefile
  config/crd/bases/psmdb.percona.com_perconaservermongodbs.yaml
  deploy/bundle.yaml
  deploy/crd.yaml
  deploy/cw-bundle.yaml
  e2e-tests/default-cr/run
  e2e-tests/preinit-updates/conf/some-name.yml
  e2e-tests/preinit-updates/run
  e2e-tests/run-pr.csv
  e2e-tests/run-release.csv
  e2e-tests/version-service/conf/crd.yaml
  pkg/apis/psmdb/v1/psmdb_types.go
  pkg/apis/psmdb/v1/zz_generated.deepcopy.go
  pkg/controller/perconaservermongodb/finalizers.go
  pkg/controller/perconaservermongodb/mgo.go
  pkg/controller/perconaservermongodb/psmdb_controller.go
  pkg/controller/perconaservermongodb/smart.go
  pkg/controller/perconaservermongodb/status.go
Labels: size/L

#1785 CLOUD-869 invert the logic and make it an early return(moving to top), reducing nested ifs.
  Jenkinsfile
Labels: size/M

#1789 K8SPSMDB-1224 add credentialsSecret to S3 configuration and apply storage secrets in run script
  e2e-tests/pitr-sharded/conf/eks-some-name-rs0.yml
  e2e-tests/pitr-sharded/run
Labels: size/XS

#1792 K8SPSMDB-1224 - Fix default-cr test in CW
  e2e-tests/default-cr/run
Labels: size/XS

#1795 K8SPSMDB-1224 Add retry mechanism for AWS CLI command in upgrade run script
  e2e-tests/upgrade/run
Labels: size/XS

#1796 K8SPSMDB-1224 - Fix Openshift Tests
  e2e-tests/expose-sharded/compare/statefulset_some-name-rs0-oc.yml
  e2e-tests/expose-sharded/compare/statefulset_some-name-rs0-sharding-disabled-oc.yml
  e2e-tests/expose-sharded/compare/statefulset_some-name-rs0-sharding-enabled-oc.yml
  e2e-tests/upgrade-consistency-sharded-tls/compare/statefulset_some-name-cfg-1170-oc.yml
  e2e-tests/upgrade-consistency-sharded-tls/compare/statefulset_some-name-cfg-1180-oc.yml
  e2e-tests/upgrade-consistency-sharded-tls/compare/statefulset_some-name-rs0-1170-oc.yml
  e2e-tests/upgrade-consistency-sharded-tls/compare/statefulset_some-name-rs0-1180-oc.yml
Labels: size/S

#1803 K8SPSMDB-1224: skip demand-backup-fs test on Openshift
  e2e-tests/demand-backup-fs/run
Labels: size/XS

#1804 K8SPSMDB-1224 fix upgrade-sharded test by increasing retry count
  e2e-tests/upgrade-sharded/run
Labels: size/XS

#1778 K8SPSMDB-1224: Release 1.19.0
  Makefile
  deploy/bundle.yaml
  deploy/cr-minimal.yaml
  deploy/cr.yaml
  deploy/cw-bundle.yaml
  deploy/cw-operator.yaml
  deploy/operator.yaml
  e2e-tests/default-cr/run
  e2e-tests/demand-backup-eks-credentials-irsa/run
  e2e-tests/demand-backup-fs/conf/some-name.yaml
  e2e-tests/demand-backup-fs/run
  e2e-tests/expose-sharded/compare/statefulset_some-name-rs0-oc.yml
  e2e-tests/expose-sharded/compare/statefulset_some-name-rs0-sharding-disabled-oc.yml
  e2e-tests/expose-sharded/compare/statefulset_some-name-rs0-sharding-enabled-oc.yml
  e2e-tests/functions
  e2e-tests/pitr-sharded/conf/eks-some-name-rs0.yml
  e2e-tests/pitr-sharded/run
  e2e-tests/release_versions
  e2e-tests/replset-overrides/conf/some-name-overridden.yml
  e2e-tests/replset-overrides/conf/some-name-override-priority.yml
  e2e-tests/replset-overrides/conf/some-name.yml
  e2e-tests/upgrade-consistency-sharded-tls/compare/statefulset_some-name-cfg-1170-oc.yml
  e2e-tests/upgrade-consistency-sharded-tls/compare/statefulset_some-name-cfg-1180-oc.yml
  e2e-tests/upgrade-consistency-sharded-tls/compare/statefulset_some-name-rs0-1170-oc.yml
  e2e-tests/upgrade-consistency-sharded-tls/compare/statefulset_some-name-rs0-1180-oc.yml
  e2e-tests/upgrade-sharded/run
  e2e-tests/upgrade/run
  e2e-tests/version-service/conf/operator.9.9.9.psmdb-operator.json
  e2e-tests/version-service/run
  pkg/controller/perconaservermongodb/suite_test.go
  pkg/controller/perconaservermongodb/testdata/reconcile-statefulset/cfg-arbiter.yaml
  pkg/controller/perconaservermongodb/testdata/reconcile-statefulset/cfg-mongod.yaml
  pkg/controller/perconaservermongodb/testdata/reconcile-statefulset/cfg-nv.yaml
  pkg/controller/perconaservermongodb/testdata/reconcile-statefulset/rs0-arbiter.yaml
  pkg/controller/perconaservermongodb/testdata/reconcile-statefulset/rs0-mongod.yaml
  pkg/controller/perconaservermongodb/testdata/reconcile-statefulset/rs0-nv.yaml
  pkg/psmdb/backup/testdata/cr-with-pbm-config.yaml
Labels: size/L

#1805 K8SPSMDB-1224 - Update main branch after 1.19.0 release
  deploy/bundle.yaml
  deploy/cr-minimal.yaml
  deploy/cr.yaml
  deploy/cw-bundle.yaml
  deploy/cw-operator.yaml
  deploy/operator.yaml
  e2e-tests/upgrade-consistency/compare/service_some-name-rs0-1200.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-rs0-1200-oc.yml
  e2e-tests/upgrade-consistency/compare/statefulset_some-name-rs0-1200.yml
  e2e-tests/upgrade-consistency/conf/some-name-rs0.yml
  e2e-tests/upgrade-consistency/run
  pkg/controller/perconaservermongodb/suite_test.go
  pkg/controller/perconaservermongodb/testdata/reconcile-statefulset/cfg-arbiter.yaml
  pkg/controller/perconaservermongodb/testdata/reconcile-statefulset/cfg-mongod.yaml
  pkg/controller/perconaservermongodb/testdata/reconcile-statefulset/cfg-nv.yaml
  pkg/controller/perconaservermongodb/testdata/reconcile-statefulset/rs0-arbiter.yaml
  pkg/controller/perconaservermongodb/testdata/reconcile-statefulset/rs0-mongod.yaml
  pkg/controller/perconaservermongodb/testdata/reconcile-statefulset/rs0-nv.yaml
  version/version.go
Labels: size/M

#1809 CLOUD-869 Inverting the check to test whether the previous build's result is anything other than SUCCESS
  Jenkinsfile
Labels: size/XS

#1812 K8SPSMDB-1267 Remove unused function: NewRestoreJob(cr *api.PerconaServerMongoDBRestore) Job
  pkg/psmdb/backup/backup.go
Labels: size/S

#1817 K8SPSMDB-1270 gitignore vendor since it is not used
  .gitignore
Labels: size/XS
