Repository percona/percona-server-mongodb-operator, pull requests merged in 2025-09, with the labels that each got.

#2026 K8SPSMDB-1443 use the latest released ver of PMM2
  e2e-tests/functions
Labels: size/XS, tests

#2043 K8SPSMDB-1344 unit test backup status
  Makefile
  go.mod
  go.sum
  pkg/controller/perconaservermongodbbackup/backup_test.go
  pkg/controller/perconaservermongodbbackup/mock_pbm.go
Labels: size/L, dependencies

#2039 K8SPSMDB-1339: add validation to `.spec.pitr.date`
  .github/workflows/reviewdog.yml
  .github/workflows/test.yml
  Jenkinsfile
  Makefile
  build/Dockerfile
  config/crd/bases/psmdb.percona.com_perconaservermongodbbackups.yaml
  config/crd/bases/psmdb.percona.com_perconaservermongodbrestores.yaml
  config/crd/bases/psmdb.percona.com_perconaservermongodbs.yaml
  deploy/bundle.yaml
  deploy/crd.yaml
  deploy/cw-bundle.yaml
  e2e-tests/version-service/conf/crd.yaml
  go.mod
  go.sum
  pkg/apis/psmdb/v1/perconaservermongodbrestore_types.go
  pkg/controller/perconaservermongodbbackup/psmdb_backup_controller.go
  pkg/controller/perconaservermongodbrestore/helpers_test.go
  pkg/controller/perconaservermongodbrestore/psmdb_restore_controller.go
  pkg/controller/perconaservermongodbrestore/psmdb_restore_controller_test.go
  pkg/controller/perconaservermongodbrestore/suite_test.go
Labels: size/L, tests, dependencies, ci, build

#2048 K8SPSMDB-1268 properly restart pods when pmm token is rotated
  e2e-tests/monitoring-pmm3/run
  pkg/apis/psmdb/v1/psmdb_types.go
  pkg/controller/perconaservermongodb/psmdb_controller.go
  pkg/controller/perconaservermongodb/users.go
  pkg/psmdb/pmm/pmm.go
Labels: size/M, tests

#2052 K8SPSMDB-1268 on pmm3 e2e, ensure that all rs0 pods do not throw token errors
  e2e-tests/monitoring-pmm3/run
  pkg/controller/perconaservermongodb/users.go
Labels: size/S, tests

#2054 K8SPSMDB-1339 make pitr date validation more restrictive
  config/crd/bases/psmdb.percona.com_perconaservermongodbrestores.yaml
  deploy/bundle.yaml
  deploy/crd.yaml
  deploy/cw-bundle.yaml
  e2e-tests/version-service/conf/crd.yaml
  pkg/apis/psmdb/v1/perconaservermongodbrestore_types.go
  pkg/controller/perconaservermongodbrestore/psmdb_restore_controller_test.go
Labels: size/M, tests

#2049 K8SPSMDB-1468 migrate LDAP e2e tests from bitnami/openldap to osixia/openldap
  e2e-tests/ldap-tls/conf/mongod.conf
  e2e-tests/ldap-tls/conf/openldap.yaml
  e2e-tests/ldap-tls/run
  e2e-tests/ldap/conf/mongod.conf
  e2e-tests/ldap/conf/openldap.yaml
  e2e-tests/ldap/run
Labels: size/L, tests

#2059 K8SPSMDB-1308: Use shorter sleep time in physical restore
  build/physical-restore-ps-entry.sh
  e2e-tests/functions
Labels: size/M, tests, build

#2061 K8SPSMDB-1480: Fix vote distribution algorithm
  pkg/psmdb/mongo/mongo.go
  pkg/psmdb/mongo/mongo_test.go
Labels: size/XXL

#2064 K8SPSMDB-1412: Bump PBM to v2.11.0
  go.mod
  go.sum
Labels: size/L, dependencies
